.alloted-bars {
    width: 100%;
    height: 0px;
    margin: 5px 0 0;
    .mile {
        position: absolute;
        top: 0;
        left: 33px;
        p {
            color: #6b6b6b;
            font-size: 14px;
            text-align: left;
            margin: 1px 0 2px;
            font-weight: 500;
        }
    }
    .miles {
        position: absolute;
        top: 0;
        right: 28px;
        left: auto;
    }
    .progress {
        width: 100%;
        height: 50px;
        border: 0;
        overflow: visible;
        background: transparent;
        box-shadow: none;
        padding: 0 18px;
        .progress-bar {
            position: relative;
            width: 25%;
            box-shadow: none;
            background: transparent;
        }
        .bar-color {
            height: 3px;
            margin: 20px 0 30px;
            background: #ff1d25;
            // background: linear-gradient(to right,#5fb6ac,$button-color);
        }
        .circle {
            margin: 0;
            padding: 0;
            font-size: 14px;
            color: #fffefe;
            background-color: #cccccc;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            position: absolute;
            top: 23px;
            text-align: center;
            line-height: 32px;
            /* vertical-align: middle; */
            left: 15px;
            transform: translate(-50%,-50%);
        }
        .circles {
            margin: 0;
            padding: 0;
            font-size: 16px;
            color: #fffefe;
            background-color: #cccccc;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            position: absolute;
            top: 23px;
            text-align: center;
            line-height: 32px;
            /* vertical-align: middle; */
            right: -20px;
            transform: translate(-50%,-50%);
        }
        // .lgcolors {
        //     background-image: linear-gradient(to right,$button-color,#4ce2b7);
        // }
        .green-color {
            background-color: #666666;
            -webkit-box-shadow: inset 0 0 6px 1px rgba(0,0,0,0.12);
            -moz-box-shadow: inset 0 0 6px 1px rgba(0,0,0,0.12);
            box-shadow: inset 0 0 6px 1px rgba(0,0,0,0.12);
        }
        // .lgcolor {
        //     background-image: linear-gradient(to right,#4ce2b7,$button-color);
        // }
        .blue-color {
            background-color: #666666;
            -webkit-box-shadow: inset 0 0 6px 3px rgba(0, 0, 0, 0.12);
            -moz-box-shadow: inset 0 0 6px 3px rgba(0, 0, 0, 0.12);
            box-shadow: inset 0 0 6px 3px rgba(0, 0, 0, 0.12);
        }
    }
}
