.sidemenu{
  position: relative;
  .order{
    background-color: #069;
    .order-details{
      .checkbox{
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0;
      }
    }
  }
}
