.orders, .view_orders, .sellers, .buyers, .request-sellers, .request-buyers, .view-request-sellers, .view-request-buyers{
  .order, .view_order, .seller , .buyer{
    .search-content{margin-bottom: 20px;
            .search-tuto, {
               display: flex;
               justify-content: flex-end;
               align-items: center;
               height: 50px;
              .search-inside{
                        border: 1px solid;
                        border-radius: 20px;
                        padding: 6px;
                        margin-right: 30px;
                        width:40%;


                      input{
                        border: none;
                      }
                      span{
                        i{
                          border: none;
                          &:hover{
                            background-color: #fff;
                          }
                        }
                      }
                    }
              .dropdown-inside{
                    .label-btn{
                      border: none;
                    }

                  }


            }
            .period{

              display: flex;
              height:50px;
              align-items:center;
              border: 1px solid;
              border-radius: 20px;
              width:400px;
              padding-left: 25px;

              .date{
                background-color: #ffffff;
                width:140px;
                border:none;
                .cal-btn{
                  background: none;
                  border:none;
                  }
                  .cal-input{
                      border:none;
                  }
                }


            }
    }
  }
    .order-details, .seller-details, .buyer-details, .request-seller-details, .request-buyer-details{
      border-top: solid 10px $panel-border;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 20px;
      padding-right: 20px;
      background-color: $box-background;
      color: $panel-border;
       .magic-form{
         display: inline-block;
         }
        .detail-heading{
           margin-bottom: 0px;
           font-weight: bold;
          }
        .date{
          margin-top: 5px;
        }
        .starred{

             margin-left: 40px;
             cursor:pointer;
             font-size: 20px;
             color: #B3B3B3;
        }

      }
      .order-table, .request-seller-table, .request-buyer-table{
           background-color: #F8F8F8;
           tr{width: 100%;}
           td{width: 25%;}
         .view{
          text-decoration: underline;
          cursor: pointer;
          color: $panel-border;

        }
      }
       .seller-table, .buyer-table{
         @extend .order-table;
         td{ width:20%; }

       }




  }
         // this css is for page view_orders
.view_orders{
    .view_order{
      .order-heading{
        border-top: solid 10px $panel-border;
        padding-top: 5px;
        padding-bottom: 25px;
        padding-left: 20px;
        padding-right: 20px;
        background-color: $box-background;
        margin-bottom: 25px;
          .checkbox{
              margin-top: 0px;
              margin-bottom: 0px;
              }

        }
      .details{
        .head{
          position: relative;
          cursor: pointer;
          margin: 0;
        &:after{
            border-right: 35px solid transparent;
            border-left: 35px solid transparent;
            border-top: 30px solid #E6E6E6;
            position: absolute;
            z-index: 10;
            left: 10%;
            /* bottom: -55px; */
            transform: translatex(0);
            top: 100%;
          }
        }
        .info{
          background-color: #F8F8F8;
          padding: 40px 0 10px 20px;
          line-height: 30px;
          font-size: 12px;
          margin-bottom: 7px;
        }
        h2{
          background-color:#E6E6E6;
          font-size: 18px;
          padding: 10px;
          color: #043E77;
          border-top: 6px solid;
          margin: 0;
        }
      }
      .table thead{
        background-color:#E6E6E6;
        border-top: 6px solid $panel-border; }
        tbody{
            background-color: #F8F8F8;
            border:1px solid #000000;

        }

        .comment-section{
          border-top: 6px solid $panel-border;
          background-color: #F8F8F8;
          height: 200px;
          margin-top: 40px;
          margin-bottom: 100px;
          padding-top: 10px;
          padding-left: 25px;
          padding-right:25px;
          color: #043E77;
          .form-group{}
          .add{
            text-decoration: underline;
            cursor: pointer;
          }
        }
        .summary{
          padding: 10px 30px;
        background-color: #F8F8F8;
          height: 200px;
          margin-top: 40px;
          margin-bottom: 100px;
          .summary-data{
            margin-bottom: 0px;
            height: 100%;
            text-align: left;
            td{width:50%;}

          }

        }
    }
  }

  // --------------this css is for buyers and sellers----------

  .sellers, .buyers
  {
    .seller, .buyer{
      .search-top{
        border: 1px solid;
        border-radius: 20px;
        padding: 6px;
        input{
          border: none;
        }
        span{
          i{
            border: none;
            &:hover{
              background-color: #fff;
            }
          }
        }
      }
      .filter{
        margin-right: 40px;
        margin-top: 12px;
        label {font-weight: inherit;}
      }
      .more-opt{
        border-left: 1px solid #ccc;
        float: right;
        padding: 12px;
        display: inline-flex;
        input{
          width: 20px;
          height: 20px;
          margin: 0 10px 0 0;
          }
        }
        .carrot{
            margin-top: -3px;
            font-size: 25px;
            margin-left: 10px;
            }
    }
  }

  // -----------this css is for view-sellers and view-buyers-----------
  .view-sellers, .view-buyers{
    .view-seller, .view-buyer{
      .search-content{
        margin-bottom: 25px;
      .period{

        display: inline-flex;
        height: 50px;
        align-items: center;
        border: 1px solid;
        border-radius: 20px;
        width: 100%;
        padding-left: 25px;
        .search-i{
          i{
            border: none;
            border-left: 1px solid;
            &:hover{
              background-color: #fff;
            }
          }
        }


        .date{
          background-color: #ffffff;
          width: 40%;
          border: none;
          .cal-btn{
            background: none;
            border:none;
            }
            .cal-input{
                border:none;
            }
          }
      }
      .more-opt{
        border-left: 1px solid #ccc;
        float: right;
        padding: 12px;
        display: inline-flex;
        input{
          width: 20px;
          height: 20px;
          margin: 0 10px 0 0;
        }
        span{
          margin: 6px 0 0 8px;
          .caret {
              border-top: 8px dashed !important;
              border-right: 8px solid transparent !important;
              border-left: 8px solid transparent !important;
          }
        }
      }

    }
    .buyer-details{
      border-top: solid 10px $panel-border;
      padding-top: 5px;
      padding-bottom: 25px;
      padding-left: 20px;
      padding-right: 20px;
      background-color: $box-background;
        .checkbox{
            margin-top: 0px;
            margin-bottom: 0px;
            }
        .starred{
             margin-top: -4px;
             margin-left: 40px;
             cursor:pointer;
             font-size: 20px;
        }

      }
  .stat-row-1{background-color: yellow;
              height:200px;
              margin-left: 0px;
              margin-right: 0px;
              border-bottom: 1px solid #000;
              padding-top: 20px;
              padding-bottom:20px;
              p{
                font-weight: bold;
              }
              }


              .stat-cols{

                padding-right: 0px;
                padding-left:0px;
                height:100%;}

               .diagram{
                 height: 140px;
              }

              .order-content{
                 background-color: aqua;
                  height:100%;
                border-right:1px solid;
                }
                .refund-content{
                  border-right:1px solid;
                  height:100%;
                }
                .address-content{
                    padding-left: 20px;
                    padding-right:20px;
                    height:100%;
                }
      .stat-row-2{
              height:350px;
              padding-top: 20px;
              padding-bottom:20px;
              background-color: yellow;
              margin-bottom: 40px;
              p{
                font-weight: bold;
              }
              .diagram{
                 height: 290px;

             }
            }


              .row{
                height:100%;
                margin-left: 0px;
                margin-right: 0px;
              }
              .sale-content{
                height: 100%;
                  border-right:1px solid;
              }
              .frequancy-content{
                background-color: aqua;
                height: 100%;


              }

          table{
          width:80%;}
    }

  }
  // -------this css is for request-seller and request-buyer---------------
  .request-sellers, .request-buyers{
    .request-seller, .request-buyer{
      .search-content{
        margin-bottom: 25px;
      .period{

        display: inline-flex;
        height: 50px;
        align-items: center;
        border: 1px solid;
        border-radius: 20px;
        width: 100%;
        padding-left: 25px;
        .search-i{
          i{
            border: none;
            border-left: 1px solid;
            &:hover{
              background-color: #fff;
            }
          }
        }


        .date{
          background-color: #ffffff;
          width: 40%;
          border: none;
          .cal-btn{
            background: none;
            border:none;
            }
            .cal-input{
                border:none;
            }
          }
      }
      .more-opt{
        border-left: 1px solid #ccc;
        float: right;
        padding: 12px;
        display: inline-flex;
        input{
          width: 20px;
          height: 20px;
          margin: 0 10px 0 0;
        }
        span{
          margin: 6px 0 0 8px;
          .caret {
              border-top: 8px dashed !important;
              border-right: 8px solid transparent !important;
              border-left: 8px solid transparent !important;
          }
        }
      }

    }

    }
  }

  // ----------this css is for view-request-sellers and view-reuest-buyers ----------
  .view-request-sellers, .view-request-buyers{
    .view-request-seller, .view-request-buyer{
              .search-content{
                margin-bottom: 25px;
              .period{

                display: inline-flex;
                height: 50px;
                align-items: center;
                border: 1px solid;
                border-radius: 20px;
                width: 100%;
                padding-left: 25px;
                .search-i{
                  i{
                    border: none;
                    border-left: 1px solid;
                    &:hover{
                      background-color: #fff;
                    }
                  }
                }


                .date{
                  background-color: #ffffff;
                  width: 40%;
                  border: none;
                  .cal-btn{
                    background: none;
                    border:none;
                    }
                    .cal-input{
                        border:none;
                    }
                  }
              }
          }


        .view-request-seller-table, .view-request-buyer-table{
          background-color: #F8F8F8;
          tr{width: 100%;}
          td{width: 33.33%;}
        }

        .progress{
          background-color: red;
          height:50px;
          margin-bottom: 20px;
        }
        .certifications{
          background-color: $box-background;
          height: 800px;
          margin-bottom: 40px;
          .certification-header{
            height:40px;
            border-bottom: 1px solid;
            padding-left: 10px;
            padding-top: 20px;
          }
          .col-1{
            padding-right: 0px;
          }
          .col-2{
            padding-left: 0px;
            padding-right: 0px;}
          .col-3{
            padding-left: 0px;
          }
        .abc{
          height: 760px;

          padding: 15px;
          p{text-align:center;}
          .cert-image{
            background-color: red;
            height: 650px;
            margin-bottom: 10px;
          }

          }
        }
        .comment-area{
          text-align: center;
          margin-bottom: 40px;
                    .form-group{
                            display: inline-block;
                            width:50%;
                            .form-control{
                              background-color: #F2F2F2;
                              }
                      .comment{
                              color: $panel-border;
                              font-weight: normal;
                            }

                          }
                    }
        .accept-reject{
          text-align: center;
          margin-bottom: 40px;
          button{
            display: inline-block;
            background-color: $panel-border;
          }
        }
    }
  }
// ---------------this css is for payment-to-sellers  ---------------------

.payment-to-sellers{
  .payment-to-seller{
                .search-content{
                  margin-bottom: 25px;
                .period{

                  display: inline-flex;
                  height: 50px;
                  align-items: center;
                  border: 1px solid;
                  border-radius: 20px;
                  width: 100%;
                  padding-left: 25px;
                  .search-i{
                    i{
                      border: none;
                      border-left: 1px solid;
                      &:hover{
                        background-color: #fff;
                      }
                    }
                  }


                  .date{
                    background-color: #ffffff;
                    width: 40%;
                    border: none;
                    .cal-btn{
                      background: none;
                      border:none;
                      }
                      .cal-input{
                          border:none;
                      }
                    }
                }
                .more-opt{
                  border-left: 1px solid #ccc;
                  float: right;
                  padding: 12px;
                  display: inline-flex;
                  input{
                    width: 20px;
                    height: 20px;
                    margin: 0 10px 0 0;
                  }
                  span{
                    margin: 6px 0 0 8px;
                    .caret {
                        border-top: 8px dashed !important;
                        border-right: 8px solid transparent !important;
                        border-left: 8px solid transparent !important;
                    }
                  }
                }

              }


              .received-sent{
                height: 100px;
                background-color: #F8F8F8;
                border-top: 12px solid;
                border-color: $panel-border;
                margin-bottom: 20px;
                .received{
                  padding: 15px;
                  font-size: 20px;
                  color: $lightblue;
                  height: 88px;
                  font-weight: bold;
                }
                .sent{
                  padding: 15px;
                  font-size: 20px;
                  color: $lightblue;
                  height: 88px;
                  font-weight: bold;
                }
              }

              .accordion-main {
                .panel{border-radius: 0px;}
                .panel-body{padding: 0px;
                background-color: #F8F8F8;}
                .panel-heading {
                  padding: 0;
                  border-radius: 0px;
                }
                .accordion-main-content {
                  .table > tbody > tr > td:last-child { font-weight: bold; }
                  .table > thead > tr>th{color: $lightblue;}
                }
              }

              .received-sent-details{
                border-top: solid 10px $panel-border;
                padding-top: 8px;
                padding-left: 20px;
                padding-right: 20px;
                padding-bottom: 2px;
                background-color: $box-background;
                  .checkbox{
                      margin-top: 0px;
                      margin-bottom: 0px;
                      }
                  .starred{
                       margin-top: -4px;
                       margin-left: 40px;
                       cursor:pointer;
                       font-size: 20px;
                  }
              }

  }
}
// --------------this css for refunf-to-buyer ---------------
.refund-to-buyers{
  .refund-to-buyer{
              .search-content{
                margin-bottom: 25px;
              .period{

                display: inline-flex;
                height: 50px;
                align-items: center;
                border: 1px solid;
                border-radius: 20px;
                width: 100%;
                padding-left: 25px;
                .search-i{
                  i{
                    border: none;
                    border-left: 1px solid;
                    &:hover{
                      background-color: #fff;
                    }
                  }
                }


                .date{
                  background-color: #ffffff;
                  width: 40%;
                  border: none;
                  .cal-btn{
                    background: none;
                    border:none;
                    }
                    .cal-input{
                        border:none;
                    }
                  }
              }
              .more-opt{
                border-left: 1px solid #ccc;
                float: right;
                padding: 12px;
                display: inline-flex;
                input{
                  width: 20px;
                  height: 20px;
                  margin: 0 10px 0 0;
                }
                span{
                  margin: 6px 0 0 8px;
                  .caret {
                      border-top: 8px dashed !important;
                      border-right: 8px solid transparent !important;
                      border-left: 8px solid transparent !important;
                      }
                  }
                }

            }
            .bar{
              margin-bottom: 20px;
              .total-request{
                height: 180px;
                background-color: pink   ;
              }
              .pending-request{
                height: 180px;
                background-color: pink;
              }
            }
            .refund-to-buyer-details{
              border-top: solid 10px $panel-border;
              padding-top: 5px;
              padding-bottom: 25px;
              padding-left: 20px;
              padding-right: 20px;
              background-color: $box-background;
                .checkbox{
                    margin-top: 0px;
                    margin-bottom: 0px;
                    }
                .starred{
                     margin-top: -4px;
                     margin-left: 40px;
                     cursor:pointer;
                     font-size: 20px;
                }
            }
            .refund-to-buyer-table{
                    background-color: #F8F8F8;
                    tr{width: 100%;}
                    td{width: 25%;}
                  .view{
                   text-decoration: underline;
                   cursor: pointer;
                   color: $panel-border;
                  }
                }

  }
}
// --------------this css is assign-agency-----------------
.assign-agency{
  .assign{
              .search-content{
                margin-bottom: 25px;
              .period{

                display: inline-flex;
                height: 50px;
                align-items: center;
                border: 1px solid;
                border-radius: 20px;
                width: 100%;
                padding-left: 25px;
                .search-i{
                  i{
                    border: none;
                    border-left: 1px solid;
                    &:hover{
                      background-color: #fff;
                    }
                  }
                }


                .date{
                  background-color: #ffffff;
                  width: 40%;
                  border: none;
                  .cal-btn{
                    background: none;
                    border:none;
                    }
                    .cal-input{
                        border:none;
                    }
                  }
              }
              .more-opt{
                border-left: 1px solid #ccc;
                float: right;
                padding: 12px;
                display: inline-flex;
                input{
                  width: 20px;
                  height: 20px;
                  margin: 0 10px 0 0;
                }
                span{
                  margin: 6px 0 0 8px;
                  .caret {
                      border-top: 8px dashed !important;
                      border-right: 8px solid transparent !important;
                      border-left: 8px solid transparent !important;
                      }
                  }
                }

            }
            .assign-agency-details{
              border-top: solid 10px $panel-border;
              padding-top: 5px;
              padding-bottom: 5px;
              padding-left: 20px;
              padding-right: 20px;
              background-color: $box-background;
              color:$panel-border;
                .detail-heading{
                 margin-bottom: 0px;
                 font-weight: bold;
                }
                .checkbox{
                    margin-top: 0px;
                    margin-bottom: 0px;
                    }
                .starred{
                     margin-top: -4px;
                     margin-left: 40px;
                     cursor:pointer;
                     font-size: 20px;
                     color: #B3B3B3;
                }
            }
            .assign-agency-table{
                    background-color: #F8F8F8;
                    tr{width: 100%;}
                    td{width: 20%;}
                  .view{
                   text-decoration: underline;
                   cursor: pointer;
                   font-weight: normal;
                   color: #000000;
                  }
                }
            .btn-primary{
              background-color: $panel-border;
              border-color: $panel-border;
            }
            .assign-btn{
              margin-bottom: 10px;
            }
            img{
              display:inline-block;
              vertical-align: top;
              height: 25px;
            }
            input{width:100px;}
            .accept, .reject{
              font-size: 10px;
              margin-top: 10px;
              margin-bottom: 20px;
            }

  }
}
