@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/flexslider/flexslider.css";
@import "../bower_components/font-awesome/css/font-awesome.min.css";
@import "../bower_components/fancyBox/source/jquery.fancybox.css";
@import "../bower_components/swiper/dist/css/swiper.min.css";
@import "../bower_components/smart-app-banner/smart-app-banner.css";
/* Bootstrap Variables Goes Here */
$brand-primary: #0d9dff !default;
$brand-success: #84ce3c !default;
$brand-warning: #ffec39 !default;
$brand-danger:  #fc483f !default;
$brand-info:    #000072 !default;


$darkblue: #171730 !default;
$lightblue: #1C5083 !default;
$panel-border: #043E77 !default;
$box-background: #F2F2F2 !default;

$magic-radio-size: 20px !default;
$magic-checkbox-size: 20px !default;
$magic-dot-size: 8px !default;
$magic-border-color: #c0c0c0 !default;
$magic-main-color: #51b1ac !default;
$magic-disabled-color: lighten($magic-border-color, 14%) !default;
$magic-disabled-checked-color: lighten($magic-main-color, 30%) !default;

@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
body {
  // padding-top: 18px;
  position: relative;
}

h1, h2, h3, h4, h5, h6{
  text-transform: uppercase;
}

img.loading {
  text-align: center;
  opacity: 1;
  width: 32px !important;
  height: auto;
}
img {
  opacity: 0;
  @include transition(all 300ms ease);
}
img.doneLoading {
  opacity: 1;
}
nav li:hover .dropdown-menu {
  display: block;
}
a, .btn label{
  cursor: pointer;
  @include transition(all ease 300ms);
}
//bootstrap forms
.input-lg,
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn,
.btn,
.form-control {
  border-radius: 0;
  @include box-shadow(none);
}
.form-control:focus {
  border-color: $brand-primary;
  outline: 0;
  @include box-shadow(none);
}

.body-main{
  margin-left: 200px;
  padding-top: 162px;
}

.magic-form{
  .magic-resize{
    input[type="radio"], input[type="checkbox"] {
        display: none;
    }
    label{
      max-width: 100%;
      margin-bottom: 5px;
      font-weight: normal;
      margin-left: 26px !important;
    }


    .magic-checkbox + label {
      &:before {
        border-radius: 3px;
        font-weight: 200;
      }
      &:after {
        top: 6px;
        left: -19px;
        box-sizing: border-box;
        width: 6px;
        height: 12px;
        transform: rotate(45deg);
        border-width: 2px;
        border-style: solid;
        // border-color: #069;
        content: '';
        border-top: 0;
        border-left: 0;
      }
    }
    .magic-checkbox:checked + label {
      &:before {
        border: $panel-border;
        background: $panel-border;
      }
    }
    .magic-checkbox:checked[disabled] + label {
      &:before {
        border: $magic-disabled-checked-color;
        background: $magic-disabled-checked-color;
      }
    }


    @keyframes hover-color {
      from {
        border-color: $magic-border-color;
      }

      to {
        border-color: $magic-main-color;
      }
    }

    .magic-radio,
    .magic-checkbox {
      position: relative;
      // display: none;
    }
    .magic-radio[disabled],
    .magic-checkbox[disabled] {
      cursor: not-allowed;
    }

    .magic-radio + label,
    .magic-checkbox + label {
      position: relative;
      padding: 5px 0 0 0;
      cursor: pointer;
      vertical-align: middle;
      margin: 0 0 0 26px;

      &:hover {
        &:before {
          animation-duration: 0.4s;
          animation-fill-mode: both;
          animation-name: hover-color;
        }
      }
      &:before {
        position: absolute;
        top: 3px;
        left: -26px;
        display: inline-block;
        width: $magic-checkbox-size;
        height: $magic-checkbox-size;
        content: '';
        border: 1px solid $magic-border-color;
        background-color: #fff;
        border-radius: 0;
      }
      &:after {
        position: absolute;
        display: none;
        content: '';
        color: #fff;
      }
    }

    .magic-radio[disabled] + label,
    .magic-checkbox[disabled] + label {
      cursor: not-allowed;
      color: $magic-disabled-color;
      &:hover,
      &:before,
      &:after {
        cursor: not-allowed;
      }
      &:hover {
        &:before {
          border: 1px solid $magic-disabled-color;
          animation-name: none;
        }
      }
      &:before {
        border-color: $magic-disabled-color;
      }
    }


    .magic-radio:checked + label,
    .magic-checkbox:checked + label {
      &:before {
        animation-name: none;
      }
      &:after {
        display: block;
      }
    }

    .magic-radio + label {
      &:before {
        border-radius: 50%;
      }
      &:after {
        top: 9px;
        left: -20px;
        width: $magic-dot-size;
        height: $magic-dot-size;
        border-radius: 50%;
        background: $magic-main-color;
      }
    }

    .magic-radio:checked + label {
      &:before {
        border: 1px solid $magic-main-color;
      }
      // &:after{
      //   display: block;
      // }
    }
    .magic-radio:checked[disabled] + label {
      &:before {
        border: 1px solid $magic-disabled-checked-color;
      }
      &:after {
        background: $magic-disabled-checked-color;
      }
    }
  }
}


// start header css //

header, .header1{
  position: fixed;
  z-index: 9999;
  background-color: #fff;
  padding-top: 20px;
  width: 100%;
  p{
    margin: 0;
  }
  .search-top{
    border: 1px solid #8C8C98;
    border-radius: 20px;
    padding: 6px;
    input{
      border: none;
      font-size: 12px;
    }
    span{
      i{
        border: none;
        border-left: 1px solid #8C8C98;
        color: #8C8C98;
        &:hover{
          background-color: #fff;
        }
      }
    }
  }
  .user-name{
    margin: 15px 0 0 20px;
    i{
      background-color: #D1D1D6;
      padding: 5px;
      margin: 0 10px 0 0;
      font-size: 20px;
    }
  }
  .tagboss-logo{
    img{
      margin: 0 auto;
      padding: 0 0 15px 0;
    }
  }
  .navbar {
    border-radius: 0;
    margin-bottom: 0;
   }
  .navbar-inverse {
    background-color: $darkblue;
    border: none;
    .admin-head{
      min-height: 65px;
      h1{
        color: #fff;
        font-size: 24px;
        margin: 20px 0 0 0;
      }
    }

      .date{
        color: #fff;
        margin: 24px 0 0 20px;
        text-align: left;
      }
      .icons{
        div+div{
          border-left: 1px solid #fff;
        }
      }
      .seller, .buyer{
        position: relative;
        display: inline-block;
        width: 50px;
        vertical-align: middle;
        height: 55px;
        cursor: pointer;
        i{
           background-color: #414156;
           border-radius: 20%;
           padding: 4px;
           font-size: 18px;
           color: #fff;
           margin: 8px 0 0 0;
         }
         .badge{
            display: inline-block;
            padding: 0;
            min-width: 10px;
            font-size: 12px;
            font-weight: bold;
            color: #fff;
            background-color: red;
            border-radius: 100%;
            width: 15px;
            height: 15px;
            line-height: 15px;
            text-align: center;
            top: 0;
            right: 7px;
            position: absolute;
         }
         label {font-size: 10px; color: #fff;}
    }
    label {font-size: 14px; color: #fff; cursor: pointer;}
    .h-icon{
      position: relative;
      display: inline-block;
      width: 50px;
      vertical-align: middle;
      height: 55px;
      padding: 18px;
      margin: 5px 0;
      cursor: pointer;
      i{
         font-size: 18px;
         color: #fff;
        //  margin: 8px 0 0 0;
       }
     }
    // .h-icon{
    //   position: relative;
    //   display: inline-block;
    //   top: 0;
    //   width: 50px;
    //   i{
    //      font-size: 30px;
    //      color: #fff;
    //      margin: 8px 0 0 0;
    //    }
    // }
  .resize{
    border-radius: 0;
  }
}
}

// end header css //

//
// button{
//   background-color: $lightblue;
//   color: #fff;
// }

// start login css //

.login{
  margin: 0;
    .form-login{
    padding: 22px;
    background-color: #ccc;
    border-top: 10px solid $panel-border;
    h2{
      text-transform: uppercase;
      margin-bottom: 20px;
    }
    .form-control
    { text-align: center;}
  }
  input, button{
    border: none;
    width: 75%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    &:hover{
      color: #fff;
    }
  }
  .checkbox label{
    margin: 10px;
  }
}

// end login css //

// start side menu css //

.side-menu{
  position: relative;
  .sidebar {
      position: fixed;
      top: 142px;
      bottom: 0;
      left: 0;
      z-index: 9999;
      display: block;
      padding: 20px;
      overflow-x: hidden;
      overflow-y: auto;
      background-color: #17172B;
      /* border-right: 1px solid #eee; */
      width: 200px;
      a{
        color: #fff;
        &:hover{
          color: $darkblue;
        }
      }
  }

}

// end side menu css //

// start dashboard css //

.dashboard{
  .details{
    .head{
      position: relative;
      cursor: pointer;
      margin: 0;
      background-color:#E6E6E6;
      border-top: 6px solid #043E77;
    &:after{
        content: '';
        border-right: 35px solid transparent;
        border-left: 35px solid transparent;
        border-top: 30px solid #E6E6E6;
        position: absolute;
        z-index: 10;
        left: 10%;
        /* bottom: -55px; */
        transform: translatex(0);
        top: 100%;
      }
    }
    .info{
      background-color: #F8F8F8;
      padding: 40px 0 10px 20px;
      line-height: 30px;
      font-size: 12px;
      margin-bottom: 10px;
    }
    h2{
        font-size: 16px;
        padding: 10px;
        color: #043E77;
        margin: 0;
        font-weight: 700;
    }
  }
}

// end dashboard css //





// start main all css //

span, label, i{cursor: pointer;}

.categories, .material-construct, .inspection-agencies, .add-inspetion-agency, .transporters,
.add-transporter, .ads, .add-ad, .reports, .transporter-payment, .grades-standards, .grades-standards1,
.pending-delivery{
  table tr > th, td{
    color: #1D1D35;
    padding: 10px;
    margin: 0;
    width: 10%;
  }

  a{
    color: #043E77;
    label{
      font-weight: normal;

    }
  }
  .no-border{border: none !important;}
  .border-bot{border-bottom: 1px solid #ccc;}

  .search-top{
    border: 1px solid;
    border-radius: 20px;
    padding: 6px;
    margin: 0 0 0 10px;
    input{
      border: none;
      font-size: 12px;
    }
    span{
      i{
        border-left: 1px solid #ccc !important;
        border: none;
        &:hover{
          background-color: #fff;
        }
      }
    }
  }
  .more-opt{
    border-left: 1px solid #ccc;
    float: right;
    padding: 12px;
    display: inline-flex;
    i{
       font-size: 25px;
       margin-left: 10px;
    }
    input{
      width: 20px;
      height: 20px;
      margin: 0 10px 0 0;
    }
    span{
      margin: 6px 0 0 8px;
      .caret {
          border-top: 8px dashed !important;
          border-right: 8px solid transparent !important;
          border-left: 8px solid transparent !important;
      }
    }
  }

  .details{
      margin: 15px 10px;

      .head{
        background-color: #E6E6E6;
        padding: 3px 0 0 10px;
        border-top: 6px solid #043E77;
        margin: 0;
        line-height: 22px;
        min-height: 45px;
        h2{
          font-size: 18px;
          color: #043E77;
          margin: 0;
          padding: 0 0 0 4em;
        }
        p{
  	      font-size: 18px;
  	      color: #043E77;
  	      margin: 0;
  	      // padding: 0 0 0 25px;
  	      text-align: left;
  	      padding: 0 0 0 10em;
  	    }
        // .magic-form{
        //   width: 50%;
        // }
        .location{
          padding: 5px 0 0 0;
        }

          .edit-categ{
            input{
              border-radius: 10px 0 0 10px;
              background: none;
              height: 30px;
              font-size: 12px;
            }
            span{
              border: 0;
              background: #043E77;
              border-radius: 0 10px 10px 0;
              text-transform: uppercase;
              color: #fff;
            }
          }
          .edit-btn{
            padding: 6px 5px 0 5px;
          }
          .trash-icon{
            padding: 6px 10px 0 5px;
            font-size: 20px;
            color: #043E77;
            height: 33px;
          }
          .product-category{
            text-align: right;
            ul{
              margin: 0;
              padding: 0;
            }
            .add-prod-cate{width: 50%; padding: 0 7px 0 0;}
            li{
              list-style-type: none;
              display: inline-block;
            }
            li+li{
              border-left: 1px solid;
            }
          }

      }

      // start child head css

      .child-head{
        background-color: #E6E6E6;
        padding: 3px 0 0 10px;
        border-top: 3px solid #043E77;
        margin: 0;
        line-height: 22px;
        h2{
          font-size: 18px;
          color: #313147;
          margin: 0;
          padding: 7px 0 0 3.5em;
        }

          .edit-categ{
            input{
              border-radius: 10px 0 0 10px;
              background: none;
              height: 30px;
              font-size: 12px;
            }
            span{
              border: 0;
              background: #043E77;
              border-radius: 0 10px 10px 0;
              text-transform: uppercase;
              color: #fff;
            }
          }
          .edit-btn{
            padding: 6px 5px 0 5px;
          }
          .trash-icon{
            padding: 6px 10px 0 5px;
            font-size: 20px;
            color: #043E77;
            height: 33px;
          }
          .product-category{
            text-align: right;
            ul{
              margin: 0;
              padding: 0;
            }
            .add-prod-cate{width: 50%; padding: 0 7px 0 0;}
            li{
              list-style-type: none;
              display: inline-block;
            }
            li+li{
              border-left: 1px solid;
            }
          }

      }
    .info{
      background-color: #F8F8F8;
      padding: 0 35px;
      line-height: 30px;
      font-size: 12px;
      margin-bottom: 7px;

      .edit-x-type{
        width: 50%;
        float: left;
      }
      .views-disab-type{
        width: 50%;
        padding: 14px 0 0 0;
        float: left;
      }
      p{
        font-size: 14px;
        margin: 0;
      }
      .analytics{
        display: inline-block;
        margin-bottom: 10px;

        .analytics-cont{
          width: 50%;
          padding: 0 0 0 6em;
          float: left;

          h4{
            font-size: 18px;
            color: #043E77;
            margin: 25px 0 0 0;
            font-weight: 700;
          }
        }

      }

      .rounded-mid{
        display: inline-block;
        border-bottom: 1px solid #ccc;
        margin-bottom: 10px;

        .rounded-pipes{
          width: 50%;
          padding: 0 0 0 6em;
          float: left;
          h3{
            font-size: 18px;
            text-transform: none;
            color: #606060;
          }
	        h4{
            font-size: 18px;
            text-transform: none;
            color: #27273E;
            margin: 25px 0 0 0;
          }
        }
        .edit-assign-type{
          p{
            margin: 20px 0 7px 0;
            font-size: 17px;
          }
        }
        .edit-type{
          width: 40%;
          float: right;
          p{
            margin: 20px 0 7px 0;
            font-size: 17px;
          }
        }
	      .edit-type-1{
          width: 50%;
          text-align: right;
          margin: 10px 0 0 0;
          p{
            font-size: 17px;
          }
        }
      }
      table tr > th, td{
        color: #1D1D35;
        padding: 10px;
        margin: 0;
        width: 10%;
      }

    }
    .info-1{
      background-color: #fff;
      padding: 35px;
      line-height: 30px;
      font-size: 12px;
      margin-bottom: 7px;
      h3{
        font-size: 18px;
        text-transform: none;
        color: #606060;
        padding: 0 0 0 2.4em;
      }
    }
  }

  // start details-1 css

  .details-1{
    margin: 15px 10px;
    border-top: 6px solid #043E77;
    // line-height: 22px;
    .head-1{
  	    background-color: #F8F8F8;
  	    padding: 7px 0 7px 0;
  	    /* border-top: 6px solid #043E77; */
  	    /* margin: 2px 0 0 0; */
  	    border-bottom: 1px solid #ccc;
  	    .pos{
  	      p{
        		font-size: 16px;
        		padding: 3px 0 0 0;
  	      }
  	    }
  	    p{
  	      font-size: 18px;
  	      color: #2B2B41;
  	      margin: 0;
  	      // padding: 0 0 0 25px;
  	      text-align: left;
  	      padding: 0 0 0 10em;
  	    }
  	    input{
  	      height: 30px;
  	      width: 75%;
  	    }
  	    .add-textbox{
  	      height: 75px;
  	      width: 75%;
  	    }
  	    button{
  	      &:hover{
  		        color: #fff;
  	      }
  	    }
        label{
          margin: 0;
        }
        .add-btn{
          font-size: 18px;
          text-transform: uppercase;
          padding: 0 2em 0 0;
          label{
            text-decoration: underline;
          }
        }
        .edit-btn{
          padding: 6px 5px 0 5px;
        }
        .trash-icon{
          padding: 2px 10px 0 5px;
          font-size: 20px;
          color: #043E77;
          /* height: 30px; */
        }
        .product-category{
          text-align: right;
          ul{
            margin: 0;
            padding: 0;
          }
          .add-prod-cate{width: 50%;}
          li{
            list-style-type: none;
            display: inline-block;
          }
          li+li{
            border-left: 1px solid;
            vertical-align: bottom;
          }
        }
     }
     .info{
       background-color: #F8F8F8;
       padding: 0 35px;
       line-height: 30px;
       font-size: 12px;
       margin-bottom: 7px;

       .rounded-mid{
          display: inline-block;
          margin-bottom: 10px;
          margin-top: 10px;
         p{
           font-size: 12px;
           padding: 0 0 0 7em;
         }

         .rounded-pipes{
           width: 50%;
           padding: 0 0 0 6em;
           float: left;
           h3{
             font-size: 18px;
             text-transform: none;
             color: #606060;
           }
 	        h4{
             font-size: 18px;
             text-transform: none;
             color: #043E77;
             margin: 25px 0 0 0;
           }
         }
         .edit-type{
           width: 40%;
           float: right;
           p{
             margin: 20px 0 7px 0;
             font-size: 17px;
           }
         }
 	      .edit-type-1{
           width: 50%;
           text-align: right;
           margin: 10px 0 0 0;
           p{
             font-size: 17px;
           }
         }
       }
       table tr > th, td{
         color: #1D1D35;
         padding: 10px;
         margin: 0;
         width: 10%;
       }

     }
  }
}

// end main all css //



// start transporter payment styles //

.transporter-payment, .pending-delivery{
  label {
    margin: 15px 0 0 10px;
    /* display: inline-block; */
    text-transform: uppercase;
  }
  table tr > th{
        padding: 15px;
        text-transform: uppercase;
      }
      .delivery-status{
        width: 12%!important;
      }
  .date-to{
    display: inline-flex;
    .search-top{
      border: 1px solid;
      border-radius: 20px;
      padding: 6px;
      display: inline-block;
      width: 30%;
      vertical-align: top;
      input{
        border: none;
      }
      span{
        i{
          border: none;
          &:hover{
            background-color: #fff;
          }
        }
      }
    }
  }

  .details{
    .info{
      padding: 0;
    }
  }

}

// end transporter payment styles //

// start grades standards styles //

.grades-standards, .grades-standards1 {

  .magic-form .magic-resize .magic-checkbox + label:after {
    top: 6px;
    left: -19px;
    box-sizing: border-box;
    width: 6px;
    height: 12px;
    transform: rotate(45deg);
    border: none;
}

  .period{
    display: inline-flex;
    height: 50px;
    align-items: center;
    border: 1px solid;
    border-radius: 20px;
    width: 100%;
    padding-left: 25px;
    margin: 0 0 0 10px;
    .search-i{
      i{
        border: none;
        border-left: 1px solid;
        &:hover{
          background-color: #fff;
        }
      }
    }


    .date{
      background-color: #ffffff;
      width: 39%;
      border: none;
      .cal-btn{
        background: none;
        border:none;
        }
        .cal-input{
            border:none;
        }
      }
  }

  .details{

    .head{
      background-color: #E6E6E6;
      padding: 3px 0 0 10px;
      border-top: 6px solid #043E77;
      margin: 2px 0 0 0;
      .grades-head{
        padding: 7px 0 0 5em!important;
      }

    }
    .editor-box{
      border: 1px solid #ccc;
      border-top: 30px solid #ccc;
      border-bottom: 25px solid #ccc;
      padding: 15px;
    }
    .info{
      background-color: #F8F8F8;
      padding: 35px;
      line-height: 30px;
      font-size: 12px;
      padding-bottom: 20px;
      margin-bottom: 7px;

      .magic-form{
        padding: 15px;
      }
      h3{
        margin: 0;
        padding: 5px 0 0 25px;
        color: #707070;
        font-size: 18px;
      }
      label{
        padding: 0;
      }
    }
  }
}

// end grades standards styles //







//bootstrap forms
/* Start writing sass here */
@import "yash";
@import "fancybox-override";
