@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/flexslider/flexslider.css";
@import "../bower_components/font-awesome/css/font-awesome.min.css";
@import "../bower_components/fancyBox/source/jquery.fancybox.css";
@import "../bower_components/swiper/dist/css/swiper.min.css";
@import "../bower_components/smart-app-banner/smart-app-banner.css";
/* Bootstrap Variables Goes Here */
$brand-primary: #0d9dff !default;
$brand-success: #84ce3c !default;
$brand-warning: #ffec39 !default;
$brand-danger:  #fc483f !default;
$brand-info:    #000072 !default;


$darkblue: #171730 !default;
$lightblue: #1C5083 !default;
$panel-border: #043E77 !default;
$box-background: #F2F2F2 !default;

@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
body {
  padding-top: 18px;
}

h1, h2, h3, h4, h5, h6{
  text-transform: uppercase;
}

img.loading {
  text-align: center;
  opacity: 1;
  width: 32px !important;
  height: auto;
}
img {
  opacity: 0;
  @include transition(all 300ms ease);
}
img.doneLoading {
  opacity: 1;
}
nav li:hover .dropdown-menu {
  display: block;
}
a, .btn {
  cursor: pointer;
  @include transition(all ease 300ms);
}
//bootstrap forms
.input-lg,
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn,
.btn,
.form-control {
  border-radius: 0;
  @include box-shadow(none);
}
.form-control:focus {
  border-color: $brand-primary;
  outline: 0;
  @include box-shadow(none);
}



header{



  .navbar-inverse {
    background-color: $darkblue;
    border: none;
      h1{
        color: #fff;
        font-size: 26px;
        margin: 12px 0 0 0;
      }
      .date{
        color: #fff;
        margin: 16px 0 0 0;
      }


      .seller, .buyer, .h-icon{
        position: relative;
        display: inline-block;
        width: 50px;
        i{
           background-color: #414156;
           border-radius: 20%;
           padding: 5px;
           font-size: 30px;
           color: #fff;
           margin: 8px 0 8px 0;
         }
         .badge{
           position: absolute;
           background-color: red;
           top:-7px;
           right:-7px;
         }
      label {font-size: 10px;}
    }
  .resize{
    border-radius: 0;
  }
}
}

.header1{
  .tagboss-logo  {
    img{
      margin: 0 auto;
      padding: 0 0 20px 0;
    }
  }
  nav .admin-head{
    h1{
      color: #fff;
      font-size: 26px;
      margin: 12px 0 0 0;
    }
    .date{
      color: #fff;
      margin: 16px 0 0 0;
    }
  }
  .navbar-inverse {
    background-color: $darkblue;
    border: none;
  }
  .resize{
    border-radius: 0;
  }
}

button{
  background-color: $lightblue;
  color: #fff;
}

.login{
    .form-login{
    padding: 22px;
    background-color: #ccc;
    border-top: 10px solid $panel-border;
    h2{
      text-transform: uppercase;
      margin-bottom: 20px;
    }
    .form-control
    { text-align: center;}
  }
  input, button{
    border: none;
    width: 75%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    &:hover{
      color: #fff;
    }
  }
  .checkbox label{
    margin: 10px;
  }
}

.side-menu{
  position: relative;
  .sidebar {
      position: fixed;
      top: 50px;
      bottom: 0;
      left: 0;
      z-index: 1000;
      display: block;
      padding: 20px;
      overflow-x: hidden;
      overflow-y: auto;
      background-color: #17172B;
      /* border-right: 1px solid #eee; */

      a{
        color: #fff;
        &:hover{
          color: $darkblue;
        }
      }
  }
}



//bootstrap forms
/* Start writing sass here */
@import "yash";
@import "fancybox-override";
