<section class="body-main add-inspetion-agency">
  <div class="container-fluid">

    <div class="details">
      <div class="head">
        <div class="row">

      <div class="col-md-4">
        <p>Name (Agency)</p>

      </div>

      <div class="col-md-6">
        <div class="input-size">
          <input type="text" class="form-control">
        </div>
      </div>

      <div class="col-md-1">
        <div class="input-group edit-btn">
          <button class="btn btn-text">Edit</button>
        </div>
      </div>

      <div class="col-md-1">
        <div class="input-group trash-icon">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </div>
      </div>

    </div>

</div>

<div class="head-1">
  <div class="row">
    <div class="col-md-4">
      <p>Name</p>
    </div>

    <div class="col-md-6">
      <div class="">
        <input type="text" class="form-control">
      </div>
    </div>

    <div class="col-md-2">

    </div>
  </div>
</div>

<div class="head-1">
  <div class="row">
    <div class="col-md-4">
      <p>Designation</p>
    </div>

    <div class="col-md-6">
      <div class="">
        <input type="text" class="form-control">
      </div>
    </div>

    <div class="col-md-2">

    </div>
  </div>
</div>

<div class="head-1">
  <div class="row">
    <div class="col-md-4">
      <p>City</p>
    </div>

    <div class="col-md-6">
      <div class="">
        <input type="text" class="form-control">
      </div>
    </div>

    <div class="col-md-2">

    </div>
  </div>
</div>

<div class="head-1">
  <div class="row">
    <div class="col-md-4">
      <p>Tel. No.</p>
    </div>

    <div class="col-md-6">
      <div class="">
        <input type="text" class="form-control">
      </div>
    </div>

    <div class="col-md-2">

    </div>
  </div>
</div>

<div class="head-1">
  <div class="row">
    <div class="col-md-4">
      <p>Mob No.</p>
    </div>

    <div class="col-md-6">
      <div class="">
        <input type="text" class="form-control">
      </div>
    </div>

    <div class="col-md-2">

    </div>
  </div>
</div>

<div class="head-1">
  <div class="row">
    <div class="col-md-4">
      <p>E-mail</p>
    </div>

    <div class="col-md-6">
      <div class="">
        <input type="text" class="form-control">
      </div>
    </div>

    <div class="col-md-2">

    </div>
  </div>
</div>

<div class="head-1">
  <div class="row">
    <div class="col-md-4">
      <p>Address</p>
    </div>

    <div class="col-md-6">
      <div class="">
        <input type="text" class="form-control add-textbox">
      </div>
    </div>

    <div class="col-md-2">
      <div class="input-group edit-btn">
        <button class="btn btn-text">Add</button>
      </div>
    </div>
  </div>
</div>




        </div>






      </div>
</section>
