<section class="body-main add-ad">
  <div class="container-fluid">

    <div class="details">
      <div class="head">
        <div class="row">

      <div class="col-md-4">
        <p>Name</p>

      </div>

      <div class="col-md-6">
        <div class="input-size">
          <input type="text" class="form-control">
        </div>
      </div>

      <div class="col-md-1">
        <div class="input-group edit-btn">
          <button class="btn btn-text">Edit</button>
        </div>
      </div>

      <div class="col-md-1">
        <div class="input-group trash-icon">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </div>
      </div>

    </div>

</div>

<div class="head-1">
  <div class="row">
    <div class="col-md-4">
      <p>Link</p>
    </div>

    <div class="col-md-6">
      <div class="">
        <input type="text" class="form-control">
      </div>
    </div>

    <div class="col-md-2">

    </div>
  </div>
</div>

<div class="head-1">
  <div class="row">
    <div class="col-md-4">
      <p>Image</p>
    </div>

    <div class="col-md-6">
      <div class="">
        <span>+ Add From Folder</span>
      </div>
    </div>

    <div class="col-md-2">

    </div>
  </div>
</div>

<div class="head-1">
  <div class="row">
    <div class="col-md-4">
      <p>Position</p>
    </div>

    <div class="col-md-6">
      <div class="pos">
        <p>Position A</p>
        <p>Position B</p>
        <p>Position C</p>
        <p>Position D</p>
      </div>
    </div>

    <div class="col-md-2">

    </div>
  </div>
</div>

<div class="head-1">
  <div class="row">
    <div class="col-md-4"></div>

    <div class="col-md-6"></div>

    <div class="col-md-2">
      <div class="input-group edit-btn">
        <button class="btn btn-text">Add</button>
      </div>
    </div>
  </div>
</div>









        </div>






      </div>
</section>
