<section class="body-main ads">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="input-group search-top">
          <input type="text" class="form-control" placeholder="Search by Ad Name or ID">
          <span class="input-group-btn">
            <i class="btn btn-default fa fa-search" aria-hidden="true"></i>
            <!-- <button class="btn btn-default" type="button">Go!</button> -->
          </span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="more-opt pull-right">
             <div class="magic-form">
               <div class="magic-resize">
                 <input class="magic-checkbox" type="checkbox" name="layout" id="add-one" value="option1">
                   <label class="detail-heading" for="add-one">
                     More
                   </label>
               </div>
             </div>
             <i class="fa fa-caret-down" aria-hidden="true"></i>
           </div>
      </div>
    </div>

    <div class="details">
      <div class="head">
        <div class="row">

      <div class="col-md-10">
        <div class="magic-form">
          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" name="layout" id="2" value="option1">
              <label class="text" for="2">
                <h2>TBA001 ASHLONI 5% Discount on Alloy Steel sheet</h2>
              </label>
          </div>
        </div>
      </div>

      <!-- <div class="col-md-4">
        <div class="edit-categ">
          Kolkata | India
        </div>
      </div> -->

      <div class="col-md-2">
        <div class="product-category">
          <ul>
            <!-- <li class="add-prod-cate">
              <div class="input-group edit-categ">
                <input type="text" class="form-control" placeholder="Add Product Category" aria-describedby="basic-addon2">
                <span class="input-group-addon" id="basic-addon2">add</span>
              </div>
            </li> -->
            <li>
              <div class="input-group edit-btn">
                <a href="#" class="pull-right">
                  <label class="view">Edit</label>
                </a>
              </div>
            </li>
            <li>
              <div class="input-group trash-icon">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </div>
            </li>
          </ul>
        </div>

      </div>

    </div>

</div>
<div class="info info-edit">


      <div class="row border-bot">
        <div class="col-md-6 analytics">
          <div class="analytics-cont">
            <h4>analytics</h4>
          </div>
        </div>
          <div class="col-md-6">
             <div class="views-disab-type" style="">
                <p><span ui-sref="add-ad">Edit</span> <span>|</span> <span>x</span> <span>|</span> <span ui-sref="add-ad">Disable</span> <span>|</span> <span ui-sref="add-ad">Views</span></p>
            </div>
          </div>
        </div>

          <!-- <div style="" class="col-md-12 rounded-mid">
            <div class="rounded-pipes" style="">
              <h4>analytics</h4>
            </div>
             <div class="pull-right edit-type" style="">
                <p><span>Edit | x |</span> <span>Disable | Views</span></p>
            </div>
          </div> -->


    <div class="row">
        <div style="" class="col-md-6 analytics">
          <div class="analytics-cont" style="">
            <p>Views Clicks : 21, 213</p>
            <p>Position : Position D</p>
          </div>
        </div>
        <div class="col-md-6">
           <div class="edit-x-type" style="">
              <p><span ui-sref="add-ad">Edit</span> <span>|</span> <span>x</span> </p>
              <p><span ui-sref="add-ad">Edit</span> <span>|</span> <span>x</span></p>
          </div>
        </div>
    </div>







</div>

        </div>

        <div class="details">
              <div class="head">
                <div class="row">

              <div class="col-md-10">
                <div class="magic-form">
                  <div class="magic-resize">
                    <input class="magic-checkbox" type="checkbox" name="layout" id="3" value="option1">
                      <label class="text" for="3">
                        <h2>TBA002 ASHLONI 5% Discount on Alloy Steel sheet</h2>
                      </label>
                  </div>
                </div>
              </div>

              <!-- <div class="col-md-4">
                <div class="edit-categ">
                  Mumbai | India
                </div>
              </div> -->

              <div class="col-md-2">
        <div class="product-category">
          <ul>
            <!-- <li class="add-prod-cate">
              <div class="input-group edit-categ">
                <input type="text" class="form-control" placeholder="Add Product Category" aria-describedby="basic-addon2">
                <span class="input-group-addon" id="basic-addon2">add</span>
              </div>
            </li> -->
            <li>
              <div class="input-group edit-btn">
                <a href="#" class="pull-right">
                  <label class="view">Edit</label>
                </a>
              </div>
            </li>
            <li>
              <div class="input-group trash-icon">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </div>
            </li>
          </ul>
        </div>

      </div>

            </div>

        </div>
    </div>

<div class="details">
      <div class="head">
        <div class="row">

      <div class="col-md-10">
        <div class="magic-form">
          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" name="layout" id="4" value="option1">
              <label class="text" for="4">
                <h2>TBA003 ASHLONI 5% Discount on Alloy Steel sheet</h2>
              </label>
          </div>
        </div>
      </div>

      <!-- <div class="col-md-4">
        <div class="edit-categ">
          Delhi | India
        </div>
      </div> -->

      <div class="col-md-2">
        <div class="product-category">
          <ul>
            <!-- <li class="add-prod-cate">
              <div class="input-group edit-categ">
                <input type="text" class="form-control" placeholder="Add Product Category" aria-describedby="basic-addon2">
                <span class="input-group-addon" id="basic-addon2">add</span>
              </div>
            </li> -->
            <li>
              <div class="input-group edit-btn">
                <a href="#" class="pull-right">
                  <label class="view">Edit</label>
                </a>
              </div>
            </li>
            <li>
              <div class="input-group trash-icon">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </div>
            </li>
          </ul>
        </div>

      </div>

    </div>

</div>
</div>

<div class="details">
      <div class="head">
        <div class="row">

      <div class="col-md-10">
        <div class="magic-form">
          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" name="layout" id="5" value="option1">
              <label class="text" for="5">
                <h2>TBA004 ASHLONI 5% Discount on Alloy Steel sheet</h2>
              </label>
          </div>
        </div>
      </div>

      <!-- <div class="col-md-4">
        <div class="edit-categ">
          Ahmedabad | India
        </div>
      </div> -->

      <div class="col-md-2">
        <div class="product-category">
          <ul>
            <!-- <li class="add-prod-cate">
              <div class="input-group edit-categ">
                <input type="text" class="form-control" placeholder="Add Product Category" aria-describedby="basic-addon2">
                <span class="input-group-addon" id="basic-addon2">add</span>
              </div>
            </li> -->
            <li>
              <div class="input-group edit-btn">
                <a href="#" class="pull-right">
                  <label class="view">Edit</label>
                </a>
              </div>
            </li>
            <li>
              <div class="input-group trash-icon">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </div>
            </li>
          </ul>
        </div>

      </div>

    </div>

</div>
</div>


      </div>
</section>
