<section class="body-main assign-agency">
  <div class="container-fluid">
    <div class="assign">
      <div class="search-content">
        <div class="row">
          <div class="col-md-6">
            <div class="input-group search-top">
              <input type="text" class="form-control" placeholder="Search by Inspector’s Name or ID">
              <span class="input-group-btn">
                <i class="btn btn-default fa fa-search" aria-hidden="true"></i>
                <!-- <button class="btn btn-default" type="button">Go!</button> -->
              </span>
            </div>
            </div>

              <div class="col-md-6">
                <div class="more-opt pull-right">
                  <div class="magic-form">
                    <div class="magic-resize">
                      <input class="magic-checkbox" type="checkbox" name="layout" id="add-one" value="option1">
                        <label class="detail-heading" for="add-one">
                          More
                        </label>
                    </div>
                  </div>
                  <i class="fa fa-caret-down carrot" aria-hidden="true"></i>
                </div>
            </div>
          </div>
    </div>

    <div class="assign-agency-details ">
        <label class="detail-heading">REQUEST FOR INSPECTION</label>
        <div class="starred pull-right"><i class="fa fa-star" aria-hidden="true"></i></div>
         <div class="date pull-right">Date: 02 June, 2016 | Time: 11.51 PM</div>
    </div>
    <table class="table table-bordered assign-agency-table">
          <thead>
            <tr>
              <th><strong>NAME</strong></th>
              <th><strong>PRODUCT</strong></th>
              <th><strong>QUANTITY</strong></th>
              <th><strong>INSPECTION AGENCY</strong></th>
             <th><strong></strong></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="magic-form">
                  <div class="magic-resize">
                    <input class="magic-checkbox" type="checkbox" name="layout" id="add-one" value="option1">
                      <label class="text" for="add-one">
                        <p>15/18 Rhythm House,
                          Kaala Ghoda, Fort,
                          Mumbai - 400005
                          India</p>
                      </label>
                  </div>
                </div>
              </td>
              <td>
                <ul class="prod-details">
                    <li class="list-head"> Tata Steel   </li>
                    <li>  Product + MOC </li>
                    <li>  Grade/Standard </li>
                    <li>  SCH           </li>
                    <li>  OD in mm   </li>
                    <li>  Thicknesss </li>
                    <li>  Length     </li>
                    <li>  Weight    </li>
                </ul>
              </td>
              <td>200</td>

              <td> <div class="dropdown">
                    <button type="button" class="btn btn-default">Inspection Agency , City</button>
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                    <i class="fa fa-caret-down carrot" aria-hidden="true"></i></button>
                    <ul class="dropdown-menu">
                      <li><a href="#">HTML</a></li>
                      <li><a href="#">CSS</a></li>
                      <li><a href="#">JavaScript</a></li>
                    </ul>


                  </div></td>

              <td class="text-center feed-col">
                <button type="button" class="btn btn-primary assign-btn">Assign</button>
                <p>  The product is upto mark.</p>
                <img src="img/pdf-image.png">
                <input type="text">
                <div class="">
                  <button type="button" class="btn btn-primary accept">Accept</button>
                  <button type="button" class="btn btn-primary reject">Reject</button>
                </div>
                <a href="#" class="pull-right"><label class="view">VIEW DETAILS</label></a>

              </td>
            </tr>
            <tr>
              <td>
                <div class="magic-form">
                  <div class="magic-resize">
                    <input class="magic-checkbox" type="checkbox" name="layout" id="add-one" value="option1">
                      <label class="text" for="add-one">
                        <p>15/18 Rhythm House,
                          Kaala Ghoda, Fort,
                          Mumbai - 400005
                          India</p>
                      </label>
                  </div>
                </div>
              </td>
              <td>
                <ul class="prod-details">
                      <li class="list-head"> Tata Steel  </li>
                      <li>  Product + MOC </li>
                      <li>  Grade/Standard </li>
                      <li>  SCH           </li>
                      <li>  OD in mm   </li>
                      <li>  Thicknesss </li>
                      <li>  Length     </li>
                      <li>  Weight    </li>
                  </ul>
                </td>
              <td>200</td>

              <td> <div class="dropdown">
                <button type="button" class="btn btn-default">Inspection Agency , City</button>
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                <i class="fa fa-caret-down carrot" aria-hidden="true"></i></button>
                <ul class="dropdown-menu">
                  <li><a href="#">HTML</a></li>
                  <li><a href="#">CSS</a></li>
                  <li><a href="#">JavaScript</a></li>
                </ul>
                  </div></td>

              <td class="text-center feed-col">
                <button type="button" class="btn btn-primary assign-btn">Assign</button>
                <p>  The product is upto mark.</p>
                <img src="img/pdf-image.png">
                <input type="text">
                <div class="">
                  <button type="button" class="btn btn-primary accept">Accept</button>
                  <button type="button" class="btn btn-primary reject">Reject</button>
                </div>
                <a href="#" class="pull-right"><label class="view">VIEW DETAILS</label></a>

              </td>
            </tr>
          </tbody>
        </table>

    </div>
  </div>
</section>
