<section class="body-main brands">
    <div class="container-fluid">

        <div class="details">
            <!--<div class="head">
                <div class="row">

                    <div class="col-md-6">
                        <div class="magic-form">
                            <div class="magic-resize">
                                <input class="magic-checkbox" type="checkbox" name="layout" id="2" value="option1">
                                <label class="text" for="2">
                <h2>TBT001 EMILY TRAVELS</h2>
              </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="product-category">
                            <ul>
                                <li>
                                    <div class="input-group edit-btn">
                                        <a href="#" class="pull-right">
                                            <label class="view">Edit</label>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="input-group trash-icon">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>

                </div>

            </div>-->

            <div class="info info-edit">

                <!--<div class="row">
                    <div class="col-md-12">
                        <div class="rounded-pipes">
                            <h4>City : Mumbai</h4>
                        </div>
                        <div class="edit-type-2" style="">
                            <p><span ui-sref="add-transporter">Edit</span> <span>|</span> <span>x</span> <span>|</span>
                                <span ui-sref="add-transporter">View</span> <span>|</span> <span ui-sref="add-transporter">Assign</span></p>
                        </div>
                    </div>
                </div>-->

                <div class="row">
                    <div class="col-md-12 rounded-mid perfo-tot">
                        <div class="table-responsive">

                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Brand/Manufacturer Name</th>
                                        <th>Country</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>0-100 km</td>
                                        <td>200/kg</td>
                                        <td>
                                            <p><span>Edit</span> <span>|</span> <span>x</span> <span>|</span> <span>Delete</span></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>101-300 km</td>
                                        <td>200/kg</td>
                                        <td>
                                            <p><span>Edit</span> <span>|</span> <span>x</span> <span>|</span> <span>Delete</span></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>301-500 km</td>
                                        <td>150/kg</td>
                                        <td>
                                            <p><span>Edit</span> <span>|</span> <span>x</span> <span>|</span> <span>Delete</span></p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>