<section class="body-main brands">
    <div class="container-fluid">
        <div class="search-content">
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group search-top">
                        <input type="text" class="form-control" placeholder="Search by Seller ID or Name">
                        <span class="input-group-btn"><i class="btn btn-default fa fa-search" aria-hidden="true"></i></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="more-opt pull-right">
                        <div class="magic-form dropdown">
                            <div class="filter pull-right dropdown-toggle" data-toggle="dropdown">
                                <label class="">Filter by Status</label>
                                <i class="fa fa-caret-down carrot" aria-hidden="true"></i>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Pending Verification</a></li>
                                    <li><a href="#">Verified</a></li>
                                    <li><a href="#">Rejected</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="addagency pull-right">
                        <label ng-click="openBrand();">Add Brand</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="view-seller-product">
        </div>
        <div class="details">
            <!--<div class="head">
                <div class="row">

                    <div class="col-md-6">
                        <div class="magic-form">
                            <div class="magic-resize">
                                <input class="magic-checkbox" type="checkbox" name="layout" id="2" value="option1">
                                <label class="text" for="2">
                <h2>TBT001 EMILY TRAVELS</h2>
              </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="product-category">
                            <ul>
                                <li>
                                    <div class="input-group edit-btn">
                                        <a href="#" class="pull-right">
                                            <label class="view">Edit</label>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="input-group trash-icon">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>

                </div>

            </div>-->
            <div class="info info-edit">
                <!--<div class="row">
                    <div class="col-md-12">
                        <div class="rounded-pipes">
                            <h4>City : Mumbai</h4>
                        </div>
                        <div class="edit-type-2" style="">
                            <p><span ui-sref="add-transporter">Edit</span> <span>|</span> <span>x</span> <span>|</span>
                                <span ui-sref="add-transporter">View</span> <span>|</span> <span ui-sref="add-transporter">Assign</span></p>
                        </div>
                    </div>
                </div>-->
                <div class="row">
                    <div class="col-md-12 rounded-mid perfo-tot">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Order Id</th>
                                        <th>Brand/Manufacturer Name</th>
                                        <th>Country</th>
                                        <th>Logo</th>
                                        <th>Show on Homepage</th>
                                        <th>Status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Tata Steel</td>
                                        <td>India</td>
                                        <td>
                                            <div class="logo">
                                                <img src="img/partner-tata-steel-logo.png" alt="">
                                            </div>
                                        </td>
                                        <td class="">
                                            <!--<i class="fa fa-check-square" aria-hidden="true"></i>-->
                                            Yes
                                        </td>
                                        <td>
                                            <!--<div class="text-center tog-switch">
                                                <toggle-switch ng-model="switchStatus" on-label="Enable" off-label="Disable" class="enb-switch">
                                                </toggle-switch>
                                            </div>-->
                                            Enable
                                        </td>
                                        <td>
                                            <p>
                                                <span ng-click="openBrand();">Edit</span>
                                                <span>|</span>
                                                <span>x</span>
                                                <span>|</span>
                                                <span>Delete</span>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Jindal Steel</td>
                                        <td>China</td>
                                        <td>
                                            <div class="logo">
                                                <img src="img/partner-tata-steel-logo.png" alt="">
                                            </div>
                                        </td>
                                        <td class="">
                                            <!--<i class="fa fa-check-square" aria-hidden="true"></i>-->
                                            No
                                        </td>
                                        <td>
                                            Disable
                                        </td>
                                        <td>
                                            <p>
                                                <span ng-click="openBrand();">Edit</span>
                                                <span>|</span>
                                                <span>x</span>
                                                <span>|</span>
                                                <span>Delete</span>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Tata Steel</td>
                                        <td>India</td>
                                        <td>
                                            <div class="logo">
                                                <img src="img/partner-tata-steel-logo.png" alt="">
                                            </div>
                                        </td>
                                        <td class="">
                                            <!--<i class="fa fa-check-square" aria-hidden="true"></i>-->
                                            Yes
                                        </td>
                                        <td>
                                            Enable
                                        </td>
                                        <td>
                                            <p>
                                                <span ng-click="openBrand();">Edit</span>
                                                <span>|</span>
                                                <span>x</span>
                                                <span>|</span>
                                                <span>Delete</span>
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>