<section class="categories">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="input-group search-top">
          <input type="text" class="form-control" placeholder="Search by Category or Type">
          <span class="input-group-btn">
            <i class="btn btn-default fa fa-search" aria-hidden="true"></i>
            <!-- <button class="btn btn-default" type="button">Go!</button> -->
          </span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="more-opt">
          <input type="checkbox">More
          <span class="caret"></span>
        </div>
      </div>
    </div>

    <div class="details">
      <div class="head">
        <div class="row">

      <div class="col-md-6">
        <div class="magic-form">
          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" name="layout" id="2" value="option1">
              <label class="text" for="2">
                <h2>01. pipes and tubes</h2>
              </label>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="input-group edit-categ">
          <input type="text" class="form-control" placeholder="Add Product Category" aria-describedby="basic-addon2">
          <span class="input-group-addon" id="basic-addon2">add</span>
        </div>
      </div>

      <div class="col-md-1">
        <div class="input-group edit-btn">
          <button class="btn btn-text">Edit</button>
        </div>
      </div>

      <div class="col-md-1">
        <div class="input-group trash-icon">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </div>
      </div>

    </div>

</div>
<div class="info">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3>Rounded Pipes</h3>
        </div>
        <div class="col-md-6">
          <span>Edit | x |</span> <span>Type</span>
        </div>
      </div>
    </div>


    <div class="head">
      <div class="row">
        <div class="col-md-6">
          <h2>type</h2>
        </div>

        <div class="col-md-4">
          <div class="input-group edit-categ">
            <input type="text" class="form-control" placeholder="Add Type" aria-describedby="basic-addon2">
            <span class="input-group-addon" id="basic-addon2">add</span>
          </div>
        </div>

        <div class="col-md-1">
          <div class="input-group edit-btn">
            <button class="btn btn-text">Edit</button>
          </div>
        </div>

        <div class="col-md-1">
          <div class="input-group trash-icon">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </div>
        </div>

      </div>
    </div>
    <div class="info-1">
      afdadsfadsf
    </div>
</div>

        </div>

        <div class="details-1">
              <div class="head">
                <div class="row">

              <div class="col-md-6">
                <div class="magic-form">
                  <div class="magic-resize">
                    <input class="magic-checkbox" type="checkbox" name="layout" id="3" value="option1">
                      <label class="text" for="3">
                        <h2>02. coiles</h2>
                      </label>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="input-group edit-categ">
                  <input type="text" class="form-control" placeholder="Add Product Category" aria-describedby="basic-addon2">
                  <span class="input-group-addon" id="basic-addon2">add</span>
                </div>
              </div>

              <div class="col-md-1">
                <div class="input-group edit-btn">
                  <button class="btn btn-text">Edit</button>
                </div>
              </div>

              <div class="col-md-1">
                <div class="input-group trash-icon">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </div>
              </div>

            </div>

        </div>
    </div>

<div class="details-1">
      <div class="head">
        <div class="row">

      <div class="col-md-6">
        <div class="magic-form">
          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" name="layout" id="4" value="option1">
              <label class="text" for="4">
                <h2>03. roundbars</h2>
              </label>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="input-group edit-categ">
          <input type="text" class="form-control" placeholder="Add Product Category" aria-describedby="basic-addon2">
          <span class="input-group-addon" id="basic-addon2">add</span>
        </div>
      </div>

      <div class="col-md-1">
        <div class="input-group edit-btn">
          <button class="btn btn-text">Edit</button>
        </div>
      </div>

      <div class="col-md-1">
        <div class="input-group trash-icon">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </div>
      </div>

    </div>

</div>
</div>

<div class="details-1">
      <div class="head">
        <div class="row">

      <div class="col-md-6">
        <div class="magic-form">
          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" name="layout" id="5" value="option1">
              <label class="text" for="5">
                <h2>04. plates and sheets</h2>
              </label>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="input-group edit-categ">
          <input type="text" class="form-control" placeholder="Add Product Category" aria-describedby="basic-addon2">
          <span class="input-group-addon" id="basic-addon2">add</span>
        </div>
      </div>

      <div class="col-md-1">
        <div class="input-group edit-btn">
          <button class="btn btn-text">Edit</button>
        </div>
      </div>

      <div class="col-md-1">
        <div class="input-group trash-icon">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </div>
      </div>

    </div>

</div>
</div>


      </div>





</section>
