<section class="categories">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="input-group search-top">
          <input type="text" class="form-control" placeholder="Search by Category or Type">
          <span class="input-group-btn">
            <i class="btn btn-default fa fa-search" aria-hidden="true"></i>
            <!-- <button class="btn btn-default" type="button">Go!</button> -->
          </span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="more-opt">
          <input type="checkbox">More
          <span class="caret"></span>
        </div>
      </div>
    </div>


        <div class="details">
          <div class="head">
            <div class="row">
              <div class="col-md-6">
            <div class="magic-form">
              <div class="magic-resize">
                <input class="magic-checkbox" type="checkbox" name="layout" id="4" value="option1">
                  <label class="text" for="4">
                    <h2>Lockers</h2>
                  </label>
              </div>
            </div>
            <!-- <div class="input-group edit-categ">
              <input type="text" class="form-control" placeholder="Add Product Category" aria-describedby="basic-addon2">
              <span class="input-group-addon" id="basic-addon2">add</span>
            </div> -->
          </div>

        <div class="col-md-6 add-categ">
        <!-- <div class="magic-form">
          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" name="layout" id="4" value="option1">
              <label class="text" for="4">
                <h2>Lockers</h2>
              </label>
          </div>
        </div> -->
        <div class="input-group edit-categ">
          <input type="text" class="form-control" placeholder="Add Product Category" aria-describedby="basic-addon2">
          <span class="input-group-addon" id="basic-addon2">add</span>
        </div>
        <div class="input-group edit-categ">
          <button class="btn btn-text">Edit</button>
        </div>
        <div class="input-group edit-categ">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </div>
        <!-- <div class="input-group edit-categ">
          <input type="text" class="form-control" placeholder="Add Product Category" aria-describedby="basic-addon2">
          <span class="input-group-addon" id="basic-addon2">add</span>
        </div> -->
      </div>
      </div>

</div>

        </div>
      </div>
        <!-- <div class="details">
          <div class="head">
            <div class="magic-form">
              <div class="magic-resize">
                <input class="magic-checkbox" type="checkbox" name="layout" id="4" value="option1">
                  <label class="text" for="4">
                    <h2>Lockers</h2>
                  </label>
              </div>
            </div>
            <div class="input-group edit-categ">
              <input type="text" class="form-control" placeholder="Add Product Category" aria-describedby="basic-addon2">
              <span class="input-group-addon" id="basic-addon2">add</span>
            </div>
            <div class="input-group edit-categ">
              <input type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">
              <span class="input-group-addon" id="basic-addon2">add</span>
            </div>
          </div>
          <div class="info">
            <p>1. Mirage Steel, Ahemdabad
              Rs.75,550/-</p>
            <p>2. Mirage Steel, Ahemdabad
              Rs.75,550/-</p>
            <p>3. Mirage Steel, Ahemdabad
              Rs.75,550/-</p>
            <p>4. Mirage Steel, Ahemdabad
              Rs.75,550/-</p>
            <p>5. Mirage Steel, Ahemdabad
              Rs.75,550/-</p>
          </div>
        </div> -->

  </div>

</div>



</section>
