<section class="body-main categories">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="input-group search-top">
          <input type="text" class="form-control" placeholder="Search by Category or Type">
          <span class="input-group-btn">
            <i class="btn btn-default fa fa-search" aria-hidden="true"></i>
            <!-- <button class="btn btn-default" type="button">Go!</button> -->
          </span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="more-opt">
          <input type="checkbox">More
          <span class="caret"></span>
        </div>
      </div>
    </div>






    <!-- <div id="accordion" class="panel-group">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">ASP.NET Developer</a>
            </h4>

      <div class="head">
        <div class="row">

      <div class="col-md-6">
        <div class="magic-form">
          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" name="layout" id="2" value="option1">
              <label class="text" for="2">
                <h2 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">01. pipes and tubes</a>
                </h2>
              </label>
              <h2 data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
                01. pipes and tubes</h2>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="input-group edit-categ">
          <input type="text" class="form-control" placeholder="Add Product Category" aria-describedby="basic-addon2">
          <span class="input-group-addon" id="basic-addon2">add</span>
        </div>
      </div>

      <div class="col-md-1">
        <div class="input-group edit-btn">
          <button class="btn btn-text">Edit</button>
        </div>
      </div>

      <div class="col-md-1">
        <div class="input-group trash-icon">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </div>
      </div>

    </div>

</div>



        <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
                <p><strong>Qualification :</strong> B.Sc.IT, BCA<br>
                  <strong>Experience :</strong> 0 to 2 years<br>
                  <strong>Expertise in :</strong> ASP.Net with C# and MS-SQL Server,AJAX,JQuery
                </p>
            </div>
        </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo">Business Development Executive</a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
                <p><strong>Qualification :</strong> BMS, B.COM<br>
                  <strong>Experience :</strong> 0 to 2 years<br>
                  <strong>Expertise in :</strong> Marketing Strategies, Convincing
                </p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree">3. What is CSS?</a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
                <p>CSS stands for Cascading Style Sheet. CSS allows you to specify various style properties for a given HTML element such as colors, backgrounds, fonts etc. <a href="http://www.tutorialrepublic.com/css-tutorial/" target="_blank">Learn more.</a></p>
            </div>
        </div>
    </div>
</div> -->

    <div class="details">




      <div class="head">
        <div class="row">

      <div class="col-md-6">
        <div class="magic-form">
          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" name="layout" id="2" value="option1">
              <label class="text" for="2">
                <h2>01. pipes and tubes</h2>
              </label>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="input-group edit-categ">
          <input type="text" class="form-control" placeholder="Add Product Category" aria-describedby="basic-addon2">
          <span class="input-group-addon" id="basic-addon2">add</span>
        </div>
      </div>

      <div class="col-md-1">
        <div class="input-group edit-btn">
          <a href="#" class="pull-right">
            <label class="view">EDIT</label>
          </a>
        </div>
      </div>

      <div class="col-md-1">
        <div class="input-group trash-icon">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </div>
      </div>

    </div>

</div>
<div class="info">
      <div class="row">
        <div style="" class="col-md-12 rounded-mid">
          <div class="rounded-pipes" style="">
            <h3>Rounded Pipes</h3>
          </div>
           <div class="pull-right edit-type" style="">
              <p><span>Edit | x |</span> <span>Type</span></p>
          </div>
        </div>
    </div>


    <div class="child-head">
      <div class="row">
        <div class="col-md-6">
          <h2>type</h2>
        </div>

        <div class="col-md-4">
          <div class="input-group edit-categ">
            <input type="text" class="form-control" placeholder="Add Type" aria-describedby="basic-addon2">
            <span class="input-group-addon" id="basic-addon2">add</span>
          </div>
        </div>

        <div class="col-md-1">
          <div class="input-group edit-btn">
            <a href="#" class="pull-right">
              <label class="view">EDIT</label>
            </a>
          </div>
        </div>

        <div class="col-md-1">
          <div class="input-group trash-icon">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </div>
        </div>

      </div>
    </div>
    <div class="info-1">
      <h3>Seamless<br>
      Welded (ERW, EFW, SAW)</h3>
    </div>
    <div class="row">
      <div style="" class="col-md-12 rounded-mid">
        <div class="rounded-pipes" style="">
          <h3>Square Pipes</h3>
        </div>
         <div class="pull-right edit-type" style="">
            <p><span>Edit | x |</span> <span>Type</span></p>
        </div>
      </div>
  </div>
</div>

        </div>

        <div class="details">
              <div class="head">
                <div class="row">

              <div class="col-md-6">
                <div class="magic-form">
                  <div class="magic-resize">
                    <input class="magic-checkbox" type="checkbox" name="layout" id="3" value="option1">
                      <label class="text" for="3">
                        <h2>02. coiles</h2>
                      </label>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="input-group edit-categ">
                  <input type="text" class="form-control" placeholder="Add Product Category" aria-describedby="basic-addon2">
                  <span class="input-group-addon" id="basic-addon2">add</span>
                </div>
              </div>

              <div class="col-md-1">
                <div class="input-group edit-btn">
                  <a href="#" class="pull-right">
                    <label class="view">EDIT</label>
                  </a>
                </div>
              </div>

              <div class="col-md-1">
                <div class="input-group trash-icon">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </div>
              </div>

            </div>

        </div>
    </div>

<div class="details">
      <div class="head">
        <div class="row">

      <div class="col-md-6">
        <div class="magic-form">
          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" name="layout" id="4" value="option1">
              <label class="text" for="4">
                <h2>03. roundbars</h2>
              </label>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="input-group edit-categ">
          <input type="text" class="form-control" placeholder="Add Product Category" aria-describedby="basic-addon2">
          <span class="input-group-addon" id="basic-addon2">add</span>
        </div>
      </div>

      <div class="col-md-1">
        <div class="input-group edit-btn">
          <a href="#" class="pull-right">
            <label class="view">EDIT</label>
          </a>
        </div>
      </div>

      <div class="col-md-1">
        <div class="input-group trash-icon">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </div>
      </div>

    </div>

</div>
</div>

<div class="details">
      <div class="head">
        <div class="row">

      <div class="col-md-6">
        <div class="magic-form">
          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" name="layout" id="5" value="option1">
              <label class="text" for="5">
                <h2>04. plates and sheets</h2>
              </label>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="input-group edit-categ">
          <input type="text" class="form-control" placeholder="Add Product Category" aria-describedby="basic-addon2">
          <span class="input-group-addon" id="basic-addon2">add</span>
        </div>
      </div>

      <div class="col-md-1">
        <div class="input-group edit-btn">
          <a href="#" class="pull-right">
            <label class="view">EDIT</label>
          </a>
        </div>
      </div>

      <div class="col-md-1">
        <div class="input-group trash-icon">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </div>
      </div>

    </div>

</div>
</div>


      </div>





</section>
