<section class="coupon-code body-main">
    <div class="container-fluid">
      <div class="details">

        <div class="row">
          <div class="col-md-2 pull-right">
            <div class="input-group add-btn pull-right">
              <a ng-click="openedit();">
                <label class="view">Add</label>
              </a>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>Coupon Code</th>
                        <th>Start &amp; End date</th>
                        <th>Type</th>
                        <th>Amount</th>
                        <th>City</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>001</td>
                        <td>01-10-2016 to 30-10-2016</td>
                        <td>percent</td>
                        <td>10</td>
                        <td>Mumbai</td>
                        <td>
                          <div class="text-center">
                                <span ng-click="openedit();">Edit</span>
                                <span>|</span>
                                <span ui-sref="view-orders">View</span>
                                <span>|</span>
                                <span ui-sref="" href="">Delete</span>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>001</td>
                        <td>01-10-2016 to 30-10-2016</td>
                        <td>amount</td>
                        <td>30,000</td>
                        <td>Mumbai</td>
                        <td>
                          <div class="text-center">
                                <span ui-sref="" href="" ng-click="openedit();">Edit</span>
                                <span>|</span>
                                <span ui-sref="view-orders">View</span>
                                <span>|</span>
                                <span ui-sref="" href="">Delete</span>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>001</td>
                        <td>01-10-2016 to 30-10-2016</td>
                        <td>amount</td>
                        <td>30,000</td>
                        <td>Mumbai</td>
                        <td>
                          <div class="text-center">
                                <span ui-sref="" href="" ng-click="openedit();">Edit</span>
                                <span>|</span>
                                <span ui-sref="view-orders">View</span>
                                <span>|</span>
                                <span ui-sref="" href="">Delete</span>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
          </div>
        </div>
      </div>

    </div>
</section>
