<section class="coupon body-main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <div class="coupon-pop">
                    <div class="row">
                        <div class="col-md-6">
                            <label>COUPON CODES</label>
                            <input type="text" id="">
                        </div>
                        <div class="col-md-6">
                            <label>VALUE</label>
                            <input type="text" id="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>TYPE</label>
                            <select>
                                  <option selected hidden></option>
                                  <option value="volvo">Volvo</option>
                                  <option value="saab">Saab</option>
                                  <option value="mercedes">Mercedes</option>
                                  <option value="audi">Audi</option>
                           </select>
                        </div>
                        <div class="col-md-6">
                        <label>MAX. USAGE</label>
                        <input type="text" id="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>MIN. AMOUNT</label>
                           <textarea rows="2"></textarea>
                        </div>
                        <div class="col-md-6">
                            <label>BY CATEGORY</label>
                            <select>
                                 <option selected hidden>ALL</option>
                                  <option value="volvo"> Pipes</option>
                                  <option value="saab">Rounded bar</option>
                                  <option value="mercedes">Coil</option>

                            </select>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
