<section class="side-menu">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
              <ul class="nav nav-sidebar">
              <li class="active">
                <a href="#">Orders <span class="sr-only">(current)</span></a>
              </li>
              <li><a href="#">Payment to Seller</a></li>
              <li><a href="#">Seller Request</a></li>
              <li><a href="#">Buyer Request</a></li>
              <li><a href="">Refund Request</a></li>
              <li><a href="">Sellers</a></li>
              <li><a href="">Buyers</a></li>
              <li><a href="">Products</a></li>
              <li><a href="">Categories</a></li>
              <li><a href="">Inspection Agency</a></li>
              <li><a href="">Transporters</a></li>
              <li><a href="">Ads</a></li>
              <li><a href="">Settings</a></li>
              <li><a href="">Today's Prices</a></li>
              <li><a href="">Reports</a></li>
            </ul>
          </div>
          </div>
      <div class="col-sm-9">

      </div>
    </div>
  </div>
</section>
