<section class="body-main edi-agen-details">
  <div class="container-fluid">

    <div class="details">
      <div class="info">
        <div class="row">
          <div class="col-md-offset-1 col-md-10">
            <form>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Agency id</label>
                    <p>123456</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Name of Agency</label>
                    <p>ABC Agency</p>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>contact person</label>
                    <input type="text" class="form-control" >
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>email id</label>
                    <input type="text" class="form-control" >
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>mobile no.</label>
                    <input type="text" class="form-control" >
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>telephone no.</label>
                    <input type="text" class="form-control" >
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="comment">address</label>
                    <textarea class="form-control" rows="3" id="comment"></textarea>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>fax no.</label>
                    <input type="text" class="form-control" >
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="sel1">city</label>
                    <select class="form-control" id="sel1">
                      <option>India</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>pincode</label>
                    <input type="text" class="form-control" >
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>state</label>
                    <input type="text" class="form-control" >
                  </div>
                </div>
                <div class="col-md-6">
                  <!-- <div class="form-group">
                    <label>email id</label>
                    <input type="text" class="form-control" >
                  </div> -->
                </div>
              </div>
              <button type="button" class="btn btn-lg btn-block">update</button>

              <!-- <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>contact person</label>
                    <input type="text" class="form-control" >
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>email id</label>
                    <input type="text" class="form-control" >
                  </div>
                </div>
              </div> -->





              <!-- <div class="form-group">
                <label>mobile no.</label>
                <input type="text" class="form-control" >
              </div>

              <div class="form-group">
                <label for="comment">address</label>
                <textarea class="form-control" rows="5" id="comment"></textarea>
              </div>

              <div class="form-group">
                <label for="sel1">city</label>
                <select class="form-control" id="sel1">
                  <option>India</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                </select>
              </div>

              <div class="input-group">
                <label>state</label>
                <input type="text" class="form-control" >
              </div>
            </form>
          </div>
          <div class="col-md-6">
            asddasf
          </div> -->

        </div>
      </div>
    </div>


  </div>
</section>
