<section class="body-main edi-agen-details">
  <div class="container-fluid">
    <div class="details">
      <div class="info">
        <div class="row">
          <div class="col-md-offset-1 col-md-10">
            <form ng-submit="editAgency(agencyDetails)">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Agency id</label>
                    <p>123456</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Name of Agency</label>
                    <p>{{agencyDetails.agencyName}}</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>contact person</label>
                    <input type="text" required ng-model="agencyDetails.contactname" class="form-control">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>email id</label>
                    <input type="text" required ng-model="agencyDetails.email" class="form-control">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>mobile no.</label>
                    <input type="text" required ng-model="agencyDetails.mobile" class="form-control">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>telephone no.</label>
                    <input type="text" required ng-model="agencyDetails.telephone" class="form-control">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group txt-remark">
                    <label for="comment">address</label>
                    <textarea class="form-control" required ng-model="agencyDetails.address" rows="3" id="comment"></textarea>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>fax no.</label>
                    <input type="text" required ng-model="agencyDetails.faxno" class="form-control">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="sel1">city</label>
                    <select class="form-control" id="sel1">
                      <option>India</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>pincode</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>state</label>
                    <input type="text" required ng-model="agencyDetails.state" class="form-control">
                  </div>
                </div>
                <div class="col-md-6">
                </div>
              </div>
              <button type="submit" class="btn btn-lg btn-block">update</button>
            </form>
          </div>
        </div>
      </div>
    </div>
</section>