<section class="body-main brands reset-main">
    <div class="container-fluid">
        <div class="text-center">
            <h3 class="reset-head">Reset Password</h3>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <form action="">
                    <div class="form-password">
                        <div class="col-md-offset-4 col-md-4">
                            <div class="form-group">
                                <label for="new-passwd" class="mandatory-star">New Password<sup>*</sup></label>
                                <input type="email" class="form-control" id="email">
                            </div>
                        </div>
                        <div class="col-md-offset-4 col-md-4">
                            <div class="form-group">
                                <label for="comfirm-passwd" class="mandatory-star">Confirm Password<sup>*</sup></label>
                                <input type="email" class="form-control" id="email">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="text-center">
                <button class="btn btn-default">Submit</button>
            </div>
        </div>
    </div>
</section>