<section class="body-main grades-standards1">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="period ">
                    <span>FROM</span>
                    <div class="input-group date">
                      <input type="text" class="form-control cal-input ng-pristine ng-valid ng-isolate-scope ng-not-empty ng-valid-required ng-valid-date ng-touched" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" required="required"><div uib-datepicker-popup-wrap="" ng-model="date" ng-change="dateSelection(date)" template-url="uib/template/datepickerPopup/popup.html" class="ng-not-empty ng-invalid ng-invalid-date-disabled" style="">
  <!-- ngIf: isOpen -->
</div>
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default cal-btn" ng-click="open1()"><i class="fa fa-calendar"></i></button>
                      </span>
                    </div>

                     <span>TO</span>
                       <div class="input-group date">
                     <input type="text" class="form-control cal-input ng-pristine ng-untouched ng-valid ng-isolate-scope ng-not-empty ng-valid-required ng-valid-date" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="dt" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" required="required"><div uib-datepicker-popup-wrap="" ng-model="date" ng-change="dateSelection(date)" template-url="uib/template/datepickerPopup/popup.html" class="ng-not-empty ng-valid">
  <!-- ngIf: isOpen -->
</div>
                     <span class="input-group-btn">
                       <button type="button" class="btn btn-default cal-btn" ng-click="open2()"><i class="fa fa-calendar"></i></button>
                     </span>
                   </div>
                   <span class="input-group-btn search-i">
                      <i class="btn btn-default fa fa-search" aria-hidden="true"></i>
                    </span>
                 </div>

      </div>

      <div class="col-md-6">
        <div class="more-opt pull-right">
             <div class="magic-form">
               <div class="magic-resize">
                 <input class="magic-checkbox" type="checkbox" name="layout" id="add-one" value="option1">
                   <label class="detail-heading" for="add-one">
                     More
                   </label>
               </div>
             </div>
             <i class="fa fa-caret-down" aria-hidden="true"></i>
           </div>
      </div>

    </div>

    <div class="details">
      <div class="head">
        <div class="row">

          <div class="col-md-6">

                    <h2 class="grades-head">grades - stainless steel</h2>

          </div>

      <div class="col-md-6">
        <div class="product-category">
          <ul>
            <li class="add-prod-cate">
              <div class="input-group edit-categ">
                <input type="text" class="form-control" placeholder="Add Grade Description" aria-describedby="basic-addon2">
                <span class="input-group-addon" id="basic-addon2">add</span>
              </div>
            </li>
            <li>
              <div class="input-group edit-btn">
                <a href="#" class="pull-right">
                  <label class="view">Edit</label>
                </a>
              </div>
            </li>
            <li>
              <div class="input-group trash-icon">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </div>
            </li>
          </ul>
        </div>

      </div>

    </div>

</div>

<div class="editor-box">
  <h3>ASTM A312</h3>
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  <div class="input-group add-enter" ng-click="openstandard();"><a><label class="view">Enter</label></a></div>
</div>

<div class="info">

    <div  class="row">
      <div class="col-md-12">
        <div class="magic-form">
          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" name="layout" id="2" value="option1">
              <label class="text" for="2">
                <h3>astm a312</h3>
              </label>
          </div>
        </div>
      </div>
    </div>

    <div  class="row">
      <div class="col-md-12">
        <div class="magic-form">
          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" name="layout" id="3" value="option1">
              <label class="text" for="3">
                <h3>astm cl1</h3>
              </label>
          </div>
        </div>
      </div>
    </div>

    <div  class="row">
      <div class="col-md-12">
        <div class="magic-form">
          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" name="layout" id="4" value="option1">
              <label class="text" for="4">
                <h3>astm 304l</h3>
              </label>
          </div>
        </div>
      </div>
    </div>

    <div  class="row">
      <div class="col-md-12">
        <div class="magic-form">
          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" name="layout" id="5" value="option1">
              <label class="text" for="5">
                <h3>astm 316h</h3>
              </label>
          </div>
        </div>
      </div>
    </div>

    <div  class="row">
      <div class="col-md-12">
        <div class="magic-form">
          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" name="layout" id="6" value="option1">
              <label class="text" for="6">
                <h3>astm 321</h3>
              </label>
          </div>
        </div>
      </div>
    </div>

    <div  class="row">
      <div class="col-md-12">
        <div class="magic-form">
          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" name="layout" id="7" value="option1">
              <label class="text" for="7">
                <h3>astm 410</h3>
              </label>
          </div>
        </div>
      </div>
    </div>

    <div  class="row">
      <div class="col-md-12">
        <div class="magic-form">
          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" name="layout" id="8" value="option1">
              <label class="text" for="8">
                <h3>astm a213</h3>
              </label>
          </div>
        </div>
      </div>
    </div>

    <div  class="row">
      <div class="col-md-12">
        <div class="magic-form">
          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" name="layout" id="9" value="option1">
              <label class="text" for="9">
                <h3>astm cl3</h3>
              </label>
          </div>
        </div>
      </div>
    </div>

    <div  class="row">
      <div class="col-md-12">
        <div class="magic-form">
          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" name="layout" id="10" value="option1">
              <label class="text" for="10">
                <h3>astm 309</h3>
              </label>
          </div>
        </div>
      </div>
    </div>

    <div  class="row">
      <div class="col-md-12">
        <div class="magic-form">
          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" name="layout" id="11" value="option1">
              <label class="text" for="11">
                <h3>astm 316l</h3>
              </label>
          </div>
        </div>
      </div>
    </div>

    <div  class="row">
      <div class="col-md-12">
        <div class="magic-form">
          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" name="layout" id="12" value="option1">
              <label class="text" for="12">
                <h3>astm 321h</h3>
              </label>
          </div>
        </div>
      </div>
    </div>

    <div  class="row">
      <div class="col-md-12">
        <div class="magic-form">
          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" name="layout" id="13" value="option1">
              <label class="text" for="13">
                <h3>astm 420</h3>
              </label>
          </div>
        </div>
      </div>
    </div>

    <div  class="row">
      <div class="col-md-12">
        <div class="magic-form">
          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" name="layout" id="14" value="option1">
              <label class="text" for="14">
                <h3>astm a269</h3>
              </label>
          </div>
        </div>
      </div>
    </div>

    <div  class="row">
      <div class="col-md-12">
        <div class="magic-form">
          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" name="layout" id="15" value="option1">
              <label class="text" for="15">
                <h3>astm tp 202</h3>
              </label>
          </div>
        </div>
      </div>
    </div>

    <div  class="row">
      <div class="col-md-12">
        <div class="magic-form">
          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" name="layout" id="16" value="option1">
              <label class="text" for="16">
                <h3>astm 310</h3>
              </label>
          </div>
        </div>
      </div>
    </div>


</div>

        </div>




      </div>
</section>
