<section class="body-main inspection-agencies">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="input-group search-top">
          <input type="text" class="form-control" placeholder="Search by Inspector's Name or ID">
          <span class="input-group-btn">
            <i class="btn btn-default fa fa-search" aria-hidden="true"></i>
            <!-- <button class="btn btn-default" type="button">Go!</button> -->
          </span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="more-opt">
          <input type="checkbox">More
          <span class="caret"></span>
        </div>
      </div>
    </div>

    <div class="details">
      <div class="head">
        <div class="row">

      <div class="col-md-6">
        <div class="magic-form">
          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" name="layout" id="2" value="option1">
              <label class="text" for="2">
                <h2>TBI001 AYESHA CORP.</h2>
              </label>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="edit-categ">
          Kolkata | India
        </div>
      </div>

      <div class="col-md-1">
        <div class="input-group edit-btn">
          <button class="btn btn-text">Edit</button>
        </div>
      </div>

      <div class="col-md-1">
        <div class="input-group trash-icon">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </div>
      </div>

    </div>

</div>
<div class="info">

      <div class="row">
          <div style="" class="col-md-12 rounded-mid">
            <div class="rounded-pipes" style="">
              <h4>Ayesha Banerjee</h4>
            </div>
             <div class="pull-right edit-type" style="">
                <p><span>Edit | x |</span> <span>Assign</span></p>
            </div>
          </div>
      </div>

    <div class="row">
        <div style="" class="col-md-12 rounded-mid">
          <div class="rounded-pipes" style="">
            <h4>+9122 25896314</h4>
          </div>
           <div class="pull-right edit-type" style="">
              <p><span>Edit | x |</span> <span>Assign</span></p>
          </div>
        </div>
    </div>

    <div class="row">
        <div style="" class="col-md-12 rounded-mid">
          <div class="rounded-pipes" style="">
            <h4>+91 9951485255</h4>
          </div>
           <div class="pull-right edit-type" style="">
              <p><span>Edit | x |</span> <span>Assign</span></p>
          </div>
        </div>
    </div>

    <div class="row">
        <div style="" class="col-md-12 rounded-mid">
          <div class="rounded-pipes" style="">
            <h4>ayeshabanerjee@gmail.com</h4>
          </div>
           <div class="pull-right edit-type" style="">
              <p><span>Edit | x |</span> <span>Assign</span></p>
          </div>
        </div>
    </div>

    <div class="row">
        <div style="" class="col-md-12 rounded-mid">
          <div class="rounded-pipes" style="">
            <h4>21/23 Rhythm House, M.G.Road</h4>
          </div>
           <div class="pull-right edit-type" style="">
              <p><span>Edit | x |</span> <span>Assign</span></p>
          </div>
        </div>
    </div>

</div>

        </div>

        <div class="details-1">
              <div class="head">
                <div class="row">

              <div class="col-md-6">
                <div class="magic-form">
                  <div class="magic-resize">
                    <input class="magic-checkbox" type="checkbox" name="layout" id="3" value="option1">
                      <label class="text" for="3">
                        <h2>TBI002 SIDDHARTH CO.</h2>
                      </label>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="edit-categ">
                  Mumbai | India
                </div>
              </div>

              <div class="col-md-1">
                <div class="input-group edit-btn">
                  <button class="btn btn-text">Edit</button>
                </div>
              </div>

              <div class="col-md-1">
                <div class="input-group trash-icon">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </div>
              </div>

            </div>

        </div>
    </div>

<div class="details-1">
      <div class="head">
        <div class="row">

      <div class="col-md-6">
        <div class="magic-form">
          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" name="layout" id="4" value="option1">
              <label class="text" for="4">
                <h2>TBI003 RISHI AGENCY</h2>
              </label>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="edit-categ">
          Delhi | India
        </div>
      </div>

      <div class="col-md-1">
        <div class="input-group edit-btn">
          <button class="btn btn-text">Edit</button>
        </div>
      </div>

      <div class="col-md-1">
        <div class="input-group trash-icon">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </div>
      </div>

    </div>

</div>
</div>

<div class="details-1">
      <div class="head">
        <div class="row">

      <div class="col-md-6">
        <div class="magic-form">
          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" name="layout" id="5" value="option1">
              <label class="text" for="5">
                <h2>TBI004 HASARAM RIJUMAL LTD.</h2>
              </label>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="edit-categ">
          Ahmedabad | India
        </div>
      </div>

      <div class="col-md-1">
        <div class="input-group edit-btn">
          <button class="btn btn-text">Edit</button>
        </div>
      </div>

      <div class="col-md-1">
        <div class="input-group trash-icon">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </div>
      </div>

    </div>

</div>
</div>


      </div>
</section>
