<section class="body-main inspection-panel">
  <div class="container-fluid">
    <div class="inspection">
        <div class="search-content">
          <div class="row">
            <div class="col-md-6">
              <div class="input-group search-top">
                <input type="text" class="form-control" placeholder="Search by Inspector’s Name or ID">
                <span class="input-group-btn">
                  <i class="btn btn-default fa fa-search" aria-hidden="true"></i>
                  <!-- <button class="btn btn-default" type="button">Go!</button> -->
                </span>
              </div>
              </div>

                <div class="col-md-6">
                  <div class="more-opt pull-right">
                    <div class="magic-form">
                      <div class="magic-resize">
                        <input class="magic-checkbox" type="checkbox" name="layout" id="add-one" value="option1">
                          <label class="detail-heading" for="add-one">
                            More
                          </label>
                      </div>
                    </div>
                    <i class="fa fa-caret-down carrot" aria-hidden="true"></i>
                  </div>
              </div>
            </div>
        </div>

        <div class="bar">
          <div class="row">
              <div class="col-md-6">
                <div class="pending-inspection">
                  <div class="column-bar"></div>
                  <p>PENDING INSPECTION</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="completed">
                  <div class="column-bar"></div>
                  <p>COMPLETED</p>
                </div>
              </div>
          </div>
        </div>

        <div class="inspection-details ">
            <label class="detail-heading"></label>
            <div class="starred pull-right"><i class="fa fa-star" aria-hidden="true"></i></div>
             <div class="date pull-right">Date: 02 June, 2016 | Time: 11.51 PM</div>
        </div>

        <table class="table table-bordered inspection-table">
              <thead>
                <tr>
                  <th><strong>NAME</strong></th>
                  <th><strong>PRODUCT</strong></th>
                  <th><strong>QUANTITY</strong></th>
                  <th><strong>COMMENTS</strong></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div class="magic-form">
                      <div class="magic-resize">
                        <input class="magic-checkbox" type="checkbox" name="layout" id="add-one" value="option1">
                          <label class="text" for="add-one">
                            <p>15/18 Rhythm House,
                              Kaala Ghoda, Fort,
                              Mumbai - 400005
                              India</p>
                          </label>
                      </div>
                    </div>
                  </td>
                  <td>
                    <ul class="prod-details">
                        <li class="list-head"> Tata Steel   </li>
                        <li>  Product + MOC </li>
                        <li>  Grade/Standard </li>
                        <li>  SCH           </li>
                        <li>  OD in mm   </li>
                        <li>  Thicknesss </li>
                        <li>  Length     </li>
                        <li>  Weight    </li>
                    </ul>
                  </td>
                  <td>200</td>

                  <td>
                    <div class="last-col text-center">
                      <textarea class="form-control" rows="4" id="comment" placeholder="Type your comment here"></textarea>
                      <button type="button" class="btn btn-primary pull-left upload">UPLOAD PDF</button>
                      <select class="pull-right">
                        <option value="accept">Accept</option>
                        <option value="reject">Reject</option>
                      </select>
                      <div class="clearfix"></div>
                        <button type="button" class="btn btn-primary submit">SUBMIT</button>
                    </div>
                  </td>


                </tr>
                <tr>
                  <td>
                    <div class="magic-form">
                      <div class="magic-resize">
                        <input class="magic-checkbox" type="checkbox" name="layout" id="add-one" value="option1">
                          <label class="text" for="add-one">
                            <p>15/18 Rhythm House,
                              Kaala Ghoda, Fort,
                              Mumbai - 400005
                              India</p>
                          </label>
                      </div>
                    </div>
                  </td>
                  <td>
                    <ul class="prod-details">
                          <li class="list-head"> Tata Steel  </li>
                          <li>  Product + MOC </li>
                          <li>  Grade/Standard </li>
                          <li>  SCH           </li>
                          <li>  OD in mm   </li>
                          <li>  Thicknesss </li>
                          <li>  Length     </li>
                          <li>  Weight    </li>
                      </ul>
                    </td>
                  <td>200</td>

                  <td>
                    GHGFH
                  </td>


                </tr>
              </tbody>
            </table>


    </div>
  </div>
</section>
