<section class="body-main material-construct">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="input-group search-top">
          <input type="text" class="form-control" placeholder="Search by Material of Construct or Grade">
          <span class="input-group-btn">
            <i class="btn btn-default fa fa-search" aria-hidden="true"></i>
            <!-- <button class="btn btn-default" type="button">Go!</button> -->
          </span>
        </div>
      </div>
    </div>
    <div class="details" ng-repeat="(cat, value) in allData | groupBy: 'category.name'">
            <div class="head">
        <div class="row">
          <div class="col-md-6">
            <div class="magic-form">
              <div class="magic-resize">
                <input class="magic-checkbox" type="checkbox" name="layout{{$index}}" id="chb{{$index}}" value="option1">
                <label class="text" for="chb{{$index}}">
                <h2>{{$index + 1}}. {{cat}}</h2>
              </label>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="product-category">
              <ul>
                <li class="add-prod-cate">
                  <form name="addmocform{{$index}}">
                    <div class="form-group">
                  <div class="input-group edit-categ">
                    <input id="{{$index}}" required type="text" class="form-control" name="add{{$index}}" ng-model="formdata.mocname" placeholder="Add Product MOC" aria-describedby="basic-addon2">
                       <div class="error-msg" ng-if="errmsg==true && myindex==$index">Please Enter Moc.</div>
                    <span class="input-group-addon" ng-click="addMoc(formdata,value[0].category._id, $index);" id="basic-addon2{{$index}}">add</span>
                  </div>
                    </div>
                  </form>
                </li>
                <!--<li>
                  <div class="input-group edit-btn">
                    <a href="#" class="pull-right">
                      <label class="view">Edit</label>
                    </a>
                  </div>
                </li>
                <li>
                  <div class="input-group trash-icon">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </div>
                </li>-->
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="info info-edit">
        <div class="row"  ng-repeat="moc in value">
          <div style="" class="col-md-12 rounded-mid">
            <div class="rounded-pipes" ng-if="indexid!=$index" ng-hide="hidetext">
              <h3>{{moc.name}}</h3>
            </div>
            <div class="rounded-pipes" ng-if="indexid==$index" ng-hide="showtext">
             <input name="edit{{$index}}" type="text" ng-model="moc.name"/>
            </div>
            <div class="pull-right edit-type" style="">
              <p><span ng-click="showEditData($index);">Edit</span> <span>|</span> <span>x</span> <span>|</span> <span ui-sref="grades-standards">Grade</span></p>
            </div>
          </div>
        </div>
        <!--<div class="row">
          <div style="" class="col-md-12 rounded-mid">
            <div class="rounded-pipes" style="">
              <h3>Carbon Steel</h3>
            </div>
            <div class="pull-right edit-type" style="">
              <p><span ui-sref="grades-standards">Edit</span> <span>|</span> <span>x</span> <span>|</span> <span ui-sref="grades-standards">Grade</span></p>
            </div>
          </div>
        </div>
        <div class="row">
          <div style="" class="col-md-12 rounded-mid">
            <div class="rounded-pipes" style="">
              <h3>Alloy Steel</h3>
            </div>
            <div class="pull-right edit-type" style="">
              <p><span ui-sref="grades-standards">Edit</span> <span>|</span> <span>x</span> <span>|</span> <span ui-sref="grades-standards">Grade</span></p>
            </div>
          </div>
        </div>
        <div class="row">
          <div style="" class="col-md-12 rounded-mid">
            <div class="rounded-pipes" style="">
              <h3>Mild Steel</h3>
            </div>
            <div class="pull-right edit-type" style="">
              <p><span ui-sref="grades-standards">Edit</span> <span>|</span> <span>x</span> <span>|</span> <span ui-sref="grades-standards">Grade</span></p>
            </div>
          </div>
        </div>-->
      </div>
    </div>
    <!--<div class="details">
      <div class="head">
        <div class="row">
          <div class="col-md-6">
            <div class="magic-form">
              <div class="magic-resize">
                <input class="magic-checkbox" type="checkbox" name="layout" id="3" value="option1">
                <label class="text" for="3">
                        <h2>02. coils</h2>
                      </label>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="product-category">
              <ul>
                <li class="add-prod-cate">
                  <div class="input-group edit-categ">
                    <input type="text" class="form-control" placeholder="Add Product MOC" aria-describedby="basic-addon2">
                    <span class="input-group-addon" id="basic-addon2">add</span>
                  </div>
                </li>
                <li>
                  <div class="input-group edit-btn">
                    <a href="#" class="pull-right">
                      <label class="view">Edit</label>
                    </a>
                  </div>
                </li>
                <li>
                  <div class="input-group trash-icon">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="details">
      <div class="head">
        <div class="row">
          <div class="col-md-6">
            <div class="magic-form">
              <div class="magic-resize">
                <input class="magic-checkbox" type="checkbox" name="layout" id="4" value="option1">
                <label class="text" for="4">
                <h2>03. roundbars</h2>
              </label>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="product-category">
              <ul>
                <li class="add-prod-cate">
                  <div class="input-group edit-categ">
                    <input type="text" class="form-control" placeholder="Add Product MOC" aria-describedby="basic-addon2">
                    <span class="input-group-addon" id="basic-addon2">add</span>
                  </div>
                </li>
                <li>
                  <div class="input-group edit-btn">
                    <a href="#" class="pull-right">
                      <label class="view">Edit</label>
                    </a>
                  </div>
                </li>
                <li>
                  <div class="input-group trash-icon">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>-->
    <!--<div class="details">
      <div class="head">
        <div class="row">
          <div class="col-md-6">
            <div class="magic-form">
              <div class="magic-resize">
                <input class="magic-checkbox" type="checkbox" name="layout" id="5" value="option1">
                <label class="text" for="5">
                <h2>04. plates and sheets</h2>
              </label>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="product-category">
              <ul>
                <li class="add-prod-cate">
                  <div class="input-group edit-categ">
                    <input type="text" class="form-control" placeholder="Add Product MOC" aria-describedby="basic-addon2">
                    <span class="input-group-addon" id="basic-addon2">add</span>
                  </div>
                </li>
                <li>
                  <div class="input-group edit-btn">
                    <a href="#" class="pull-right">
                      <label class="view">Edit</label>
                    </a>
                  </div>
                </li>
                <li>
                  <div class="input-group trash-icon">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>-->
  </div>
</section>