<section class="body-main refund-to-buyers orders">
  <div class="container-fluid">
    <div class="order">
      <div class="search-content">
        <div class="row">
          <div class="col-md-6">
            <div class="period ">
              <span>FROM</span>
              <div class="input-group date date1">
                <input type="text" class="form-control cal-input ng-pristine ng-valid ng-isolate-scope ng-not-empty ng-valid-required ng-valid-date ng-touched"
                  uib-datepicker-popup="dd-MMMM-yyyy" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions"
                  ng-required="true" close-text="Close" alt-input-formats="altInputFormats" required="required">
                <div uib-datepicker-popup-wrap="" ng-model="date" ng-change="dateSelection(date)" template-url="uib/template/datepickerPopup/popup.html"
                  class="ng-not-empty ng-invalid ng-invalid-date-disabled" style="">
                  <!-- ngIf: isOpen -->
                </div>
                <span class="input-group-btn">
                                <button type="button" class="btn btn-default cal-btn" ng-click="open1()"><i class="fa fa-calendar"></i></button>
                              </span>
              </div>
              <span>TO</span>
              <div class="input-group date">
                <input type="text" class="form-control cal-input ng-pristine ng-untouched ng-valid ng-isolate-scope ng-not-empty ng-valid-required ng-valid-date"
                  uib-datepicker-popup="dd-MMMM-yyyy" ng-model="dt" is-open="popup2.opened" datepicker-options="dateOptions"
                  ng-required="true" close-text="Close" alt-input-formats="altInputFormats" required="required">
                <div uib-datepicker-popup-wrap="" ng-model="date" ng-change="dateSelection(date)" template-url="uib/template/datepickerPopup/popup.html"
                  class="ng-not-empty ng-valid">
                  <!-- ngIf: isOpen -->
                </div>
                <span class="input-group-btn">
                               <button type="button" class="btn btn-default cal-btn" ng-click="open2()"><i class="fa fa-calendar"></i></button>
                             </span>
              </div>
            </div>
          </div>
          <!--<div class="col-md-6">
            <div class="filter pull-right">
              <label>Filter by Status</label>
              <i class="fa fa-caret-down carrot" aria-hidden="true"></i>
            </div>
            <div class="input-group search-inside pull-right ">
              <input type="text" class="form-control" placeholder="Search">
              <span class="input-group-btn"><i class="btn btn-default fa fa-search" aria-hidden="true"></i></span>
            </div>
          </div>-->
          <div class="col-md-6">
            <div class="more-opt pull-right">
              <div class="magic-form dropdown">
                <div class="filter pull-right dropdown-toggle" data-toggle="dropdown">
                  <!--<input class="magic-checkbox" type="checkbox" name="layout" id="add-more" value="option1">-->
                  <label class="">Filter by Status</label>
                  <i class="fa fa-caret-down carrot" aria-hidden="true"></i>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">All</a></li>
                    <li><a href="#">Pending Delivery</a></li>
                    <li><a href="#">Delivered</a></li>
                    <li><a href="#">Dispatched</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="refund-to-buyer">
        <div class="bar">
          <div class="row">
            <div class="col-md-6">
              <div class="col-md-offset-2 col-md-8">
                <p>DISPATCHED ORDERS / TOTAL ORDERS<br><span>{{allCount[1].totalDispatched}}/{{allCount[0].total}}</span></p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="col-md-offset-2 col-md-8">
                <p>RETURNED ORDERS / TOTAL ORDERS<br><span>{{allCount[2].totalCancelled}}/{{allCount[0].total}}</span></p>
              </div>
            </div>
          </div>
        </div>
        <div class="bar border-none">
          <div class="row">
            <div class="col-md-12">
              <div class="text-center">
                <p>AVERAGE ORDER DELIVERY TIME IS 8 DAYS</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>

 <div ng-if="allData.length==0">
      <h3 class="text-center">No data Found</h3>
    </div>
    <div ng-if="allData==undefined">
      <h3 class="text-center">Loading...</h3>
    </div>
    <div ng-repeat="(cat, value) in allData | groupBy: '-order.orderId'">
        <div class="buy-head">
          <h2 ng-if="selleris==false" class="order-head">TBO{{cat  | ltrim: '-' }}</h2>
          <h2 ng-if="selleris==false" class="order-head subhead">BUYER NAME: <span>{{value[0].buyer.firstName}} {{value[0].buyer.lastName}}</span></h2>
       <p class="pull-right">      <div class="row pull-right">
                                                <div class="col-sm-12">
                                                    <div ng-click="editOrder(cat);" class="form-group">
                                                        <label class="control-label" for="">Payment Status</label>
                                                        <!-- <div class="col-sm-6 text-center">
                                              <button type="button" class="btn btn-primary return">RETURN</button>
                                          </div> -->
                                                    </div>
                                                </div>
                                                <!--<div class="col-sm-6 no-padding">
                                                    <select ng-change="updateOrder(paymentstatus,cat)" ng-model="paymentstatus" id="" class="form-control">
                                              <option value="Pending">Pending</option>
                                             
                                              <option value="Paid">Paid</option>
                                          </select>
                                                </div>-->
                                            </div></P>
        </div>

        <div ng-repeat="order in value | orderBy: 'orderBillId'">
          
          <div class="order-details ">
            <div class="magic-form">
              <div class="magic-resize">
                <input class="magic-checkbox" type="checkbox" name="layout" id="add-one" value="option1">
                <label class="detail-heading" for="add-one">
                    ORDER ID TBO{{order.order.orderId}}_{{order.orderBillId}}
                  </label>
              </div>
            </div>
            <div class="starred pull-right"><i class="fa fa-star" aria-hidden="true"></i></div>
            <div class="date pull-right">Date: {{order.createdAt |  date:"dd MMMM yyyy ' | ' h:mma"}}</div>
          </div>
          <table class="table table-bordered order-table">
            <thead>
              <tr>
                <th><strong>ORDER</strong></th>
                <th><strong>SELLER</strong></th>
                <th><strong>TOTAL AMOUNT</strong></th>
                <th><strong>ORDER STATUS</strong></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{order.inventory.category.name}}: {{order.qty}}</td>
                <td>
                   <p ng-if="selleris==false" style="margin:0;"> {{order.inventory.seller.firmName}}</p>
                
                 <p ng-if="selleris==true" style="margin:0;"> {{order.inventories.sellers.firmName}}</p>
                 <p style="margin:0;" ng-if="order.warehouse"> Address:
                  {{order.warehouse.warehouseFirmName}},<br/>
                  {{order.warehouse.warehouseAddress}},<br/>
                  {{order.warehouse.warehouseCity}}-{{order.warehouse.warehousePincode}},<br/>
                  {{order.warehouse.warehouseState.name}},
                  {{order.warehouse.warehouseCountry}}
                   </p>
                  <p style="margin:0;" ng-if="selleris==true">Contact:  {{order.inventories.sellers.mobile}}</p>
                <p style="margin:0;" ng-if="selleris==false">Contact:  {{order.inventors.seller.mobile}}</p>
             
                </td>
                <td>
                  Rs. {{order.subTotal}}/-
                </td>
                <td>
                 {{order.deliveryStatus}}<br>
               <div data-ng-init="getCountDown(order.order.createdAt, cat,$index, order.order.paymentToTimestamp)"  >
                  <div ng-if="order.paymentStatus=='Pending'" name="countercomplete{{cat  | ltrim: '-' }}{{$index}}" class="font-karla inline-block time" id="countercomplete{{cat  | ltrim: '-' }}{{$index}}">
                    <form class="form-inline ng-pristine ng-valid">
                      <div class="form-group ">
                        <input type="text" class="countdays" id="countdays{{cat  | ltrim: '-' }}{{$index}}" >
                        <label for="countdays">Days</label>
                      </div> <span>:</span>
                      <div class="form-group">
                        <input type="text" class="counthours" id="counthours{{cat  | ltrim: '-' }}{{$index}}">
                        <label for="counthours">Hours</label>
                      </div>
                      <span>:</span>
                      <div class="form-group">
                        <input type="text" id="countmin{{cat  | ltrim: '-' }}{{$index}}" >
                        <label for="countmin">Mintues</label>
                      </div>
                      <span>:</span>
                      <div class="form-group">
                        <input type="text" id="countseconds{{cat  | ltrim: '-' }}{{$index}}" class="countseconds">
                        <label for="countseconds">Seconds</label>
                      </div>

                      <!--<div class="countdown1"></div>-->
                    </form>
                  </div>
</div>
                   
                
                  <a ui-sref="view-orders({id:order._id})"><label class="view pull-right">VIEW</label></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
          </div>
        <!--<div>
          <div class="order-details ">
            <div class="magic-form">
              <div class="magic-resize">
                <input class="magic-checkbox" type="checkbox" name="layout" id="add-two" value="option1">
                <label class="detail-heading" for="add-two">
                        ORDER ID TB00_2
                      </label>
              </div>
            </div>
            <div class="starred pull-right"><i class="fa fa-star" aria-hidden="true"></i></div>
            <div class="date pull-right">Date: 02 June, 2016 | Time: 11.51 PM</div>
          </div>
          <table class="table table-bordered order-table">
            <thead>
              <tr>
                <th><strong>ORDER</strong></th>
                <th><strong>SELLER</strong></th>
                <th><strong>TOTAL AMOUNT</strong></th>
                <th><strong>ORDER STATUS</strong></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Bars: 2 tonnes</td>
                <td>
                  Mirage Steel Ltd<br> Address:
                  <br> Contact:
                </td>
                <td>
                  Rs. 5,55,000/-
                </td>
                <td>Payment pending<br>
                  <div class="font-karla inline-block time">
                    <form class="form-inline ng-pristine ng-valid">
                      <div class="form-group">
                        <input type="text" id="exampleInputEmail2" value="05">
                        <label for="exampleInputEmail2">Hours</label>
                      </div>
                      <span>:</span>
                      <div class="form-group">
                        <input type="text" id="exampleInputEmail3" value="23">
                        <label for="exampleInputEmail3">Mintues</label>
                      </div>
                      <span>:</span>
                      <div class="form-group">
                        <input type="text" id="exampleInputEmail4" value="15">
                        <label for="exampleInputEmail4">Seconds</label>
                      </div>
                    </form>
                  </div>
                  <a ui-sref="view-orders"><label class="view pull-right">VIEW</label></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div>
          <div class="order-details ">
            <div class="magic-form">
              <div class="magic-resize">
                <input class="magic-checkbox" type="checkbox" name="layout" id="add-three" value="option1">
                <label class="detail-heading" for="add-three">
                            ORDER ID TB00_3
                          </label>
              </div>
            </div>
            <div class="starred pull-right"><i class="fa fa-star" aria-hidden="true"></i></div>
            <div class="date pull-right">Date: 02 June, 2016 | Time: 11.51 PM</div>
          </div>
          <table class="table table-bordered order-table">
            <thead>
              <tr>
                <th><strong>ORDER</strong></th>
                <th><strong>SELLER</strong></th>
                <th><strong>TOTAL AMOUNT</strong></th>
                <th><strong>ORDER STATUS</strong></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Pipes: 200 mtrs</td>
                <td>
                  Mirage Steel Ltd<br> Address:
                  <br> Contact:
                </td>
                <td>
                  Rs. 5,55,000/-
                </td>
                <td>
                  Payment pending<br>
                  <div class="font-karla inline-block time">
                    <form class="form-inline ng-pristine ng-valid">
                      <div class="form-group">
                        <input type="text" id="exampleInputEmail2" value="05">
                        <label for="exampleInputEmail2">Hours</label>
                      </div>
                      <span>:</span>
                      <div class="form-group">
                        <input type="text" id="exampleInputEmail3" value="23">
                        <label for="exampleInputEmail3">Mintues</label>
                      </div>
                      <span>:</span>
                      <div class="form-group">
                        <input type="text" id="exampleInputEmail4" value="15">
                        <label for="exampleInputEmail4">Seconds</label>
                      </div>
                    </form>
                  </div>
                  <a ui-sref="view-orders"><label class="view pull-right">VIEW</label></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <h4 class="total-head">Grand Total: <span>Rs. 16,75,000/-</span></h4>
      </div>
      <div>
        <div class="buy-head">
          <h2 class="order-head">TBOO1</h2>
          <h2 class="order-head subhead">BUYER NAME: <span>MIRAGE STEEL LTD.</span></h2>
        </div>
        <div>
          <div class="order-details ">
            <div class="magic-form">
              <div class="magic-resize">
                <input class="magic-checkbox" type="checkbox" name="layout" id="add-one" value="option1">
                <label class="detail-heading" for="add-one">
                    ORDER ID TB00_1
                  </label>
              </div>
            </div>
            <div class="starred pull-right"><i class="fa fa-star" aria-hidden="true"></i></div>
            <div class="date pull-right">Date: 02 June, 2016 | Time: 11.51 PM</div>
          </div>
          <table class="table table-bordered order-table">
            <thead>
              <tr>
                <th><strong>ORDER</strong></th>
                <th><strong>SELLER</strong></th>
                <th><strong>TOTAL AMOUNT</strong></th>
                <th><strong>ORDER STATUS</strong></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Sheets: 500 pcs
                </td>
                <td>
                  Mirage Steel Ltd<br> Address:
                  <br> Contact:
                </td>
                <td>
                  Rs. 5,55,000/-
                </td>
                <td>
                  Payment pending<br>
                  <div class="font-karla inline-block time">
                    <form class="form-inline ng-pristine ng-valid">
                      <div class="form-group">
                        <input type="text" id="exampleInputEmail2" value="05">
                        <label for="exampleInputEmail2">Hours</label>
                      </div>
                      <span>:</span>
                      <div class="form-group">
                        <input type="text" id="exampleInputEmail3" value="23">
                        <label for="exampleInputEmail3">Mintues</label>
                      </div>
                      <span>:</span>
                      <div class="form-group">
                        <input type="text" id="exampleInputEmail4" value="15">
                        <label for="exampleInputEmail4">Seconds</label>
                      </div>
                    </form>
                  </div>
                  <a ui-sref="view-orders"><label class="view pull-right">VIEW</label></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div>
          <div class="order-details ">
            <div class="magic-form">
              <div class="magic-resize">
                <input class="magic-checkbox" type="checkbox" name="layout" id="add-two" value="option1">
                <label class="detail-heading" for="add-two">
                        ORDER ID TB00_2
                      </label>
              </div>
            </div>
            <div class="starred pull-right"><i class="fa fa-star" aria-hidden="true"></i></div>
            <div class="date pull-right">Date: 02 June, 2016 | Time: 11.51 PM</div>
          </div>
          <table class="table table-bordered order-table">
            <thead>
              <tr>
                <th><strong>ORDER</strong></th>
                <th><strong>SELLER</strong></th>
                <th><strong>TOTAL AMOUNT</strong></th>
                <th><strong>ORDER STATUS</strong></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Bars: 2 tonnes
                </td>
                <td>
                  Mirage Steel Ltd<br> Address:
                  <br> Contact:
                </td>
                <td>
                  Rs. 5,55,000/-
                </td>
                <td>
                  Payment pending<br>
                  <div class="font-karla inline-block time">
                    <form class="form-inline ng-pristine ng-valid">
                      <div class="form-group">
                        <input type="text" id="exampleInputEmail2" value="05">
                        <label for="exampleInputEmail2">Hours</label>
                      </div>
                      <span>:</span>
                      <div class="form-group">
                        <input type="text" id="exampleInputEmail3" value="23">
                        <label for="exampleInputEmail3">Mintues</label>
                      </div>
                      <span>:</span>
                      <div class="form-group">
                        <input type="text" id="exampleInputEmail4" value="15">
                        <label for="exampleInputEmail4">Seconds</label>
                      </div>
                    </form>
                  </div>
                  <a ui-sref="view-orders"><label class="view pull-right">VIEW</label></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>-->
        <!--<div>
          <div class="order-details ">
            <div class="magic-form">
              <div class="magic-resize">
                <input class="magic-checkbox" type="checkbox" name="layout" id="add-three" value="option1">
                <label class="detail-heading" for="add-three">
                            ORDER ID TB00_3
                          </label>
              </div>
            </div>
            <div class="starred pull-right"><i class="fa fa-star" aria-hidden="true"></i></div>
            <div class="date pull-right">Date: 02 June, 2016 | Time: 11.51 PM</div>
          </div>
          <table class="table table-bordered order-table">
            <thead>
              <tr>
                <th><strong>ORDER</strong></th>
                <th><strong>SELLER</strong></th>
                <th><strong>TOTAL AMOUNT</strong></th>
                <th><strong>ORDER STATUS</strong></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Pipes: 200 mtrs
                </td>
                <td>
                  Mirage Steel Ltd<br> Address:
                  <br> Contact:
                </td>
                <td>
                  Rs. 5,55,000/-
                </td>
                <td>
                  Payment pending<br>
                  <div class="font-karla inline-block time">
                    <form class="form-inline ng-pristine ng-valid">
                      <div class="form-group">
                        <input type="text" id="exampleInputEmail2" value="05">
                        <label for="exampleInputEmail2">Hours</label>
                      </div>
                      <span>:</span>
                      <div class="form-group">
                        <input type="text" id="exampleInputEmail3" value="23">
                        <label for="exampleInputEmail3">Mintues</label>
                      </div>
                      <span>:</span>
                      <div class="form-group">
                        <input type="text" id="exampleInputEmail4" value="15">
                        <label for="exampleInputEmail4">Seconds</label>
                      </div>
                    </form>
                  </div>
                  <a ui-sref="view-orders"><label class="view pull-right">VIEW</label></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>-->
        <!--<h4 class="total-head">Grand Total: <span>Rs. 16,75,000/-</span></h4>-->
      </div>
    </div>
  </div>
</section>