<section class="body-main payment-to-sellers">
  <div class="container-fluid">
    <div class="payment-to-seller">
      <div class="search-content">
        <div class="row">
          <div class="col-md-6">
            <div class="input-group search-top">
              <input type="text" class="form-control" placeholder="Search by Seller ID or Name">
              <span class="input-group-btn">
                <i class="btn btn-default fa fa-search" aria-hidden="true"></i>
                <!-- <button class="btn btn-default" type="button">Go!</button> -->
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="received-sent hide">
        <div class="row">
          <div class="col-md-6">
            <div class="received">
              PAYMENT RECEIVED IN LAST 30 DAYS<br>
              <i class="fa fa-inr" aria-hidden="true"></i> 28,80,000
            </div>
          </div>
          <div class="col-md-6">
            <div class="sent">
              PAYMENT SENT TO SELLER IN LAST 30 DAYS<br>
              <i class="fa fa-inr" aria-hidden="true"></i> 20,00,000
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix received-sent-details">
        <div class="pull-left">
          <div class="magic-form">
            <div class="magic-resize">
              <!--<input class="magic-checkbox" type="checkbox" name="layout" id="add-one" value="option1">-->
              <label class="detail-heading" for="add-one">
                Payment Master
              </label>
            </div>
          </div>
        </div>
        <!--<div class="pull-right">
          <div class="starred pull-right"><i class="fa fa-star" aria-hidden="true"></i></div>
          <div class="date pull-right">Date: 02 June, 2016 | Time: 11.51 PM</div>
        </div>-->
      </div>
      <!--<table class="table payment-to-sellers-table">
        <thead>
          <tr>
            <th><b>1. ORDER ID</b></th>
            <th colspan="5">TBO058</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><b>PRODUCT</b></td>
            <td><b>TRANSACTION ID</b></td>
            <td><b>TOTAL AMOUNT</b></td>
            <td><b>0% (AMOUNT)</b></td>
            <td><b>COMMISSION</b></td>
            <td><b>BALANCE</b></td>
          </tr>
          <tr>
            <td>Pipe</td>
            <td>1058558269</td>
            <td>Rs. xx,xxx/-</td>
            <td>Rs. xx,xxx/-</td>
            <td>Rs. xxx/-</td>
            <td>Rs. 5,55,55,666/-</td>
          </tr>
          <tr>
            <td>Pipe</td>
            <td>1058558269</td>
            <td>Rs. xx,xxx/-</td>
            <td>Rs. xx,xxx/-</td>
            <td>Rs. xxx/-</td>
            <td>Rs. 5,55,55,666/-</td>
          </tr>
          <tr>
            <td>Pipe</td>
            <td>1058558269</td>
            <td>Rs. xx,xxx/-</td>
            <td>Rs. xx,xxx/-</td>
            <td>Rs. xxx/-</td>
            <td>Rs. 5,55,55,666/-</td>
          </tr>
          <tr>
            <td>Pipe</td>
            <td>1058558269</td>
            <td>Rs. xx,xxx/-</td>
            <td>Rs. xx,xxx/-</td>
            <td>Rs. xxx/-</td>
            <td>Rs. 5,55,55,666/-</td>
          </tr>
        </tbody>
        <thead>
          <tr>
            <th><b>1. ORDER ID</b></th>
            <th colspan="5">TBO058</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><b>PRODUCT</b></td>
            <td><b>TRANSACTION ID</b></td>
            <td><b>TOTAL AMOUNT</b></td>
            <td><b>0% (AMOUNT)</b></td>
            <td><b>COMMISSION</b></td>
            <td><b>BALANCE</b></td>
          </tr>
          <tr>
            <td>Pipe</td>
            <td>1058558269</td>
            <td>Rs. xx,xxx/-</td>
            <td>Rs. xx,xxx/-</td>
            <td>Rs. xxx/-</td>
            <td>Rs. 5,55,55,666/-</td>
          </tr>
          <tr>
            <td>Pipe</td>
            <td>1058558269</td>
            <td>Rs. xx,xxx/-</td>
            <td>Rs. xx,xxx/-</td>
            <td>Rs. xxx/-</td>
            <td>Rs. 5,55,55,666/-</td>
          </tr>
          <tr>
            <td>Pipe</td>
            <td>1058558269</td>
            <td>Rs. xx,xxx/-</td>
            <td>Rs. xx,xxx/-</td>
            <td>Rs. xxx/-</td>
            <td>Rs. 5,55,55,666/-</td>
          </tr>
          <tr>
            <td>Pipe</td>
            <td>1058558269</td>
            <td>Rs. xx,xxx/-</td>
            <td>Rs. xx,xxx/-</td>
            <td>Rs. xxx/-</td>
            <td>Rs. 5,55,55,666/-</td>
          </tr>
        </tbody>
      </table>-->
      <uib-tabset active="activeJustified" justified="true">
        <uib-tab index="0" heading="Payment Master">
          <div class="over-table">
            <table class="table payment-to-sellers-table table-bordered">
              <thead class="sell-pay">
                <tr>
                  <th>Transaction ID</th>
                  <th>Order ID</th>
                  <th>Order Date</th>
                  <th>Seller ID</th>
                  <th>Order Value</th>
                  <th>Net Payable</th>
                  <th>Payment Amount</th>
                  <th>Payment Due Date</th>
                  <th>Payment Remarks</th>
                  <th>Status</th>
                  <th>Payment ID</th>
                </tr>
              </thead>
              <tbody class="sell-pay">
                <tr ng-repeat="data in all">
                  <td>TBT{{data.transacId}}</td>
                  <td>TBO{{data.order.orderId}}</td>
                  <td>{{data.orderDate | date:'mediumDate'}}</td>
                  <td>{{data.seller.userId}}</td>
                  <td>{{data.orderValue}}</td>
                  <td>{{data.netPayable}}</td>
                  <td>{{data.paymentAmount}}</td>
                  <td> {{data.paymentDueDate| date:'mediumDate'}}</td>
                  <td>{{data.paymentRemarks}}</td>
                  <td>{{data.status}}</td>
                  <td></td>
                </tr>
                <!--<tr>
                  <td>ABC001A</td>
                  <td>ABC001</td>
                  <td>2-Jul</td>
                  <td>SB009</td>
                  <td>10526</td>
                  <td>10000</td>
                  <td>7300</td>
                  <td>11-Jul</td>
                  <td>75% payment on dispatch</td>
                  <td>Pending</td>
                  <td></td>
                </tr>
                <tr>
                  <td>ABC00CX</td>
                  <td>ABC003</td>
                  <td>30-Jun</td>
                  <td>SB009</td>
                  <td>7000</td>
                  <td>0</td>
                  <td>-200</td>
                  <td>8-Jul</td>
                  <td>Order Cancellation Fee</td>
                  <td>Pending</td>
                  <td></td>
                </tr>
                <tr>
                  <td>ABC005A</td>
                  <td>ABC005</td>
                  <td>11-Jun</td>
                  <td>SB009</td>
                  <td>8421</td>
                  <td>8000</td>
                  <td>6000</td>
                  <td>2-Jul</td>
                  <td>75% payment on dispatch</td>
                  <td>Paid</td>
                  <td>P001</td>
                </tr>
                <tr>
                  <td>ABC001B</td>
                  <td>ABC005</td>
                  <td>11-Jun</td>
                  <td>SB009</td>
                  <td>8421</td>
                  <td>8000</td>
                  <td>2000</td>
                  <td>6-Jul</td>
                  <td>25% payment on completion</td>
                  <td>Paid</td>
                  <td>P002</td>
                </tr>
                <tr>
                  <td>XYZ001A</td>
                  <td>XYZ001</td>
                  <td>20-Jun</td>
                  <td>SB002</td>
                  <td>21053</td>
                  <td>20000</td>
                  <td>15000</td>
                  <td>30-Jun</td>
                  <td>75% payment on dispatch</td>
                  <td>Pending</td>
                  <td></td>
                </tr>
                <tr>
                  <td>XYZ001B</td>
                  <td>XYZ001</td>
                  <td>20-Jul</td>
                  <td>SB002</td>
                  <td>21053</td>
                  <td>20000</td>
                  <td>5000</td>
                  <td>1-Jul</td>
                  <td>25% payment on completion</td>
                  <td>Pending</td>
                  <td></td>
                </tr>-->
              </tbody>
            </table>
          </div>
        </uib-tab>
        <uib-tab index="1" heading="Pending Transaction">
          <div class="notify-head">
            <div class="row">
              <div class="col-md-6">
                <form>
                  <div class="form-group">
                    <label for="text">Pending Transactions:</label>
                    <label for="text"></label>
                  </div>
                </form>
              </div>
              <div class="col-md-6">
                <form>
                  <div class="form-group">
                    <button class="btn btn-default convert">Convert to Payments</button>
                  </div>
                </form>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <form>
                  <div class="form-group label-head">
                    <label for="text">Total Pending:</label>
                    <label for="text">27100</label>
                  </div>
                  <div class="form-group label-head">
                    <label for="text">Total Payments Being Processed:</label>
                    <label for="text"></label>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="over-table">
            <table class="table payment-to-sellers-table table-bordered">
              <thead class="sell-pay">
                <tr>
                  <th>Transaction ID</th>
                  <th>Order ID</th>
                  <th>Date</th>
                  <th>Seller Date</th>
                  <th>Order Value</th>
                  <th>Net Payable</th>
                  <th>Payment Amount</th>
                  <th>Payment Due Date</th>
                  <th>Payment Remarks</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody class="sell-pay">
                <tr ng-repeat="data in allPending">
                  <td>TBT{{data.transacId}}</td>
                  <td>TBO{{data.order.orderId}}</td>
                  <td>{{data.orderDate | date:'mediumDate'}}</td>
                  <td>{{data.seller.userId}}</td>
                  <td>{{data.orderValue}}</td>
                  <td>{{data.netPayable}}</td>
                  <td>{{data.paymentAmount}}</td>
                  <td>{{data.paymentDueDate| date:'mediumDate'}}</td>
                  <td>{{data.paymentRemarks}}</td>
                  <td>{{data.status}}</td>
                </tr>
              
              </tbody>
            </table>
          </div>
        </uib-tab>
        <uib-tab index="2" heading="Payment Processing">
          <div class="notify-head">
            <div class="row">
              <div class="col-md-6">
                <form>
                  <div class="form-group">
                    <label for="text">Payment Processing:</label>
                    <label for="text"></label>
                  </div>
                </form>
              </div>
              <div class="col-md-6">
                <form>
                  <div class="form-group">
                    <button class="btn btn-default convert">Payment Processing</button>
                  </div>
                </form>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <form>
                  <div class="form-group label-head">
                    <label for="text">Total Pending:</label>
                    <label for="text"></label>
                  </div>
                  <div class="form-group label-head">
                    <label for="text">Total Payments Being Processed:</label>
                    <label for="text">27100</label>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="over-table">
            <table class="table payment-to-sellers-table table-bordered">
              <thead class="sell-pay">
                <tr>
                  <th>Transaction ID</th>
                  <th>Order ID</th>
                  <th>Date</th>
                  <th>Seller Date</th>
                  <th>Order Value</th>
                  <th>Net Payable</th>
                  <th>Payment Amount</th>
                  <th>Payment Due Date</th>
                  <th>Payment Remarks</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody class="sell-pay">
                <tr>
                  <td>ABC001A</td>
                  <td>ABC001</td>
                  <td>2-Jul</td>
                  <td>SB009</td>
                  <td>10526</td>
                  <td>10000</td>
                  <td>7300</td>
                  <td>11-Jul</td>
                  <td>75% payment on completion</td>
                  <td>Not Due Yet</td>
                </tr>
                <tr>
                  <td>ABC00CX</td>
                  <td>ABC003</td>
                  <td>30-Jun</td>
                  <td>SB009</td>
                  <td>7000</td>
                  <td>0</td>
                  <td>-200</td>
                  <td>8-Jul</td>
                  <td>Order Cancellation Fee</td>
                  <td>Pending</td>
                </tr>
                <tr>
                  <td>XYZ001A</td>
                  <td>XYZ001</td>
                  <td>20-Jun</td>
                  <td>SB002</td>
                  <td>21053</td>
                  <td>20000</td>
                  <td>15000</td>
                  <td>30-Jun</td>
                  <td>75% payment on dispatch</td>
                  <td>Pending</td>
                </tr>
                <tr>
                  <td>XYZ001B</td>
                  <td>XYZ001</td>
                  <td>20-Jul</td>
                  <td>SB002</td>
                  <td>21053</td>
                  <td>20000</td>
                  <td>5000</td>
                  <td>1-Jul</td>
                  <td>25% payment on completion</td>
                  <td>Pending</td>
                </tr>
              </tbody>
            </table>
          </div>
        </uib-tab>
        <uib-tab index="3" heading="Converted Payments">
          <div class="notify-head">
            <div class="row">
              <div class="col-md-6">
                <form>
                  <div class="form-group">
                    <label for="text">Pending Payments:</label>
                    <label for="text">595</label>
                  </div>
                </form>
              </div>
              <div class="col-md-6">
                <form>
                  <div class="form-group">
                    <button class="btn btn-default convert">Download</button>
                  </div>
                </form>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <form>
                  <div class="form-group label-head">
                    <label for="text">Total Amount To Be Paid:</label>
                    <label for="text">27100</label>
                  </div>
                  <div class="form-group label-head">
                    <div class="lbl-head">
                      <label for="text">Total Payments Being Processed:</label>
                    </div>
                    <div class="lbl-head">
                      <select name="" id="" class="form-control">
                                <option>Payment Processing</option>
                                <option>Send To Bank</option>
                                <option>Paid</option>
                              </select>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="over-table">
            <table class="table payment-to-sellers-table table-bordered">
              <thead class="sell-pay">
                <tr>
                  <th></th>
                  <th>Payment ID</th>
                  <th>Seller ID</th>
                  <th>Amount</th>
                  <th>Transaction Reference</th>
                  <th>Status</th>
                  <th>Payment Date</th>
                  <th>NEFT Reference</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody class="sell-pay">
                <!--<tr>
                    <td> <input class="magic-checkbox" type="checkbox" name="layout" id="add-one" value="option1"></td>
                    <td>P003</td>
                    <td>SB009</td>
                    <td>7100</td>
                    <td>ABC001A, ABC003X</td>
                    <td>To Be Paid</td>
                    <td>
                      <div class="lbl-btn">

                        <label for="">Date</label>
                        <button class="btn btn-default" ng-click="openDate();">Select Date</button>
                      </div>
                    </td>
                    <td></td>
                  </tr>-->
                <tr ng-repeat="data in convertedPay">
                  <td> <input class="magic-checkbox" type="checkbox" name="layout" id="add-one" value="option1">{{$index +1}}</td>
                  <td>{{data.paymentid}}</td>
                  <td>SB002</td>
                  <td>20000</td>
                  <td>XYZ001A, XYZ001B</td>
                  <td>To Be Paid</td>
                  <td>
                    <div class="lbl-btn">
                      <label for="">Date</label>
                      <button class="btn btn-default" ng-click="openDate();">Select Date</button>
                    </div>
                  </td>
                  <td>
                    <label><span ng-if="showText==true && myindex!=$index">text</span></label>
                    <span ng-if="showData==true && myindex==$index"><input type="text"/></span>
                  </td>
                  <td>
                    <label for="" ng-click="showConverted($index);">Edit</label>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </uib-tab>
      </uib-tabset>
    </div>
  </div>
</section>