<section class="body-main payment-to-sellers">
  <div class="container-fluid">
    <div class="payment-to-seller">
      <div class="search-content">
        <div class="row">
           <div class="col-md-6">
             <div class="period ">
                    <span>FROM</span>
                    <div class="input-group date">
                      <input type="text" class="form-control cal-input ng-pristine ng-valid ng-isolate-scope ng-not-empty ng-valid-required ng-valid-date ng-touched" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" required="required"><div uib-datepicker-popup-wrap="" ng-model="date" ng-change="dateSelection(date)" template-url="uib/template/datepickerPopup/popup.html" class="ng-not-empty ng-invalid ng-invalid-date-disabled" style="">
  <!-- ngIf: isOpen -->
                       </div>
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default cal-btn" ng-click="open1()"><i class="fa fa-calendar"></i></button>
                      </span>
                    </div>

                     <span>TO</span>
                       <div class="input-group date">
                     <input type="text" class="form-control cal-input ng-pristine ng-untouched ng-valid ng-isolate-scope ng-not-empty ng-valid-required ng-valid-date" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="dt" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" required="required"><div uib-datepicker-popup-wrap="" ng-model="date" ng-change="dateSelection(date)" template-url="uib/template/datepickerPopup/popup.html" class="ng-not-empty ng-valid">
  <!-- ngIf: isOpen -->
                       </div>
                     <span class="input-group-btn">
                       <button type="button" class="btn btn-default cal-btn" ng-click="open2()"><i class="fa fa-calendar"></i></button>
                     </span>
                   </div>
                   <span class="input-group-btn search-i">
                      <i class="btn btn-default fa fa-search" aria-hidden="true"></i>
                    </span>
                 </div>
        </div>

          <div class="col-md-6">
            <div class="more-opt pull-right">
              <input type="checkbox">More
              <span class="caret"></span>
            </div>
        </div>
      </div>
    </div>

    <div class="received-sent">
        <div class="row">
            <div class="col-md-6">
                <div class="received">
                  PAYMENT RECEIVED IN LAST 30 DAYS<br>
                  <i class="fa fa-inr" aria-hidden="true"></i> 28,80,000
                </div>
            </div>
            <div class="col-md-6">
                <div class="sent">
                  PAYMENT SENT TO SELLER IN LAST 30 DAYS<br>
                  <i class="fa fa-inr" aria-hidden="true"></i> 20,00,000
                </div>
            </div>
        </div>
    </div>

          <div class="accordion-main">
            <uib-accordion close-others="oneAtATime">
              <div class="panel-default" uib-accordion-group>
                <uib-accordion-heading>
                  <div class="clearfix received-sent-details">
                    <div class="pull-left">
                      <div class="checkbox pull-left">
                        <label><input type="checkbox"> TBPS001 MIRAGE STEEL LTD.</label>
                      </div>
                    </div>
                    <div class="pull-right">
                      <div class="starred pull-right"><i class="fa fa-star-o" aria-hidden="true"></i></div>
                       <div class="date pull-right">02 June, 2016 | 11.51 PM</div>
                    </div>
                  </div>
                </uib-accordion-heading>
                <div class="accordion-main-content">
                  <table class="table">
                          <thead>
                            <tr>
                              <th><b>1. ORDER ID</b></th>
                              <th colspan="5">TBO058</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td><b>PRODUCT</b></td>
                              <td><b>TRANSACTION ID</b></td>
                              <td><b>TOTAL AMOUNT</b></td>
                              <td><b>0% (AMOUNT)</b></td>
                              <td><b>COMMISSION</b></td>
                              <td><b>BALANCE</b></td>
                            </tr>
                            <tr>
                              <td>Pipe</td>
                              <td>1058558269</td>
                              <td>Rs. xx,xxx/-</td>
                              <td>Rs. xx,xxx/-</td>
                              <td>Rs. xxx/-</td>
                              <td>Rs. 5,55,55,666/-</td>
                            </tr>
                            <tr>
                              <td>Pipe</td>
                              <td>1058558269</td>
                              <td>Rs. xx,xxx/-</td>
                              <td>Rs. xx,xxx/-</td>
                              <td>Rs. xxx/-</td>
                              <td>Rs. 5,55,55,666/-</td>
                            </tr>
                            <tr>
                              <td>Pipe</td>
                              <td>1058558269</td>
                              <td>Rs. xx,xxx/-</td>
                              <td>Rs. xx,xxx/-</td>
                              <td>Rs. xxx/-</td>
                              <td>Rs. 5,55,55,666/-</td>
                            </tr>
                            <tr>
                              <td>Pipe</td>
                              <td>1058558269</td>
                              <td>Rs. xx,xxx/-</td>
                              <td>Rs. xx,xxx/-</td>
                              <td>Rs. xxx/-</td>
                              <td>Rs. 5,55,55,666/-</td>
                            </tr>
                          </tbody>
                          <thead>
                            <tr>
                              <th><b>1. ORDER ID</b></th>
                              <th colspan="5">TBO058</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td><b>PRODUCT</b></td>
                              <td><b>TRANSACTION ID</b></td>
                              <td><b>TOTAL AMOUNT</b></td>
                              <td><b>0% (AMOUNT)</b></td>
                              <td><b>COMMISSION</b></td>
                              <td><b>BALANCE</b></td>
                            </tr>
                            <tr>
                              <td>Pipe</td>
                              <td>1058558269</td>
                              <td>Rs. xx,xxx/-</td>
                              <td>Rs. xx,xxx/-</td>
                              <td>Rs. xxx/-</td>
                              <td>Rs. 5,55,55,666/-</td>
                            </tr>
                            <tr>
                              <td>Pipe</td>
                              <td>1058558269</td>
                              <td>Rs. xx,xxx/-</td>
                              <td>Rs. xx,xxx/-</td>
                              <td>Rs. xxx/-</td>
                              <td>Rs. 5,55,55,666/-</td>
                            </tr>
                            <tr>
                              <td>Pipe</td>
                              <td>1058558269</td>
                              <td>Rs. xx,xxx/-</td>
                              <td>Rs. xx,xxx/-</td>
                              <td>Rs. xxx/-</td>
                              <td>Rs. 5,55,55,666/-</td>
                            </tr>
                            <tr>
                              <td>Pipe</td>
                              <td>1058558269</td>
                              <td>Rs. xx,xxx/-</td>
                              <td>Rs. xx,xxx/-</td>
                              <td>Rs. xxx/-</td>
                              <td>Rs. 5,55,55,666/-</td>
                            </tr>
                          </tbody>
                  </table>

                </div>
              </div>
            </uib-accordion>
          </div>
          <div class="accordion-main">
            <uib-accordion close-others="oneAtATime">
              <div class="panel-default" uib-accordion-group>
                <uib-accordion-heading>
                  <div class="clearfix received-sent-details">
                    <div class="pull-left">
                      <div class="checkbox pull-left">
                        <label><input type="checkbox"> TBS002 DHANERA STEEL</label>
                      </div>
                    </div>
                    <div class="pull-right">
                      <div class="starred pull-right"><i class="fa fa-star-o" aria-hidden="true"></i></div>
                       <div class="date pull-right">02 June, 2016 | 11.51 PM</div>
                    </div>
                  </div>
                </uib-accordion-heading>
                <div class="accordion-main-content">
                  <table class="table">
                          <thead>
                            <tr>
                              <th><b>1. ORDER ID</b></th>
                              <th colspan="5">TBO058</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td><b>PRODUCT</b></td>
                              <td><b>TRANSACTION ID</b></td>
                              <td><b>TOTAL AMOUNT</b></td>
                              <td><b>0% (AMOUNT)</b></td>
                              <td><b>COMMISSION</b></td>
                              <td><b>BALANCE</b></td>
                            </tr>
                            <tr>
                              <td>Pipe</td>
                              <td>1058558269</td>
                              <td>Rs. xx,xxx/-</td>
                              <td>Rs. xx,xxx/-</td>
                              <td>Rs. xxx/-</td>
                              <td>Rs. 5,55,55,666/-</td>
                            </tr>
                            <tr>
                              <td>Pipe</td>
                              <td>1058558269</td>
                              <td>Rs. xx,xxx/-</td>
                              <td>Rs. xx,xxx/-</td>
                              <td>Rs. xxx/-</td>
                              <td>Rs. 5,55,55,666/-</td>
                            </tr>
                            <tr>
                              <td>Pipe</td>
                              <td>1058558269</td>
                              <td>Rs. xx,xxx/-</td>
                              <td>Rs. xx,xxx/-</td>
                              <td>Rs. xxx/-</td>
                              <td>Rs. 5,55,55,666/-</td>
                            </tr>
                            <tr>
                              <td>Pipe</td>
                              <td>1058558269</td>
                              <td>Rs. xx,xxx/-</td>
                              <td>Rs. xx,xxx/-</td>
                              <td>Rs. xxx/-</td>
                              <td>Rs. 5,55,55,666/-</td>
                            </tr>
                          </tbody>
                          <thead>
                            <tr>
                              <th><b>1. ORDER ID</b></th>
                              <th colspan="5">TBO058</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td><b>PRODUCT</b></td>
                              <td><b>TRANSACTION ID</b></td>
                              <td><b>TOTAL AMOUNT</b></td>
                              <td><b>0% (AMOUNT)</b></td>
                              <td><b>COMMISSION</b></td>
                              <td><b>BALANCE</b></td>
                            </tr>
                            <tr>
                              <td>Pipe</td>
                              <td>1058558269</td>
                              <td>Rs. xx,xxx/-</td>
                              <td>Rs. xx,xxx/-</td>
                              <td>Rs. xxx/-</td>
                              <td>Rs. 5,55,55,666/-</td>
                            </tr>
                            <tr>
                              <td>Pipe</td>
                              <td>1058558269</td>
                              <td>Rs. xx,xxx/-</td>
                              <td>Rs. xx,xxx/-</td>
                              <td>Rs. xxx/-</td>
                              <td>Rs. 5,55,55,666/-</td>
                            </tr>
                            <tr>
                              <td>Pipe</td>
                              <td>1058558269</td>
                              <td>Rs. xx,xxx/-</td>
                              <td>Rs. xx,xxx/-</td>
                              <td>Rs. xxx/-</td>
                              <td>Rs. 5,55,55,666/-</td>
                            </tr>
                            <tr>
                              <td>Pipe</td>
                              <td>1058558269</td>
                              <td>Rs. xx,xxx/-</td>
                              <td>Rs. xx,xxx/-</td>
                              <td>Rs. xxx/-</td>
                              <td>Rs. 5,55,55,666/-</td>
                            </tr>
                          </tbody>
                  </table>

                </div>
              </div>
            </uib-accordion>
          </div>
          <div class="accordion-main">
            <uib-accordion close-others="oneAtATime">
              <div class="panel-default" uib-accordion-group>
                <uib-accordion-heading>
                  <div class="clearfix received-sent-details">
                    <div class="pull-left">
                      <div class="checkbox pull-left">
                        <label><input type="checkbox"> TBS003 KIRLOSKAR STEEL</label>
                      </div>
                    </div>
                    <div class="pull-right">
                      <div class="starred pull-right"><i class="fa fa-star-o" aria-hidden="true"></i></div>
                       <div class="date pull-right">02 June, 2016 | 11.51 PM</div>
                    </div>
                  </div>
                </uib-accordion-heading>
                <div class="accordion-main-content">
                  <table class="table">
                          <thead>
                            <tr>
                              <th><b>1. ORDER ID</b></th>
                              <th colspan="5">TBO058</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td><b>PRODUCT</b></td>
                              <td><b>TRANSACTION ID</b></td>
                              <td><b>TOTAL AMOUNT</b></td>
                              <td><b>0% (AMOUNT)</b></td>
                              <td><b>COMMISSION</b></td>
                              <td><b>BALANCE</b></td>
                            </tr>
                            <tr>
                              <td>Pipe</td>
                              <td>1058558269</td>
                              <td>Rs. xx,xxx/-</td>
                              <td>Rs. xx,xxx/-</td>
                              <td>Rs. xxx/-</td>
                              <td>Rs. 5,55,55,666/-</td>
                            </tr>
                            <tr>
                              <td>Pipe</td>
                              <td>1058558269</td>
                              <td>Rs. xx,xxx/-</td>
                              <td>Rs. xx,xxx/-</td>
                              <td>Rs. xxx/-</td>
                              <td>Rs. 5,55,55,666/-</td>
                            </tr>
                            <tr>
                              <td>Pipe</td>
                              <td>1058558269</td>
                              <td>Rs. xx,xxx/-</td>
                              <td>Rs. xx,xxx/-</td>
                              <td>Rs. xxx/-</td>
                              <td>Rs. 5,55,55,666/-</td>
                            </tr>
                            <tr>
                              <td>Pipe</td>
                              <td>1058558269</td>
                              <td>Rs. xx,xxx/-</td>
                              <td>Rs. xx,xxx/-</td>
                              <td>Rs. xxx/-</td>
                              <td>Rs. 5,55,55,666/-</td>
                            </tr>
                          </tbody>
                          <thead>
                            <tr>
                              <th><b>1. ORDER ID</b></th>
                              <th colspan="5">TBO058</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td><b>PRODUCT</b></td>
                              <td><b>TRANSACTION ID</b></td>
                              <td><b>TOTAL AMOUNT</b></td>
                              <td><b>0% (AMOUNT)</b></td>
                              <td><b>COMMISSION</b></td>
                              <td><b>BALANCE</b></td>
                            </tr>
                            <tr>
                              <td>Pipe</td>
                              <td>1058558269</td>
                              <td>Rs. xx,xxx/-</td>
                              <td>Rs. xx,xxx/-</td>
                              <td>Rs. xxx/-</td>
                              <td>Rs. 5,55,55,666/-</td>
                            </tr>
                            <tr>
                              <td>Pipe</td>
                              <td>1058558269</td>
                              <td>Rs. xx,xxx/-</td>
                              <td>Rs. xx,xxx/-</td>
                              <td>Rs. xxx/-</td>
                              <td>Rs. 5,55,55,666/-</td>
                            </tr>
                            <tr>
                              <td>Pipe</td>
                              <td>1058558269</td>
                              <td>Rs. xx,xxx/-</td>
                              <td>Rs. xx,xxx/-</td>
                              <td>Rs. xxx/-</td>
                              <td>Rs. 5,55,55,666/-</td>
                            </tr>
                            <tr>
                              <td>Pipe</td>
                              <td>1058558269</td>
                              <td>Rs. xx,xxx/-</td>
                              <td>Rs. xx,xxx/-</td>
                              <td>Rs. xxx/-</td>
                              <td>Rs. 5,55,55,666/-</td>
                            </tr>
                          </tbody>
                  </table>

                </div>
              </div>
            </uib-accordion>
          </div>

    </div>
  </div>
</section>
