<section class="body-main payment-transaction-master">
  <div class="container-fluid">




    <div class="details">

  <div>

    <div class="head-text">
        <div class="row">
          <div class="col-md-12">
            <div class="magic-form">
              <div class="magic-resize">
                <input class="magic-checkbox" type="checkbox" name="layout" id="2" value="option1">
                  <label class="text" for="2">
                    <h2>sb009</h2>
                  </label>
              </div>
            </div>
          </div>
      </div>
    </div>

   <div class="table-responsive">
     <table class="table">
       <thead class="head">
         <tr>
           <th>transaction id</th>
           <th>order id</th>
           <th>order date</th>
           <th>seller id</th>
           <th>order value</th>
           <th>net payable</th>
           <th>payment amount</th>
           <th>payment due date</th>
           <th>payment remarks</th>
           <th>status</th>
           <th>payment id</th>
         </tr>
       </thead>
       <tbody class="info">
         <tr>
           <td>ABC001 B</td>
           <td>ABC001</td>
           <td>02-07-16</td>
           <td>SB009</td>
           <td>10526</td>
           <td>10000</td>
           <td>2500</td>
           <td>11-07-16</td>
           <td>25% Payment on completion</td>
           <td>Not due yet</td>
           <td></td>
         </tr>
         <tr>
           <td>ABC001 A</td>
           <td>ABC001</td>
           <td>02-07-16</td>
           <td>SB009</td>
           <td>10526</td>
           <td>10000</td>
           <td>7300</td>
           <td>11-07-16</td>
           <td>75% Payment on completion</td>
           <td>Pending</td>
           <td></td>
         </tr>
         <tr>
           <td>ABC003 X</td>
           <td>ABC003</td>
           <td>30-06-16</td>
           <td>SB009</td>
           <td>7000</td>
           <td>0</td>
           <td>-200</td>
           <td>08-07-16</td>
           <td>Order cancellation fee</td>
           <td>Pending</td>
           <td></td>
         </tr>
         <tr>
           <td>ABC005 B</td>
           <td>ABC005</td>
           <td>11-07-16</td>
           <td>SB009</td>
           <td>8421</td>
           <td>8000</td>
           <td>6000</td>
           <td>02-07-16</td>
           <td>75% Payment on dispatch</td>
           <td>Completed</td>
           <td>Payment001</td>
         </tr>
         <tr>
           <td>ABC005 A</td>
           <td>ABC005</td>
           <td>11-07-16</td>
           <td>SB009</td>
           <td>8421</td>
           <td>8000</td>
           <td>2000</td>
           <td>06-07-16</td>
           <td>25% Payment on completion</td>
           <td>Completed</td>
           <td>Payment002</td>
         </tr>
         <tr>
           <td>XYZ001 A</td>
           <td>XYZ001</td>
           <td>20-06-16</td>
           <td>SB002</td>
           <td>21053</td>
           <td>20000</td>
           <td>15000</td>
           <td>30-06-16</td>
           <td>75% Payment on dispatch</td>
           <td>Pending</td>
           <td></td>
         </tr>
         <tr>
           <td>XYZ001 B</td>
           <td>XYZ001</td>
           <td>20-06-16</td>
           <td>SB002</td>
           <td>21053</td>
           <td>20000</td>
           <td>5000</td>
           <td>01-07-16</td>
           <td>25% Payment on dispatch</td>
           <td>Pending</td>
           <td></td>
         </tr>

       </tbody>
     </table>
   </div>

 </div>




    </div>

  </div>
</section>
