<section class="body-main pending-delivery">
  <div class="container-fluid">

        <div class="row">

          <div class="col-md-6">
            <div class="date-to">
              <label>Date</label>
              <div class="input-group search-top">
                  <input type="date" class="form-control">
                  <!-- <span class="input-group-btn">
                    <i class="btn btn-default fa fa-search" aria-hidden="true"></i>
                  </span> -->
              </div>
            <!-- </div>
            <div class="date-to"> -->
              <label>To</label>
              <div class="input-group search-top">
                  <input type="date" class="form-control">
                  <!-- <span class="input-group-btn">
                    <i class="btn btn-default fa fa-search" aria-hidden="true"></i>
                  </span> -->
              </div>
            </div>
          </div>

          <!-- <div class="col-md-3">
            <div class="date-to">
              <label>To</label>
              <div class="input-group search-top">
                  <input type="text" class="form-control">
                  <span class="input-group-btn">
                    <i class="btn btn-default fa fa-search" aria-hidden="true"></i>
                  </span>
              </div>
            </div>
          </div> -->

        </div>
        <!-- <div class="more-opt">
          <input type="checkbox">More
          <span class="caret"></span>
        </div> -->


    <div class="details">
      <div class="head">
        <div class="row">
          <div class="col-md-12">
            <div class="magic-form">
              <div class="magic-resize">
                <input class="magic-checkbox" type="checkbox" name="layout" id="2" value="option1">
                  <label class="text" for="2">
                    <h2>rajesh transporters</h2>
                  </label>
              </div>
            </div>
          </div>
      </div>


    </div>
    <div class="info">
      <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>order id</th>
                            <th class="date">date</th>
                            <th>origin</th>
                            <th>desitination</th>
                            <th>distance</th>
                            <th>weight</th>
                            <th class="amount">amount</th>
                            <th>paid</th>
                            <th class="delivery-status">delivery status</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>12345</td>
                            <td>01-08-16</td>
                            <td>15/18 Rhythm House, Kaala Ghoda, Fort, Mumbai - 400005 India</td>
                            <td>15/18 Rhythm House, Kaala Ghoda, Fort, Mumbai - 400005 India</td>
                            <td>500 km</td>
                            <td>800 kg</td>
                            <td>Rs. 5,666/-</td>
                            <td>PAID</td>
                            <td>DELIVERED</td>
                          </tr>
                          <tr>
                            <td>67890</td>
                            <td>04-08-16</td>
                            <td>15/18 Rhythm House, Kaala Ghoda, Fort, Mumbai - 400005 India</td>
                            <td>15/18 Rhythm House, Kaala Ghoda, Fort, Mumbai - 400005 India</td>
                            <td>500 km</td>
                            <td>800 kg</td>
                            <td>Rs. 5,666/-</td>
                            <td>PAID</td>
                            <td>DELIVERED</td>
                          </tr>
                          <tr>
                            <td>67890</td>
                            <td>04-08-16</td>
                            <td>15/18 Rhythm House, Kaala Ghoda, Fort, Mumbai - 400005 India</td>
                            <td>15/18 Rhythm House, Kaala Ghoda, Fort, Mumbai - 400005 India</td>
                            <td>500 km</td>
                            <td>800 kg</td>
                            <td>Rs. 5,666/-</td>
                            <td>PAID</td>
                            <td>DELIVERED</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
    </div>



    </div>

  </div>
</section>
