<section class="body-main refund-to-buyers">
    <div class="container-fluid">
        <div class="refund-to-buyer">
            <div class="search-content">
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group search-top">
                            <input type="text" class="form-control" placeholder="Search by Buyer ID or Name">
                            <span class="input-group-btn">
                <i class="btn btn-default fa fa-search" aria-hidden="true"></i>
              </span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="more-opt pull-right">
                            <div class="magic-form dropdown">
                                <div class="filter pull-right dropdown-toggle" data-toggle="dropdown">
                                    <!--<input class="magic-checkbox" type="checkbox" name="layout" id="add-more" value="option1">-->
                                    <label class="">Filter by Status</label>
                                    <i class="fa fa-caret-down carrot" aria-hidden="true"></i>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Pending Verification</a></li>
                                        <li><a href="#">Verified</a></li>
                                        <li><a href="#">Rejected</a></li>
                                        <li><a href="#">Profile Incomplete</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bar">
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-offset-2 col-md-8">
                            <highchart id="chart1" style="width:100%;height:152px;" config="barChartConfig"></highchart>
                            <p>TOTAL REQUEST</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-offset-2 col-md-8">
                            <highchart id="chart1" style="width:100%;height:152px;" config="barChartConfig"></highchart>
                            <p>PENDING REQUEST</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="refund-to-buyer-details ">
                <div class="magic-form">
                    <div class="magic-resize">
                        <input class="magic-checkbox" type="checkbox" name="layout" id="add-one" value="option1">
                        <label class="detail-heading" for="add-one">
          <p ng-bind-html="text | limitHtml:10"></p>
            </label>
                    </div>
                </div>
                <div class="starred pull-right"><i class="fa fa-star" aria-hidden="true"></i></div>
                <div class="date pull-right">Date: 02 June, 2016 | Time: 11.51 PM</div>
            </div>
            <table class="table table-bordered refund-to-buyer-table">
                <thead>
                    <tr>
                        <th><strong>REFUND ID</strong></th>
                        <th><strong>ORDER ID</strong></th>
                        <th><strong>SELLER</strong></th>
                        <th><strong>TOTAL AMOUNT</strong></th>
                        <th><strong>REASON</strong></th>
                        <th><strong>STATUS</strong></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>REF001</td>
                        <td><a ui-sref="view-orders">TBO058</a></td>
                        <td>Raj Steel</td>
                        <td>Rs. xx,xxx/-</td>
                        <td class="last-td">
                            <div class="reason">
                                <div class="reason-data">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Multoque hoc melius nos veriusque
                                    quam Stoici.</div>
                                <!--<div class="reason-view"> <a href="" ng-click="openView();"><label class="view pull-right">VIEW</label></a></div>-->
                            </div>
                        </td>
                        <td class="view-td">
                            <label class="stat">PENDING</label><br>
                            <!--<label class="stat">REJECTED</label>-->
                            <a><label class="view" ng-click="openstandard();">EDIT</label></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="refund-to-buyer-details ">
                <div class="magic-form">
                    <div class="magic-resize">
                        <input class="magic-checkbox" type="checkbox" name="layout" id="add-two" value="option1">
                        <label class="detail-heading" for="add-two">
                  TBS001 MIRAGE STEEL LTD.
                </label>
                    </div>
                </div>
                <div class="starred pull-right"><i class="fa fa-star" aria-hidden="true"></i></div>
                <div class="date pull-right">Date: 02 June, 2016 | Time: 11.51 PM</div>
            </div>
            <table class="table table-bordered refund-to-buyer-table">
                <thead>
                    <tr>
                        <th><strong>REFUND ID</strong></th>
                        <th><strong>ORDER ID</strong></th>
                        <th><strong>SELLER</strong></th>
                        <th><strong>TOTAL AMOUNT</strong></th>
                        <th><strong>REASON</strong></th>
                        <th><strong>STATUS</strong></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>REF001</td>
                        <td><a ui-sref="view-orders">TBO058</a></td>
                        <td>Raj Steel</td>
                        <td>Rs. xx,xxx/-</td>
                        <td class="last-td">
                            <div class="reason">
                                <div class="reason-data">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Multoque hoc melius nos veriusque
                                    quam Stoici.</div>
                                <!--<div class="reason-view"> <a href="" ng-click="openView();"><label class="view pull-right">VIEW</label></a></div>-->
                            </div>
                        </td>
                        <td class="view-td">
                            <label class="stat">PENDING</label><br>
                            <!--<label class="stat">REJECTED</label>-->
                            <a><label class="view" ng-click="openstandard();">EDIT</label></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="refund-to-buyer-details ">
                <div class="magic-form">
                    <div class="magic-resize">
                        <input class="magic-checkbox" type="checkbox" name="layout" id="add-three" value="option1">
                        <label class="detail-heading" for="add-three">
                      TBS001 MIRAGE STEEL LTD.
                    </label>
                    </div>
                </div>
                <div class="starred pull-right"><i class="fa fa-star" aria-hidden="true"></i></div>
                <div class="date pull-right">Date: 02 June, 2016 | Time: 11.51 PM</div>
            </div>
            <table class="table table-bordered refund-to-buyer-table">
                <thead>
                    <tr>
                        <th><strong>REFUND ID</strong></th>
                        <th><strong>ORDER ID</strong></th>
                        <th><strong>SELLER</strong></th>
                        <th><strong>TOTAL AMOUNT</strong></th>
                        <th><strong>REASON</strong></th>
                        <th><strong>STATUS</strong></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>REF001</td>
                        <td><a ui-sref="view-orders">TBO058</a></td>
                        <td>Raj Steel</td>
                        <td>Rs. xx,xxx/-</td>
                        <td class="last-td">
                            <div class="reason">
                                <div class="reason-data">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Multoque hoc melius nos veriusque
                                    quam Stoici.</div>
                                <!--<div class="reason-view"> <a href="" ng-click="openView();"><label class="view pull-right">VIEW</label></a></div>-->
                            </div>
                        </td>
                        <td class="view-td">
                            <label class="stat">PENDING</label><br>
                            <!--<label class="stat">REJECTED</label>-->
                            <a><label class="view" ng-click="openstandard();">EDIT</label></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>