<section class="body-main refund-to-buyers">
  <div class="container-fluid">
    <div class="refund-to-buyer">
      <div class="search-content">
        <div class="row">
          <div class="col-md-6">
            <div class="input-group search-top">
              <input type="text" class="form-control" placeholder="Search by Seller ID or Name">
              <span class="input-group-btn">
                <i class="btn btn-default fa fa-search" aria-hidden="true"></i>
                <!-- <button class="btn btn-default" type="button">Go!</button> -->
              </span>
            </div>
            </div>

              <div class="col-md-6">
                <div class="more-opt pull-right">
                  <div class="magic-form">
                    <div class="magic-resize">
                      <input class="magic-checkbox" type="checkbox" name="layout" id="add-one" value="option1">
                        <label class="detail-heading" for="add-one">
                          More
                        </label>
                    </div>
                  </div>
                  <i class="fa fa-caret-down carrot" aria-hidden="true"></i>
                </div>
            </div>
          </div>
    </div>
    <div class="bar">
      <div class="row">
          <div class="col-md-6">
            <div class="total-request"></div>
          </div>
          <div class="col-md-6">
            <div class="pending-request"></div>
          </div>
      </div>
    </div>
    <div class="refund-to-buyer-details ">
      <div class="magic-form">
        <div class="magic-resize">
          <input class="magic-checkbox" type="checkbox" name="layout" id="add-more" value="option1">
            <label class="detail-heading" for="add-more">
              TBS001 MIRAGE STEEL LTD.
            </label>
        </div>
      </div>
        <div class="starred pull-right"><i class="fa fa-star" aria-hidden="true"></i></div>
         <div class="date pull-right">Date: 02 June, 2016 | Time: 11.51 PM</div>
    </div>
    <table class="table table-bordered refund-to-buyer-table">
          <thead>
            <tr>
              <th><strong>ORDER ID</strong></th>
              <th><strong>SELLER</strong></th>
              <th><strong>TOTAL AMOUNT</strong></th>
              <th><strong>REASON</strong></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>TBO058</td>
              <td>Raj Steel</td>
              <td>Rs. xx,xxx/-</td>
              <td class="last-td">
                <div class="reason">
                <div class="reason-data">Lorem ipsum dolor sit amet,
                  consectetur adipiscing elit.
                  Multoque hoc melius nos
                  veriusque quam Stoici.</div>
                 <div class="reason-view">  <a href="#"><label class="view pull-right">VIEW ALL</label></a></div>
               </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="refund-to-buyer-details ">
          <div class="magic-form">
            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="layout" id="add-more" value="option1">
                <label class="detail-heading" for="add-more">
                  TBS001 MIRAGE STEEL LTD.
                </label>
            </div>
          </div>
            <div class="starred pull-right"><i class="fa fa-star" aria-hidden="true"></i></div>
             <div class="date pull-right">Date: 02 June, 2016 | Time: 11.51 PM</div>

        </div>
        <table class="table table-bordered refund-to-buyer-table">
              <thead>
                <tr>
                  <th><strong>ORDER ID</strong></th>
                  <th><strong>SELLER</strong></th>
                  <th><strong>TOTAL AMOUNT</strong></th>
                  <th><strong>REASON</strong></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>TBO058</td>
                  <td>Raj Steel</td>
                  <td>Rs. xx,xxx/-</td>
                  <td class="last-td">
                    <div class="reason">
                    <div class="reason-data">Lorem ipsum dolor sit amet,
                      consectetur adipiscing elit.
                      Multoque hoc melius nos
                      veriusque quam Stoici.</div>
                     <div class="reason-view">  <a href="#"><label class="view pull-right">VIEW ALL</label></a></div>
                   </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="refund-to-buyer-details ">
              <div class="magic-form">
                <div class="magic-resize">
                  <input class="magic-checkbox" type="checkbox" name="layout" id="add-more" value="option1">
                    <label class="detail-heading" for="add-more">
                      TBS001 MIRAGE STEEL LTD.
                    </label>
                </div>
              </div>
                <div class="starred pull-right"><i class="fa fa-star" aria-hidden="true"></i></div>
                 <div class="date pull-right">Date: 02 June, 2016 | Time: 11.51 PM</div>
            </div>
            <table class="table table-bordered refund-to-buyer-table">
                  <thead>
                    <tr>
                      <th><strong>ORDER ID</strong></th>
                      <th><strong>SELLER</strong></th>
                      <th><strong>TOTAL AMOUNT</strong></th>
                      <th><strong>REASON</strong></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>TBO058</td>
                      <td>Raj Steel</td>
                      <td>Rs. xx,xxx/-</td>
                      <td class="last-td">
                        <div class="reason">
                        <div class="reason-data">Lorem ipsum dolor sit amet,
                          consectetur adipiscing elit.
                          Multoque hoc melius nos
                          veriusque quam Stoici.</div>
                         <div class="reason-view">  <a href="#"><label class="view pull-right">VIEW ALL</label></a></div>
                       </div>
                      </td>
                    </tr>
                  </tbody>
                </table>


  </div>
  </div>
</section>
