<section class="body-main reports">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-6">
        <div class="input-group search-top">
          <input type="text" class="form-control" placeholder="Search">
          <span class="input-group-btn">
            <i class="btn btn-default fa fa-search" aria-hidden="true"></i>
            <!-- <button class="btn btn-default" type="button">Go!</button> -->
          </span>
        </div>
      </div>
      <div class="col-md-6">
        <!-- <div class="more-opt">
          <input type="checkbox">More
          <span class="caret"></span>
        </div> -->
      </div>
    </div>

    <div class="details">
    <div class="row">

      <div class="col-md-4">
        <div class="head">
          <h2>product reports</h2>
        </div>
        <div class="info">

        </div>
      </div>

      <div class="col-md-4">
        <div class="head">
          <h2>buyer reports</h2>
        </div>
        <div class="info">
            asdfadsf
        </div>
      </div>

      <div class="col-md-4">
        <div class="head">
          <h2>seller reports</h2>
        </div>
        <div class="info">
            asdfadsf
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-md-4">
        <div class="head">
          <h2>inspection agencie reports</h2>
        </div>
        <div class="info">
            asdfadsf
        </div>
      </div>

      <div class="col-md-4">
        <div class="head">
          <h2>transporter reports</h2>
        </div>
        <div class="info">
            asdfadsf
        </div>
      </div>

      <div class="col-md-4">
        <div class="head">
          <h2></h2>
        </div>
        <div class="info">
            asdfadsf
        </div>
      </div>
    </div>

    </div>

  </div>
</section>
