<section class="body-main request-sellers">
  <div class="container-fluid">
    <div class="request-seller">
      <div class="search-content">
    <div class="row">
      <div class="col-md-6">
        <div class="input-group search-top">
          <input type="text" class="form-control" placeholder="Search by Seller ID or Name">
          <span class="input-group-btn">
            <i class="btn btn-default fa fa-search" aria-hidden="true"></i>
            <!-- <button class="btn btn-default" type="button">Go!</button> -->
          </span>
        </div>
        </div>

          <div class="col-md-6">
            <div class="more-opt pull-right">
              <div class="magic-form">
                <div class="magic-resize">
                  <input class="magic-checkbox" type="checkbox" name="layout" id="add-more" value="option1">
                    <label class="detail-heading" for="add-more">
                      More
                    </label>
                </div>
              </div>
              <i class="fa fa-caret-down carrot" aria-hidden="true"></i>
            </div>
        </div>
      </div>
    </div>

    <div class="request-seller-details ">
      <div class="magic-form">
        <div class="magic-resize">
          <input class="magic-checkbox" type="checkbox" name="layout" id="add-one" value="option1">
            <label class="detail-heading" for="add-one">
              ORDER ID TB00_1
            </label>
        </div>
      </div>
        <div class="starred pull-right"><i class="fa fa-star" aria-hidden="true"></i></div>
         <div class="date pull-right">Date: 02 June, 2016 | Time: 11.51 PM</div>
    </div>
    <table class="table table-bordered request-seller-table">
          <thead>
            <tr>
              <th><strong>ADDRESS</strong></th>
              <th><strong>REFERENCE</strong></th>
              <th><strong>WAREHOUSE ADD</strong></th>
              <th><strong>CERTIFICATIONS</strong></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>15/18 Rhythm House,
                  Kaala Ghoda, Fort,
                  Mumbai - 400005
                  India</td>
              <td>TBS005</td>
              <td>15/18 Rhythm House,
                  Kaala Ghoda, Fort,
                  Mumbai - 400005
                  India</td>
              <td>CST NO. XXXXXX<br>
                  VAT NO. XXXXXX<a href="#"></td>
                <td class="view-td"><label class="view pull-right">VIEW</label></a></td>
            </tr>
          </tbody>
        </table>
        <div class="request-seller-details ">
          <div class="magic-form">
            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="layout" id="add-two" value="option1">
                <label class="detail-heading" for="add-two">
                  ORDER ID TB00_2
                </label>
            </div>
          </div>
            <div class="starred pull-right"><i class="fa fa-star" aria-hidden="true"></i></div>
             <div class="date pull-right">Date: 02 June, 2016 | Time: 11.51 PM</div>
        </div>
        <table class="table table-bordered request-seller-table">
              <thead>
                <tr>
                  <th><strong>ADDRESS</strong></th>
                  <th><strong>REFERENCE</strong></th>
                  <th><strong>WAREHOUSE ADD</strong></th>
                  <th><strong>CERTIFICATIONS</strong></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>15/18 Rhythm House,
                      Kaala Ghoda, Fort,
                      Mumbai - 400005
                      India</td>
                  <td>TBS005</td>
                  <td>15/18 Rhythm House,
                      Kaala Ghoda, Fort,
                      Mumbai - 400005
                      India
                  </td>
                  <td>CST NO. XXXXXX<br>
                      VAT NO. XXXXXX</a>
                  </td>
                  <td class="view-td"><label class="view pull-right">VIEW</label></a></td>
                </tr>
              </tbody>
            </table>

    </div>
  </div>
</section>
