<section class="body-main request-sellers">
  <div class="container-fluid">
    <div class="request-seller">
      <div class="search-content">
    <div class="row">
      <div class="col-md-6">
        <div class="period ">
                    <span>FROM</span>
                    <div class="input-group date">
                      <input type="text" class="form-control cal-input ng-pristine ng-valid ng-isolate-scope ng-not-empty ng-valid-required ng-valid-date ng-touched" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" required="required"><div uib-datepicker-popup-wrap="" ng-model="date" ng-change="dateSelection(date)" template-url="uib/template/datepickerPopup/popup.html" class="ng-not-empty ng-invalid ng-invalid-date-disabled" style="">
  <!-- ngIf: isOpen -->
                       </div>
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default cal-btn" ng-click="open1()"><i class="fa fa-calendar"></i></button>
                      </span>
                    </div>

                     <span>TO</span>
                       <div class="input-group date">
                     <input type="text" class="form-control cal-input ng-pristine ng-untouched ng-valid ng-isolate-scope ng-not-empty ng-valid-required ng-valid-date" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="dt" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" required="required"><div uib-datepicker-popup-wrap="" ng-model="date" ng-change="dateSelection(date)" template-url="uib/template/datepickerPopup/popup.html" class="ng-not-empty ng-valid">
  <!-- ngIf: isOpen -->
                       </div>
                     <span class="input-group-btn">
                       <button type="button" class="btn btn-default cal-btn" ng-click="open2()"><i class="fa fa-calendar"></i></button>
                     </span>
                   </div>
                   <span class="input-group-btn search-i">
                      <i class="btn btn-default fa fa-search" aria-hidden="true"></i>
                    </span>
                 </div>
        </div>

          <div class="col-md-6">
            <div class="more-opt pull-right">
              <input type="checkbox">More
              <span class="caret"></span>
            </div>
        </div>
      </div>
    </div>

    <div class="request-seller-details ">
      <div class="magic-form">
        <div class="magic-resize">
          <input class="magic-checkbox" type="checkbox" name="layout" id="add-one" value="option1">
            <label class="detail-heading" for="add-one">
              ORDER ID TB00_1
            </label>
        </div>
      </div>
        <div class="starred pull-right"><i class="fa fa-star" aria-hidden="true"></i></div>
         <div class="date pull-right">Date: 02 June, 2016 | Time: 11.51 PM</div>
    </div>
    <table class="table table-bordered request-seller-table">
          <thead>
            <tr>
              <th><strong>ADDRESS</strong></th>
              <th><strong>REFERENCE</strong></th>
              <th><strong>WAREHOUSE ADD</strong></th>
              <th><strong>CERTIFICATIONS</strong></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>15/18 Rhythm House,
                  Kaala Ghoda, Fort,
                  Mumbai - 400005
                  India</td>
              <td>TBS005</td>
              <td>15/18 Rhythm House,
                  Kaala Ghoda, Fort,
                  Mumbai - 400005
                  India</td>
              <td>CST NO. XXXXXX<br>
                  VAT NO. XXXXXX<a href="#"><label class="view pull-right">VIEW ALL</label></a></td>
                </tr></td>
            </tr>
          </tbody>
        </table>
        <div class="request-seller-details ">
          <div class="magic-form">
            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="layout" id="add-one" value="option1">
                <label class="detail-heading" for="add-one">
                  ORDER ID TB00_2
                </label>
            </div>
          </div>
            <div class="starred pull-right"><i class="fa fa-star" aria-hidden="true"></i></div>
             <div class="date pull-right">Date: 02 June, 2016 | Time: 11.51 PM</div>
        </div>
        <table class="table table-bordered request-seller-table">
              <thead>
                <tr>
                  <th><strong>ADDRESS</strong></th>
                  <th><strong>REFERENCE</strong></th>
                  <th><strong>WAREHOUSE ADD</strong></th>
                  <th><strong>CERTIFICATIONS</strong></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>15/18 Rhythm House,
                      Kaala Ghoda, Fort,
                      Mumbai - 400005
                      India</td>
                  <td>TBS005</td>
                  <td>15/18 Rhythm House,
                      Kaala Ghoda, Fort,
                      Mumbai - 400005
                      India</td>
                  <td>CST NO. XXXXXX<br>
                      VAT NO. XXXXXX<a href="#"><label class="view pull-right">VIEW ALL</label></a></td>
                    </tr></td>
                </tr>
              </tbody>
            </table>

    </div>
  </div>
</section>
