<section class="body-main sellers">
  <div class="container-fluid">
    <div class="seller">
      <div class="search-content">
        <div class="row">
          <div class="col-md-6">
            <div class="input-group search-top">
              <input type="text" ng-model="filter.text" ng-change="getAllVerifiedSeller()" class="form-control" placeholder="Search by Seller ID or Name">
              <span ng-click="getAllVerifiedSeller()" class="input-group-btn">
                <i class="btn btn-default fa fa-search" aria-hidden="true"></i>
              </span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="filter pull-left">
              <p class="total">Total Sellers - <span>{{totalItems}}</span></p>
            </div>
            <div class="more-opt pull-right">
              <div class="magic-form dropdown">
                <!--<div class="filter pull-right dropdown-toggle" data-toggle="dropdown">
                  <!--<input class="magic-checkbox" type="checkbox" name="layout" id="add-more" value="option1"
                  <label class="">Filter by</label>
                  <i class="fa fa-caret-down carrot" aria-hidden="true"></i>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Pending Verification</a></li>
                    <li><a href="#">Verified</a></li>
                    <li><a href="#">Rejected</a></li>
                  </ul>
                </div>-->
              </div>
            </div>
            <div class="more-opt1 sort-by">
              <div class="magic-form dropdown">
                <div class="filter pull-right dropdown-toggle" data-toggle="dropdown">
                  <!--<input class="magic-checkbox" type="checkbox" name="layout" id="add-more" value="option1">-->
                  <label class="">Sort by</label>
                  <i class="fa fa-caret-down carrot" aria-hidden="true"></i>
                 <ul class="dropdown-menu" role="menu">
                    <li ng-click="getAllVerifiedSeller('All');"><a>All</a></li>
                    <li ng-click="getAllVerifiedSeller('Amount');"><a>Amount</a></li>
                    <li ng-click="getAllVerifiedSeller('TotalPurchase');"><a>Total Purchase</a></li>
                    <li ng-click="getAllVerifiedSeller('NoOfOrders');"><a>No. of Orders</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

         <div ng-if="AllSeller.length==0">
        <h3 class="text-center">No data Found</h3>
        </div>
        <div ng-if="AllSeller==undefined">
        <h3 class="text-center">Loading...</h3>
        </div>


      <div ng-repeat="seller in AllSeller">
      <div class="seller-details ">
        <!--<div class="magic-form">
          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" name="layout" id="add-more" value="option1">
            <label class="detail-heading" for="add-more">
                       TBS001 MIRAGE STEEL LTD.
                     </label>
          </div>
        </div>
        <div class="starred pull-right"><i class="fa fa-star" aria-hidden="true"></i></div>
        <div class="date pull-right">Date: 02 June, 2016 | Time: 11.51 PM</div>-->
      </div>
      <table class="table table-bordered seller-table">
        <thead>
          <tr>
            <th><strong>SR. NO.</strong></th>
            <th><strong>SELLER NAME</strong></th>
            <th><strong>TOTAL ORDERS</strong></th>
            <th><strong>TOTAL SALES</strong></th>
            <th><strong>PENDING PAYMENT</strong></th>
            <th><strong>STATUS</strong></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
             TBS{{seller.userId}}
            </td>
            <td>
              <span>{{seller.firstName}} {{seller.lastName}}</span>
              <span></span>
              <span></span>
            </td>
            <td>
              <span>{{seller.totalOrders}}</span>
              <span></span>
              <span></span>
            </td>
            <td>
              <span>{{seller.totalSales| currency:'&#8377;'}}</span>
              <span></span>
              <span></span>
              <span class="result"></span>
            </td>
            <td> {{seller.pendingPayment| currency:'&#8377;'}}</td>
            <td>
              <span ng-if="seller.isBlocked==true">Blocked</span>
              <span ng-if="seller.isBlocked==false">Unblocked</span>
              <span><br><a ui-sref="view-sellers({'id':seller._id})" class="pull-right"><label class="view">VIEW</label></a></span>
            </td>
          </tr>
        </tbody>
      </table>
      </div>
      <ul ng-if="totalItems>10" uib-pagination total-items="totalItems" ng-model="filter.pagenumber" ng-change="getAllVerifiedSeller()" class="pagination-sm" ></ul>

    </div>
  </div>
</section>