<section class="body-main super-admin">
  <div class="container-fluid">

        <div class="row">

          <div class="col-md-6">
            <div class="date-to">
              <label>Order Date From</label>
              <div class="input-group search-top">
                  <input type="text" class="form-control">
                  <!-- <span class="input-group-btn">
                    <i class="btn btn-default fa fa-search" aria-hidden="true"></i>
                  </span> -->
              </div>
            <!-- </div>
            <div class="date-to"> -->
              <label>To</label>
              <div class="input-group search-top">
                  <input type="text" class="form-control">
                  <!-- <span class="input-group-btn">
                    <i class="btn btn-default fa fa-search" aria-hidden="true"></i>
                  </span> -->
              </div>
            </div>
          </div>

          <!-- <div class="col-md-3">
            <div class="date-to">
              <label>To</label>
              <div class="input-group search-top">
                  <input type="text" class="form-control">
                  <span class="input-group-btn">
                    <i class="btn btn-default fa fa-search" aria-hidden="true"></i>
                  </span>
              </div>
            </div>
          </div> -->

        </div>
        <!-- <div class="more-opt">
          <input type="checkbox">More
          <span class="caret"></span>
        </div> -->


    <div class="details">
      <!-- <div class="head">
        <div class="row">
          <div class="col-md-12">
            <div class="magic-form">
              <div class="magic-resize">
                <input class="magic-checkbox" type="checkbox" name="layout" id="2" value="option1">
                  <label class="text" for="2">
                    <h2>rajesh transporters</h2>
                  </label>
              </div>
            </div>
          </div>
      </div>
   </div> -->

   <div>
    <div class="table-responsive">
      <table class="table">
        <thead class="head">
          <tr>
            <th></th>
            <th></th>
            <th>total order value</th>
            <th>total payable</th>
            <th>total due</th>
            <th>total paid</th>
            <th>total pending</th>
          </tr>
        </thead>
        <tbody class="info">
          <tr>
            <td></td>
            <td></td>
            <td>21053</td>
            <td>20000</td>
            <td>20000</td>
            <td></td>
            <td>20000</td>
          </tr>
          <tr>
            <td>Order id</td>
            <td>Date</td>
            <td>Order value</td>
            <td>Net payable</td>
            <td>Payment amount</td>
            <td>Payment due date</td>
            <td>Payment remarks</td>
          </tr>
          <tr>
            <td>XYZ001</td>
            <td>20-06-16</td>
            <td>21053</td>
            <td>20000</td>
            <td>15000</td>
            <td>30-06-16</td>
            <td>75% Payment on dispatch</td>
          </tr>
          <tr>
            <td>XYZ001</td>
            <td>20-06-16</td>
            <td>21053</td>
            <td>20000</td>
            <td>15000</td>
            <td>01-07-16</td>
            <td>25% Payment on completion</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

    <!-- <div class="info">
      <div class="table-responsive">
                      <table class="table">

                        <tbody>
                          <tr>
                            <td>12345</td>
                            <td>01-08-16</td>
                            <td>15/18 Rhythm House, Kaala Ghoda, Fort, Mumbai - 400005 India</td>
                            <td>15/18 Rhythm House, Kaala Ghoda, Fort, Mumbai - 400005 India</td>
                            <td>500 km</td>
                            <td>800 kg</td>
                            <td>Rs. 5,666/-</td>
                          </tr>
                          <tr>
                            <td>67890</td>
                            <td>04-08-16</td>
                            <td>15/18 Rhythm House, Kaala Ghoda, Fort, Mumbai - 400005 India</td>
                            <td>15/18 Rhythm House, Kaala Ghoda, Fort, Mumbai - 400005 India</td>
                            <td>500 km</td>
                            <td>800 kg</td>
                            <td>Rs. 5,666/-</td>
                          </tr>
                          <tr>
                            <td>67890</td>
                            <td>04-08-16</td>
                            <td>15/18 Rhythm House, Kaala Ghoda, Fort, Mumbai - 400005 India</td>
                            <td>15/18 Rhythm House, Kaala Ghoda, Fort, Mumbai - 400005 India</td>
                            <td>500 km</td>
                            <td>800 kg</td>
                            <td>Rs. 5,666/-</td>
                          </tr>
                          <tr>
                            <td>67890</td>
                            <td>04-08-16</td>
                            <td>15/18 Rhythm House, Kaala Ghoda, Fort, Mumbai - 400005 India</td>
                            <td>15/18 Rhythm House, Kaala Ghoda, Fort, Mumbai - 400005 India</td>
                            <td>500 km</td>
                            <td>800 kg</td>
                            <td>Rs. 5,666/-</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
    </div> -->



    </div>

  </div>
</section>
