<section class="body-main transporters">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="input-group search-top">
          <input type="text" class="form-control" placeholder="Search by Transporter's Name or ID">
          <span class="input-group-btn">
            <i class="btn btn-default fa fa-search" aria-hidden="true"></i>
            <!-- <button class="btn btn-default" type="button">Go!</button> -->
          </span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="more-opt pull-right">
             <div class="magic-form">
               <div class="magic-resize">
                 <input class="magic-checkbox" type="checkbox" name="layout" id="add-one" value="option1">
                   <label class="detail-heading" for="add-one">
                     More
                   </label>
               </div>
             </div>
             <i class="fa fa-caret-down" aria-hidden="true"></i>
           </div>
      </div>
    </div>

    <div class="details">
      <div class="head">
        <div class="row">

      <div class="col-md-6">
        <div class="magic-form">
          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" name="layout" id="2" value="option1">
              <label class="text" for="2">
                <h2>TBT001 EMILY TRAVELS</h2>
              </label>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="product-category">
          <ul>
            <!-- <li class="add-prod-cate">
              <div class="input-group edit-categ">
                <input type="text" class="form-control" placeholder="Add Product Category" aria-describedby="basic-addon2">
                <span class="input-group-addon" id="basic-addon2">add</span>
              </div>
            </li> -->
            <li>
              <div class="input-group edit-btn">
                <a href="#" class="pull-right">
                  <label class="view">Edit</label>
                </a>
              </div>
            </li>
            <li>
              <div class="input-group trash-icon">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </div>
            </li>
          </ul>
        </div>

      </div>

    </div>

</div>

<div class="info info-edit">

      <div class="row">
          <div class="col-md-12 rounded-mid">
            <div class="rounded-pipes">
              <h4>City : Mumbai</h4>
            </div>
             <div class="edit-type-2" style="">
                <p><span>Edit</span> <span>|</span> <span>x</span> <span>|</span> <span>View</span> <span>|</span> <span>Assign</span></p>
            </div>
          </div>
      </div>

  <div class="row">
          <div class="col-md-12 rounded-mid perfo-tot">
            <p>Performance</p>
            <p>Total Orders Fulfilled</p>
            <p>Delays</p>
          </div>
      </div>
      <div class="row">
              <div class="col-md-12 rounded-mid rounded-mid-changes">
                <p>Deliver to:</p>
                <div class="row">
                  <div class="col-md-10">
                    <div class="table-responsive">
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th>Distance</th>
                            <th>Rates(Rs.)Buyer</th>
                            <th>Rates(Rs.)Tagboss</th>
                            <th>TagBoss Commission</th>
                            <th>Minimum Cost with each distance</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>0-100 km</td>
                            <td>200/kg</td>
                            <td>150/kg</td>
                            <td>50/kg</td>
                            <td>Rs. 10,000/-</td>
                          </tr>
                          <tr>
                            <td>101-300 km</td>
                            <td>200/kg</td>
                            <td>150/kg</td>
                            <td>50/kg</td>
                            <td>Rs. 20,000/-</td>
                          </tr>
                          <tr>
                            <td>301-500 km</td>
                            <td>150/kg</td>
                            <td>100/kg</td>
                            <td>50/kg</td>
                            <td>Rs. 30,000/-</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="edit-type-1 pull-right">
                       <p><span>Edit</span> <span>|</span> <span>x</span></p>
                   </div>
                  </div>
                </div>

              </div>
          </div>

          <div class="row">
                  <div class="col-md-12 rounded-mid rounded-mid-changes">

                      <div class="edit-type-1 pull-right">
                         <p><span>Edit</span> <span>|</span> <span>x</span></p>
                     </div>

                    <div class="row">
                      <div class="col-md-10">
                        <div class="table-responsive">
                          <table class="table table-bordered">
                            <thead>
                              <tr>
                                <th>Country</th>
                                <th>State</th>
                                <th>City</th>
                                <th>TagBoss Commission</th>
                                <th>Minimum Cost with each distance</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>India</td>
                                <td>Maharashtra</td>
                                <td>Mumbai</td>
                                <td>50/kg</td>
                                <td>Rs. 10,000/-</td>
                              </tr>
                              <tr>
                                <td>India</td>
                                <td>Karnataka</td>
                                <td>Belgaum</td>
                                <td>50/kg</td>
                                <td>Rs. 20,000/-</td>
                              </tr>
                              <tr>
                                <td>India</td>
                                <td>Gujarat</td>
                                <td>Ahemdabad</td>
                                <td>50/kg</td>
                                <td>Rs. 30,000/-</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>

                    </div>

                  </div>
              </div>

</div>

        </div>

        <div class="details">
              <div class="head">
                <div class="row">

              <div class="col-md-6">
                <div class="magic-form">
                  <div class="magic-resize">
                    <input class="magic-checkbox" type="checkbox" name="layout" id="3" value="option1">
                      <label class="text" for="3">
                        <h2>TBT002 ARIA TRAVELS</h2>
                      </label>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="product-category">
                  <ul>
                    <!-- <li class="add-prod-cate">
                      <div class="input-group edit-categ">
                        <input type="text" class="form-control" placeholder="Add Product Category" aria-describedby="basic-addon2">
                        <span class="input-group-addon" id="basic-addon2">add</span>
                      </div>
                    </li> -->
                    <li>
                      <div class="input-group edit-btn">
                        <a href="#" class="pull-right">
                          <label class="view">Edit</label>
                        </a>
                      </div>
                    </li>
                    <li>
                      <div class="input-group trash-icon">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                      </div>
                    </li>
                  </ul>
                </div>

              </div>

            </div>

        </div>
    </div>

<div class="details">
      <div class="head">
        <div class="row">

      <div class="col-md-6">
        <div class="magic-form">
          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" name="layout" id="4" value="option1">
              <label class="text" for="4">
                <h2>TBT003 SPENCER TRAVELS</h2>
              </label>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="product-category">
          <ul>
            <!-- <li class="add-prod-cate">
              <div class="input-group edit-categ">
                <input type="text" class="form-control" placeholder="Add Product Category" aria-describedby="basic-addon2">
                <span class="input-group-addon" id="basic-addon2">add</span>
              </div>
            </li> -->
            <li>
              <div class="input-group edit-btn">
                <a href="#" class="pull-right">
                  <label class="view">Edit</label>
                </a>
              </div>
            </li>
            <li>
              <div class="input-group trash-icon">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </div>
            </li>
          </ul>
        </div>

      </div>

    </div>

</div>
</div>

<div class="details">
      <div class="head">
        <div class="row">

      <div class="col-md-6">
        <div class="magic-form">
          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" name="layout" id="5" value="option1">
              <label class="text" for="5">
                <h2>TBT004 HANNA TRAVELS</h2>
              </label>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="product-category">
          <ul>
            <!-- <li class="add-prod-cate">
              <div class="input-group edit-categ">
                <input type="text" class="form-control" placeholder="Add Product Category" aria-describedby="basic-addon2">
                <span class="input-group-addon" id="basic-addon2">add</span>
              </div>
            </li> -->
            <li>
              <div class="input-group edit-btn">
                <a href="#" class="pull-right">
                  <label class="view">Edit</label>
                </a>
              </div>
            </li>
            <li>
              <div class="input-group trash-icon">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </div>
            </li>
          </ul>
        </div>

      </div>

    </div>

</div>
</div>


      </div>
</section>
