<section class="body-main transporters">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="input-group search-top">
          <input type="text" class="form-control" placeholder="Search by Transporter's Name or ID">
          <span class="input-group-btn">
            <i class="btn btn-default fa fa-search" aria-hidden="true"></i>
            <!-- <button class="btn btn-default" type="button">Go!</button> -->
          </span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="more-opt">
          <input type="checkbox">More
          <span class="caret"></span>
        </div>
      </div>
    </div>

    <div class="details">
      <div class="head">
        <div class="row">

      <div class="col-md-6">
        <div class="magic-form">
          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" name="layout" id="2" value="option1">
              <label class="text" for="2">
                <h2>TBT001 EMILY TRAVELS</h2>
              </label>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <!-- <div class="edit-categ">
          Kolkata | India
        </div> -->
      </div>

      <div class="col-md-1">
        <div class="input-group edit-btn">
          <button class="btn btn-text">Edit</button>
        </div>
      </div>

      <div class="col-md-1">
        <div class="input-group trash-icon">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </div>
      </div>

    </div>

</div>

<div class="info">

      <div class="row">
          <div class="col-md-12 rounded-mid">
            <div class="rounded-pipes">
              <h4>City : Mumbai</h4>
            </div>
             <div class="pull-right edit-type" style="">
                <p><span>Edit | x |</span> <span>View | Assign</span></p>
            </div>
          </div>
      </div>

  <div class="row">
          <div class="col-md-12 rounded-mid">
            asdfadsfasddf
          </div>
      </div>
      <div class="row">
              <div class="col-md-12 rounded-mid">
                <p>Deliver to:</p>
                <div class="row">
                  <div class="col-md-10">
                    <div class="table-responsive">
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th>Distance</th>
                            <th>Rates(Rs.)Buyer</th>
                            <th>Rates(Rs.)Tagboss</th>
                            <th>TagBoss Commission</th>
                            <th>Minimum Cost with each distance</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>0-100 km</td>
                            <td>200/kg</td>
                            <td>150/kg</td>
                            <td>50/kg</td>
                            <td>Rs. 10,000/-</td>
                          </tr>
                          <tr>
                            <td>101-300 km</td>
                            <td>200/kg</td>
                            <td>150/kg</td>
                            <td>50/kg</td>
                            <td>Rs. 20,000/-</td>
                          </tr>
                          <tr>
                            <td>301-500 km</td>
                            <td>150/kg</td>
                            <td>100/kg</td>
                            <td>50/kg</td>
                            <td>Rs. 30,000/-</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="edit-type-1 pull-right">
                       <p><span>Edit | x </span></p>
                   </div>
                  </div>
                </div>

              </div>
          </div>

          <div class="row">
                  <div class="col-md-12 rounded-mid">

                      <div class="edit-type-1 pull-right">
                         <p><span>Edit | x </span></p>
                     </div>

                    <div class="row">
                      <div class="col-md-10">
                        <div class="table-responsive">
                          <table class="table table-bordered">
                            <thead>
                              <tr>
                                <th>Country</th>
                                <th>State</th>
                                <th>City</th>
                                <th>TagBoss Commission</th>
                                <th>Minimum Cost with each distance</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>India</td>
                                <td>Maharashtra</td>
                                <td>Mumbai</td>
                                <td>50/kg</td>
                                <td>Rs. 10,000/-</td>
                              </tr>
                              <tr>
                                <td>India</td>
                                <td>Karnataka</td>
                                <td>Belgaum</td>
                                <td>50/kg</td>
                                <td>Rs. 20,000/-</td>
                              </tr>
                              <tr>
                                <td>India</td>
                                <td>Gujarat</td>
                                <td>Ahemdabad</td>
                                <td>50/kg</td>
                                <td>Rs. 30,000/-</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>

                    </div>

                  </div>
              </div>

</div>

        </div>

        <div class="details-1">
              <div class="head">
                <div class="row">

              <div class="col-md-10">
                <div class="magic-form">
                  <div class="magic-resize">
                    <input class="magic-checkbox" type="checkbox" name="layout" id="3" value="option1">
                      <label class="text" for="3">
                        <h2>TBT002 ARIA TRAVELS</h2>
                      </label>
                  </div>
                </div>
              </div>

              <!-- <div class="col-md-4">
                <div class="edit-categ">
                  Mumbai | India
                </div>
              </div> -->

              <div class="col-md-1">
                <div class="input-group edit-btn">
                  <button class="btn btn-text">Edit</button>
                </div>
              </div>

              <div class="col-md-1">
                <div class="input-group trash-icon">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </div>
              </div>

            </div>

        </div>
    </div>

<div class="details-1">
      <div class="head">
        <div class="row">

      <div class="col-md-10">
        <div class="magic-form">
          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" name="layout" id="4" value="option1">
              <label class="text" for="4">
                <h2>TBT003 SPENCER TRAVELS</h2>
              </label>
          </div>
        </div>
      </div>

      <!-- <div class="col-md-4">
        <div class="edit-categ">
          Delhi | India
        </div>
      </div> -->

      <div class="col-md-1">
        <div class="input-group edit-btn">
          <button class="btn btn-text">Edit</button>
        </div>
      </div>

      <div class="col-md-1">
        <div class="input-group trash-icon">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </div>
      </div>

    </div>

</div>
</div>

<div class="details-1">
      <div class="head">
        <div class="row">

      <div class="col-md-10">
        <div class="magic-form">
          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" name="layout" id="5" value="option1">
              <label class="text" for="5">
                <h2>TBT004 HANNA TRAVELS</h2>
              </label>
          </div>
        </div>
      </div>

      <!-- <div class="col-md-4">
        <div class="edit-categ">
          Ahmedabad | India
        </div>
      </div> -->

      <div class="col-md-1">
        <div class="input-group edit-btn">
          <button class="btn btn-text">Edit</button>
        </div>
      </div>

      <div class="col-md-1">
        <div class="input-group trash-icon">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </div>
      </div>

    </div>

</div>
</div>


      </div>
</section>
