<section class="body-main view_orders ">
  <div class="container-fluid">
    <div class="view_order">
              <div class="search-content">

                <div class="row">
                <div class="col-md-6" >
                    <div class="period ">
                    <span>FROM</span>
                    <div class="input-group date">
                      <input type="text" class="form-control cal-input" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default cal-btn" ng-click="open1()"><i class="fa fa-calendar"></i></button>
                      </span>
                    </div>

                     <span>TO</span>
                       <div class="input-group date">
                     <input type="text" class="form-control cal-input" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                     <span class="input-group-btn">
                       <button type="button" class="btn btn-default cal-btn" ng-click="open2()"><i class="fa fa-calendar"></i></button>
                     </span>
                   </div>
                 </div>
                </div>

                 <div class="col-md-6">
                   <div class="filter pull-right">
                     <label>Filter by Status</label>
                     <i class="fa fa-caret-down carrot" aria-hidden="true"></i>
                   </div>
                 </div>

              </div>
          </div>

          <div class="order-heading">

            <label>  ORDER ID TB00_1  </label>
            <div class="starred pull-left"><i class="fa fa-star" aria-hidden="true"></i></div>

          </div>

                    <div class="row">
                      <div class="col-md-8">
                        <div class="details">
                          <div class="head">
                            <h2>BUYER</h2>
                          </div>
                          <div class="info">
                            Mirage Steel Ltd <br>
                            Delivery Address:<br>
                            Contact:
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="details">
                          <div class="head">
                            <h2>ORDER</h2>
                          </div>
                          <div class="info">
                            Order ID 2329<br>
                            Dispatched Date: 4th June, 2016<br>
                            Dispatched Time: 11.51 AM<br>
                            Delivery Date: 14th June, 2016<br>
                            Delivery Time: 9.30 AM<br>
                          </div>
                        </div>
                      </div>
                    </div>

             <div class="row">
               <div class="col-md-12">
                 <div class="table-responsive">
                 <table class="table">
                   <thead>
                     <tr>
                       <th><strong>SR.NO</strong></th>
                       <th><strong>ORDER DETAILS</strong></th>
                       <th><strong>QTY</strong></th>
                       <th><strong>AMOUNT</strong></th>
                     </tr>
                   </thead>
                   <tbody>
                     <tr>
                       <td>John</td>
                       <td>Doe</td>
                       <td>john@example.com</td>
                       <td>john@example.com</td>
                     </tr>
                     <tr>
                       <td>Mary</td>
                       <td>Moe</td>
                       <td>mary@example.com</td>
                       <td></td>
                     </tr>
                  </tbody>
                 </table>
               </div>
               </div>
             </div>

             <div class="row">
               <div class="col-md-8">
                 <div class="comment-section">
                   <div class="form-group">
                      <label for="comment">COMMENTS</label>
                      <textarea class="form-control" rows="5" id="comment"></textarea>
                  </div>
                  <label class="add pull-right">ADD</label>
                </div>
               </div>
               <div class="col-md-4">
                 <div class="summary ">

                     <table class="table table-bordered summary-data">
                       <tbody>
                         <tr>
                           <td>CST(Central Service Tax)
                           </td>
                           <td>RS. xxx
                           </td>
                         </tr>
                         <tr>
                           <td>VAT(Value Added Tax)
                           </td>
                           <td>RS. xxx
                           </td>
                         </tr>
                         <tr >
                           <td >disount
                           </td>
                           <td >RS. xxx
                           </td>
                         </tr>
                         <tr >
                           <td>TOTAL AMOUNT
                           </td>
                           <td>RS. xxx
                           </td>
                         </tr>
                       </tbody>
                     </table>

                 </div>
               </div>
             </div>



        </div>

  </div>
</section>
