<section class="body-main view_orders ">
    <div class="container-fluid">
        <div class="view_order">
            <div class="search-content">

                <div class="row">
                    <div class="col-md-6">
                        <div class="period ">
                            <span>FROM</span>
                            <div class="input-group date date1">
                                <input type="text" class="form-control cal-input" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened"
                                    datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"
                                />
                                <span class="input-group-btn">
                        <button type="button" class="btn btn-default cal-btn" ng-click="open1()"><i class="fa fa-calendar"></i></button>
                      </span>
                            </div>

                            <span>TO</span>
                            <div class="input-group date">
                                <input type="text" class="form-control cal-input" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup2.opened"
                                    datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"
                                />
                                <span class="input-group-btn">
                       <button type="button" class="btn btn-default cal-btn" ng-click="open2()"><i class="fa fa-calendar"></i></button>
                     </span>
                            </div>
                            <span class="input-group-btn search-i">
                      <i class="btn btn-default fa fa-search" aria-hidden="true"></i>
                    </span>
                        </div>
                    </div>

                    <!--<div class="col-md-6">
                        <div class="filter text-center">
                            <label>Filter by Status</label>
                            <i class="fa fa-caret-down carrot" aria-hidden="true"></i>

                        </div>
                    </div>-->

                </div>
            </div>

            <div class="order-heading">

                <label> ORDER ID TB00_1 </label>
                <div class="starred pull-left"><i class="fa fa-star" aria-hidden="true"></i></div>
                <span class="pull-right refresh">Refresh</span>
                <span class="pull-right">Edit</span>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <div class="details">
                        <div class="head">
                            <h2>BUYER</h2>
                        </div>
                        <div class="info">
                            Mirage Steel Ltd
                            <br> Delivery Address:
                            <br> Contact:
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="details">
                        <div class="head">
                            <h2>ORDER</h2>
                        </div>
                        <div class="info">
                            Order ID 2329
                            <br> Dispatched Date: 4th June, 2016
                            <br> Dispatched Time: 11.51 AM
                            <br> Delivery Date: 14th June, 2016
                            <br> Delivery Time: 9.30 AM
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="alloted-bars">
                    <div class="progress">
                        <div class="progress-bar">
                            <div class="bar-color lgcolor"></div>
                            <div class="circle green-color">
                                <span>0</span>
                            </div>
                            <div class="mile">
                                <p>Order Placed</p>
                                <p>20/06/2016</p>
                            </div>
                        </div>
                        <div class="progress-bar">
                            <div class="bar-color lgcolors"></div>
                            <div class="circle blue-color">
                                <span>5</span>
                            </div>
                            <div class="mile">
                                <p>Payment of Order</p>
                                <p>25/06/2016</p>
                            </div>
                        </div>
                        <div class="progress-bar">
                            <div class="bar-color lgcolor"></div>
                            <div class="circle green-color">
                                <span>6</span>
                            </div>
                            <div class="mile">
                                <p>Order Dispatched</p>
                                <p>01/07/2016</p>
                            </div>
                        </div>
                        <div class="progress-bar">
                            <div class="bar-color"></div>
                            <div class="circles green-color">
                                <span>5</span>
                            </div>
                            <div class="mile miles">
                                <p>Order Delivered</p>
                                <p>07/07/2016</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="ordertable">
                        <table class="table table-bordered">
                            <thead class="text-uppercase font-karla-bold">
                                <th>Order Id</th>
                                <th colspan="2">Order details</th>
                                <th>Qty</th>
                                <!--<th>Transport</th>-->
                                <th>Amount</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>101_1</td>
                                    <td>Seller</td>
                                    <td>TBS002 - Raj Steel and Accessories</td>
                                    <td>4m</td>
                                    <!--<td>500</td>-->
                                    <td>50,000</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Product</td>
                                    <td>Seamless Round Pipes</td>
                                    <td></td>
                                    <!--<td></td>-->
                                    <td></td>
                                </tr>
                                <!--<tr>
                                    <td></td>
                                    <td>Transporter
                                        <br>XYZ transporter</td>
                                    <td>Dispatched from bhivandi.
                                        <br>Currently at check post.</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>-->
                                <tr>
                                    <td></td>
                                    <td>MOC</td>
                                    <td></td>
                                    <td></td>
                                    <!--<td></td>-->
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Standard/Grade </td>
                                    <td>ASTM A312</td>
                                    <td></td>
                                    <!--<td></td>-->
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>OD (inches)</td>
                                    <td></td>
                                    <td></td>
                                    <!--<td></td>-->
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>OD (mm)</td>
                                    <td>25.4mm</td>
                                    <td></td>
                                    <!--<td></td>-->
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>OD/NB</td>
                                    <td></td>
                                    <td></td>
                                    <!--<td></td>-->
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>SCH</td>
                                    <td>10</td>
                                    <td></td>
                                    <!--<td></td>-->
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Thickness (mm)</td>
                                    <td>3.02</td>
                                    <td></td>
                                    <!--<td></td>-->
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Total length (m)</td>
                                    <td>12mm</td>
                                    <td></td>
                                    <!--<td></td>-->
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Total wt of Stock (kgs)</td>
                                    <td></td>
                                    <td></td>
                                    <!--<td></td>-->
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Mode of transport</td>
                                    <td>1000</td>
                                    <td></td>
                                    <!--<td></td>-->
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Rate per meter</td>
                                    <td></td>
                                    <td></td>
                                    <!--<td></td>-->
                                    <td></td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td>CST % extra</td>
                                    <td>5%</td>
                                    <td></td>
                                    <!--<td>5%</td>-->
                                    <td>2500</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>VAT % extra</td>
                                    <td>12%</td>
                                    <td></td>
                                    <!--<td>12%</td>-->
                                    <td>6000</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Per KG Excise Modvat (inclusive in price/kg)</td>
                                    <td></td>
                                    <td></td>
                                    <!--<td></td>-->
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Theoritical Wt/mtr</td>
                                    <td></td>
                                    <td></td>
                                    <!--<td></td>-->
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Discount </td>
                                    <td></td>
                                    <td></td>
                                    <!--<td>10%</td>-->
                                    <td>500</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Logistics Service Provider</td>
                                    <td>pqrs</td>
                                    <td></td>
                                    <!--<td>10%</td>-->
                                    <td>500</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <div class="comment-section">
                        <div class="form-group">
                            <label for="comment">COMMENTS</label>
                            <textarea class="form-control" rows="5" id="comment"></textarea>
                        </div>
                        <label class="add pull-right">ADD</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="summary ">

                        <table class="table table-bordered summary-data">
                            <tbody>
                                <tr>
                                    <td>CST(Central Service Tax)
                                    </td>
                                    <td>RS. xxx
                                    </td>
                                </tr>
                                <tr>
                                    <td>VAT(Value Added Tax)
                                    </td>
                                    <td>RS. xxx
                                    </td>
                                </tr>
                                <tr>
                                    <td>disount
                                    </td>
                                    <td>RS. xxx
                                    </td>
                                </tr>
                                <tr>
                                    <td>TOTAL AMOUNT
                                    </td>
                                    <td>RS. xxx
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>



        </div>

    </div>
</section>