<section class="body-main view-request-buyers">
  <div class="container-fluid">
    <div class="view-request-buyer">
      <div class="search-content">
        <div class="row">
          <div class="col-md-6">
            <div class="input-group search-top">
              <input type="text" class="form-control" placeholder="Search by Seller ID or Name">
              <span class="input-group-btn">
                <i class="btn btn-default fa fa-search" aria-hidden="true"></i>
                <!-- <button class="btn btn-default" type="button">Go!</button> -->
              </span>
            </div>
          </div>

        </div>
     </div>


           <div class="request-buyer-details ">
             <div class="magic-form">
               <div class="magic-resize">
                 <input class="magic-checkbox" type="checkbox" name="layout" id="add-more" value="option1">
                   <label class="detail-heading" for="add-more">
                     TBS001 MIRAGE STEEL LTD.
                   </label>
               </div>
             </div>
               <div class="starred pull-right"><i class="fa fa-star" aria-hidden="true"></i></div>
                <div class="date pull-right">Date: 02 June, 2016 | Time: 11.51 PM</div>
           </div>
           <table class="table table-bordered view-request-buyer-table">
                 <thead>
                   <tr>
                     <th><strong>ADDRESS</strong></th>
                     <th><strong>WAREHOUSE ADDRESS</strong></th>
                     <th><strong>REFERENCES</strong></th>
                   </tr>
                 </thead>
                 <tbody>
                   <tr>
                     <td>15/18 Rhythm House,<br>
                         Kaala Ghoda, Fort,<br>
                         Mumbai - 400005<br>
                         India</td>
                     <td>15/18 Rhythm House,<br>
                         Kaala Ghoda, Fort,<br>
                         Mumbai - 400005<br>
                         India</td>
                     <td>TBS005<br>
                        Dhanera Steel Ltd<br>
                        TBB045<br>
                        Raj Steel and Accessories</td>
                    </tr>
                   </tr>
                 </tbody>
               </table>



               <div class="row">
                 <div class="col-md-offset-2 col-md-8">
                   <div class="alloted-bar">
                       <div class="progress">
                           <div class="progress-bar">
                             <div class="circles">
                                 <span>0%</span>
                             </div>
                               <div class="bar-color lgcolor"></div>
                               <div class="circle">
                                   <span>25%</span>
                               </div>

                           </div>
                           <div class="progress-bar">
                               <div class="bar-color lgcolors"></div>
                               <div class="circle">
                                   <span>50%</span>
                               </div>

                           </div>
                           <div class="progress-bar">
                               <div class="bar-color lgcolor"></div>
                               <div class="circle blue-color">
                                   <span>75%</span>
                               </div>

                           </div>
                           <div class="progress-bar">
                               <div class="bar-color"></div>
                               <div class="circle blue-color">
                                   <span>100%</span>
                               </div>

                           </div>
                           <!-- <div class="progress-bar">
                               <div class="bar-color"></div>
                               <div class="circle">
                                   <span>5</span>
                               </div>

                           </div> -->
                       </div>
                   </div>
                 </div>

             </div>



               <div class="certifications">
                 <div class="certification-header">
                   <p >CERTIFICATIONS</p>
                 </div>
                 <div class="row">
                   <div class="col-md-4 col-1">
                     <div class="abc">
                       <div><p>VAT NO. XXXXXX</p></div>
                       <div class="cert-image">
                       </div>
                       <div class="verified"><p>VERIFIED</p></div>
                      <div class="hide pending"><p>VERIFICATION PENDING</p></div>
                     </div>
                   </div>
                   <div class="col-md-4 col-2">
                     <div class="abc">
                       <div><p>CST NO. XXXXXX</p></div>
                       <div class="cert-image">
                       </div>
                       <div class="verified"><p>VERIFIED</p></div>
                      <div class="hide pending"><p>VERIFICATION PENDING</p></div>
                     </div>
                   </div>
                   <div class="col-md-4 col-3">
                     <div class="abc">
                       <div><p>PAN NO. XXXXXX</p></div>
                       <div class="cert-image">
                       </div>
                       <div class="hide verified"><p>VERIFIED</p></div>
                        <div class="pending"><p>VERIFICATION PENDING</p></div>
                     </div>
                   </div>
                 </div>
               </div>

              <div class="row comment-area">
                <!-- <div class="form-inline"> -->
                   <div class="col-md-offset-3 col-md-6 form-group form-inline">
                        <label class="comment pull-left"for="comment">Comment:</label>
                        <textarea class="form-control" rows="5" id="comment"></textarea>
                  </div>
                <!-- </div> -->
              </div>

            <div class="accept-reject">
              <button type="button" class="btn btn-primary">ACCEPT</button>
              <button type="button" class="btn btn-primary">REJECT</button>

            </div>

    </div>
  </div>
</section>
