<section class="body-main view-products">
  <div class="container-fluid">
    <div class="view-product">
      <div class="search-content">
        <div class="row">
          <div class="col-md-6">
            <div class="input-group search-top">
              <input type="text" class="form-control" placeholder="Search by Inspector’s Name or ID">
              <span class="input-group-btn">
                  <i class="btn btn-default fa fa-search" aria-hidden="true"></i>
                  <!-- <button class="btn btn-default" type="button">Go!</button> -->
                </span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="excel-upload ">
              <img src="img/excel-icon.png">
              <label>CONVERT TO EXCEL</label>
            </div>
            <div class="select-prod pull-right">
              <select>
                      <option value="all">ALL</option>
                      <option value="saab">Approved</option>
                      <option value="opel">Rejected</option>
                      <option value="audi">Pending</option>
                    </select>
            </div>
          </div>
        </div>
      </div>
      <div class="view-products-details ">
        <label class="detail-heading">REQUEST FOR INSPECTION</label>
        <div class="starred pull-right"><i class="fa fa-star" aria-hidden="true"></i></div>
        <div class="date pull-right">Date: 02 June, 2016 | Time: 11.51 PM</div>
      </div>
      <div ng-if="getAllInventory.length==0">
        <h3 class="text-center">No data Found</h3>
      </div>
      <div ng-if="getAllInventory==undefined">
        <h3 class="text-center">Loading...</h3>
      </div>
      <table ng-if="getAllInventory.length>0" class="table table-bordered inspection-table">
        <thead>
          <tr>
            <th><strong>NAME</strong></th>
            <th><strong>PRODUCT</strong></th>
            <th><strong>QUANTITY</strong></th>
            <th><strong>UPLOAD REPORT</strong></th>
            <th><strong>REMARKS</strong></th>
        </thead>
        <tbody>
          <tr ng-repeat="inventory in getAllInventory">
            <form name="reportform{{$index}}">
              <td>
                <div class="magic-form">
                  <div class="magic-resize">
                    <input class="magic-checkbox" type="checkbox" name="layout{{$index}}" id="add-one{{$index}}" value="{{inventory._id}}">
                    <label class="text" for="add-one{{$index}}">
                            <p class="comp-name">  {{inventory.seller.firmName}}  </p>
                            <p>
                             {{inventory.seller.companyAddress}}</p>
                          </label>
                  </div>
                </div>
              </td>
              <td>
                <ul class="prod-details">
                  <li> {{inventory.brand.name}}, {{inventory.moc.name}} </li>
                  <li> {{inventory.category.name}}, {{inventory.gradesstandards.name}}</li>
                  <!--<li>  SCH           </li>
                        <li>  OD in mm   </li>-->
                  <li> {{inventory.thickness}} </li>
                  <li> {{inventory.length}} </li>
                  <li> {{inventory.width}} </li>
                </ul>
              </td>
              <td>{{inventory.quantityInNos}}</td>
              <td>
                <div>
                  <!--<button type="button" class="btn btn-primary assign-btn">PENDING</button>-->
                  <p ng-if="inventory.status!=='Assigned'">Status: {{inventory.status}}</p>
                  <p ng-if="inventory.status==='Assigned'">Status: Pending<br/>
                    <b ng-if="inventory.duedate"> Due On : {{inventory.duedate | date:'mediumDate'}}</b></p>
                  <!--<input class="btn btn-primary assign-btn" type="file" />-->
                  <div ng-if="inventory.status==='Assigned'" class="assign-btn1">
                    <upload-image ng-model="inventory.report" ng-callback="uploadReport" no-view></upload-image>
                  </div>
                  <!--</p>-->
                </div>
              </td>
              <td>
                <input type="hidden" ng-model="inventory._id" />
                <textarea name="inventoryremark{{$index}}" ng-model="inventory.remark" required>{{inventory.remark}}</textarea>
                <!--<input ng-if="inventory.status==='Assigned'" class="btn btn-primary assign-btn" value="Submit"/>-->
                <button type="submit" ng-if="inventory.status==='Assigned'" ng-disabled="inventory.report==null || inventory.remark==null"
                  ng-click="sendReport(inventory)" class="btn btn-primary assign-btn">Submit Report</button>
              </td>
            </form>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>