<section class="body-main view-buyers">
  <div class="container-fluid">
    <div class="view-buyer">
      <div class="search-content">
    <div class="row">
      <div class="col-md-6">
        <div class="period ">
                    <span>FROM</span>
                    <div class="input-group date">
                      <input type="text" class="form-control cal-input ng-pristine ng-valid ng-isolate-scope ng-not-empty ng-valid-required ng-valid-date ng-touched" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" required="required"><div uib-datepicker-popup-wrap="" ng-model="date" ng-change="dateSelection(date)" template-url="uib/template/datepickerPopup/popup.html" class="ng-not-empty ng-invalid ng-invalid-date-disabled" style="">
  <!-- ngIf: isOpen -->
                       </div>
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default cal-btn" ng-click="open1()"><i class="fa fa-calendar"></i></button>
                      </span>
                    </div>

                     <span>TO</span>
                       <div class="input-group date">
                     <input type="text" class="form-control cal-input ng-pristine ng-untouched ng-valid ng-isolate-scope ng-not-empty ng-valid-required ng-valid-date" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="dt" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" required="required"><div uib-datepicker-popup-wrap="" ng-model="date" ng-change="dateSelection(date)" template-url="uib/template/datepickerPopup/popup.html" class="ng-not-empty ng-valid">
  <!-- ngIf: isOpen -->
                       </div>
                     <span class="input-group-btn">
                       <button type="button" class="btn btn-default cal-btn" ng-click="open2()"><i class="fa fa-calendar"></i></button>
                     </span>
                   </div>
                   <span class="input-group-btn search-i">
                      <i class="btn btn-default fa fa-search" aria-hidden="true"></i>
                    </span>
                 </div>
        </div>

          <div class="col-md-6">
            <div class="more-opt pull-right">
              <div class="magic-form">
                <div class="magic-resize">
                  <input class="magic-checkbox" type="checkbox" name="layout" id="add-one" value="option1">
                    <label class="detail-heading" for="add-one">
                      More
                    </label>
                </div>
              </div>
              <i class="fa fa-caret-down carrot" aria-hidden="true"></i>
            </div>
        </div>
      </div>
    </div>

      <div class="buyer-details ">
        <div class="magic-form">
          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" name="layout" id="add-one" value="option1">
              <label class="detail-heading" for="add-one">
                TBS001 MIRAGE STEEL LTD.
              </label>
          </div>
        </div>
          <div class="starred pull-right"><i class="fa fa-star" aria-hidden="true"></i></div>
           <div class="date pull-right">02 June, 2016 | 11.51 PM</div>
      </div>

      <div class="row">
        <div class="stat-row-1">
        <div class="col-md-4 stat-cols">
          <div class ="order-content">
            <div class="diagram"></div>
            <p class="text-center">ORDER<p>
          </div>
        </div>
        <div class="col-md-4 stat-cols">
          <div class ="refund-content">
            <div class="diagram"></div>
            <p class="text-center">REFUND REQUEST<p>
          </div>
        </div>
        <div class="col-md-4 stat-cols">
          <div class ="address-content">
            <p>ADDRESS:<p>
          </div>
        </div>
      </div>
      </div>

      <div class="stat-row-2">
      <div class="row">
        <div class="col-md-8 stat-cols ">
          <div class ="sale-content ">
            <div class="diagram"></div>
              <p class="text-center">SALE<p>
          </div>
        </div>
        <div class="col-md-4 stat-cols">
          <div class ="frequancy-content">
            <div class="diagram"></div>
              <p class="text-center">FREQUANTLY SOLD<p>
          </div>
        </div>
      </div>
    </div>

    <table class="table table-bordered">
    <thead>
      <tr>
        <th>ORDER ID</th>
        <th>ORDER DETAIL</th>
        <th>SALE TILL DATE</th>
        <th>BUYER</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>TBO002</td>
        <td>200 - SS - ASTM 303H</td>
        <td>Rs. 7,85,587/-</td>
        <td>Raj SteelRaj Steel</td>
      </tr>
      <tr>
        <td>TBO002</td>
        <td>200 - SS - ASTM 303H</td>
        <td>Rs. 7,85,587/-</td>
        <td>Raj SteelRaj Steel</td>
      </tr>
      <tr>
        <td>TBO002</td>
        <td>200 - SS - ASTM 303H</td>
        <td>Rs. 7,85,587/-</td>
       <td>Raj SteelRaj Steel</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>Rs. 24,85,587/-</td>
       <td></td>
      </tr>
    </tbody>
  </table>


   </div>
 </div>
</section>
