<section class="body-main view-request-buyers">
  <div class="container-fluid">
    <div class="view-request-buyer">
      <div class="search-content">
    <div class="row">
      <div class="col-md-6">
        <div class="period ">
                    <span>FROM</span>
                    <div class="input-group date">
                      <input type="text" class="form-control cal-input ng-pristine ng-valid ng-isolate-scope ng-not-empty ng-valid-required ng-valid-date ng-touched" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" required="required"><div uib-datepicker-popup-wrap="" ng-model="date" ng-change="dateSelection(date)" template-url="uib/template/datepickerPopup/popup.html" class="ng-not-empty ng-invalid ng-invalid-date-disabled" style="">
  <!-- ngIf: isOpen -->
                       </div>
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default cal-btn" ng-click="open1()"><i class="fa fa-calendar"></i></button>
                      </span>
                    </div>

                     <span>TO</span>
                       <div class="input-group date">
                     <input type="text" class="form-control cal-input ng-pristine ng-untouched ng-valid ng-isolate-scope ng-not-empty ng-valid-required ng-valid-date" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="dt" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" required="required"><div uib-datepicker-popup-wrap="" ng-model="date" ng-change="dateSelection(date)" template-url="uib/template/datepickerPopup/popup.html" class="ng-not-empty ng-valid">
  <!-- ngIf: isOpen -->
                       </div>
                     <span class="input-group-btn">
                       <button type="button" class="btn btn-default cal-btn" ng-click="open2()"><i class="fa fa-calendar"></i></button>
                     </span>
                   </div>
                   <span class="input-group-btn search-i">
                      <i class="btn btn-default fa fa-search" aria-hidden="true"></i>
                    </span>
                 </div>
               </div>
             </div>
           </div>

           <div class="request-buyer-details ">

               <div class="starred pull-right"><i class="fa fa-star-o" aria-hidden="true"></i></div>
                <div class="date pull-right">02 June, 2016 | 11.51 PM</div>
           </div>
           <table class="table table-bordered view-request-buyer-table">
                 <thead>
                   <tr>
                     <th><strong>ADDRESS</strong></th>
                     <th><strong>WAREHOUSE ADDRESS</strong></th>
                     <th><strong>REFERENCES</strong></th>
                   </tr>
                 </thead>
                 <tbody>
                   <tr>
                     <td>15/18 Rhythm House,
                         Kaala Ghoda, Fort,
                         Mumbai - 400005
                         India</td>
                     <td>15/18 Rhythm House,
                         Kaala Ghoda, Fort,
                         Mumbai - 400005
                         India</td>
                     <td>TBS005
                        Dhanera Steel Ltd
                        TBB045
                        Raj Steel and Accessories</td>
                    </tr>
                   </tr>
                 </tbody>
               </table>

               <div class="progress">
                 progress bar in percentage.....
               </div>

               <div class="certifications">
                 <div class="certification-header">
                   <p >CERTIFICATIONS</p>
                 </div>
                 <div class="row">
                   <div class="col-md-4 col-1">
                     <div class="abc">
                       <div><p>VAT NO. XXXXXX</p></div>
                       <div class="cert-image">
                       </div>
                       <div><p>verified</p></div>
                     </div>
                   </div>
                   <div class="col-md-4 col-2">
                     <div class="abc">
                       <div><p>CST NO. XXXXXX</p></div>
                       <div class="cert-image">
                       </div>
                       <div><p>verified</p></div>
                     </div>
                   </div>
                   <div class="col-md-4 col-3">
                     <div class="abc">
                       <div><p>PAN NO. XXXXXX</p></div>
                       <div class="cert-image">
                       </div>
                        <div><p>verified</p></div>
                     </div>
                   </div>
                 </div>
               </div>

              <div class="comment-area">
               <div class="form-group">
                <label class="comment pull-left"for="comment">Comment:</label>
                <textarea class="form-control" rows="5" id="comment"></textarea>
              </div>
            </div>

            <div class="accept-reject">
              <button type="button" class="btn btn-primary">Accept</button>
              <button type="button" class="btn btn-primary">Reject</button>

            </div>

    </div>
  </div>
</section>
