<section class="side-menu">
  <div class="sidebar">
    <ul class="nav nav-sidebar">
      <li class="active">
        <a ui-sref="orders">Orders <span class="sr-only">(current)</span></a>
      </li>
      <li><a ui-sref="payment-to-sellers">Payment to Seller</a></li>
      <li><a ui-sref="request-sellers">Seller Request</a></li>
      <li><a ui-sref="request-buyers">Buyer Request</a></li>
      <li><a ui-sref="refund-to-buyers">Refund Request</a></li>
      <li><a ui-sref="sellers">Sellers</a></li>
      <li><a ui-sref="buyers">Buyers</a></li>
      <li><a ui-sref="view-products">Products</a></li>
      <li><a ui-sref="categories">Categories</a></li>
      <li><a ui-sref="inspection-agencies">Inspection Request</a></li>
      <li><a ui-sref="transporters">Transporters</a></li>
      <li><a ui-sref="brands">Brand/Manufacture</a></li>
      <li><a ui-sref="ads">Ads</a></li>
      <li><a>Settings</a></li>
      <li><a>Today's Prices</a></li>
      <li><a ui-sref="reports">Reports</a></li>
    </ul>
  </div>
</section>