<section class="side-menu">
  <div class="sidebar">
    <ul class="nav nav-sidebar">
      <li class="active">
        <a ui-sref="orders">Orders <span class="sr-only">(current)</span></a>
      </li>
      <li><a ui-sref="paymentseller">Payment to Seller</a></li>
      <li><a ui-sref="request-sellers">Seller Request</a></li>
      <li><a ui-sref="request-buyers">Buyer Request</a></li>
      <li><a ui-sref="refund-to-buyers">Refund Request</a></li>
      <li><a ui-sref="sellers">Sellers</a></li>
      <li><a ui-sref="buyers">Buyers</a></li>
      <li><a ui-sref="material-construct">Shape/MOC/Grade</a></li>
      <li><a ui-sref="add-inch">Add Inch</a></li>
      <li><a ui-sref="add-schedule">Add Schedule</a></li>
      <li><a ui-sref="add-thickness">Add Thickness</a></li>
      <li><a ui-sref="add-odmm">Add ODMM</a></li>
      <li><a ui-sref="category-price-range">Shapes</a></li>
      <li><a ui-sref="categories">Type</a></li>
      <li><a ui-sref="product-approval">Product Approvals</a></li>
      <li><a ui-sref="view-seller-product">View Seller Products</a></li>
      <li><a ui-sref="inspection-agencies">Inspection Agency</a></li>
      <!--<li><a ui-sref="transporters">Transporters</a></li>-->
      <li><a ui-sref="brands">Brand/Manufacturer</a></li>
      <li><a ui-sref="homebanner">Home Banner</a></li>
      <li><a ui-sref="testimonials">Testimonials</a></li>
      <li><a ui-sref="about">About</a></li>
      <li><a ui-sref="product-banner">Product Banner</a></li>
      <li><a ui-sref="view-contact">Contact</a></li>
      <li><a ui-sref="view-career">Careers</a></li>
      <li><a ui-sref="view-press">Press</a></li>
      <li><a ui-sref="ads">Ads</a></li>
      <li><a ui-sref="setting">Settings</a></li>
      <!--<li><a>Today's Prices</a></li>-->
      <li><a ui-sref="reports">Reports</a></li>
      <li><a ui-sref="coupon-code">Coupon Code</a></li>
    </ul>
  </div>
</section>