<section>
    <div class="inspec">
        <div class="close-img" ng-click="$close();">
            <img src="img/closebtn.png" alt="">
        </div>
        <div class="modal-header">
            <h3 class="modal-title text-center txt-head">Add Brand/Manufacturer</h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="">Brand</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="">Logo</label>
                    <div class="col-sm-9">
                        <div class="input-group attach">
                            <div class="filename">
                                <p ng-callback="changeit">12.jpg</p>
                            </div>
                            <div class="input-group-addon upload">
                                <upload-image ng-model="formData.resume" ng-callback="changeit" no-view></upload-image>
                            </div>
                        </div>
                        <!--<div class="filename">
                            <p>image.jpg</p>
                            <div class="assign-btn1">
                                <upload-image ng-model="inventory.report" ng-callback="uploadReport" no-view></upload-image>
                            </div>
                        </div>-->
                        <!--<div><i class="fa fa-upload" aria-hidden="true"></i></div>-->
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="">Country</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="inputPassword3">Description</label>
                    <div class="col-sm-10">
                        <div class="txt-area">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum molestias provident inventore
                                omnis eligendi maxime nemo perferendis rerum, dolorum sapiente asperiores porro repellendus
                                eius, amet quia doloremque voluptatibus reprehenderit repudiandae.</p>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="">Status</label>
                    <div class="col-sm-9">
                        <select name="" id="" class="form-control">
                        <option value="">Accepted</option>
                        <option value="">Rejected</option>
                    </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <label class="control-label" for="">Show on Homepage</label>
                        <div class="checkbox">
                            <label class="chk-spac">
                                <input type="checkbox">Yes
                            </label>
                            <label class="chk-spac">
                                <input type="checkbox">No
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-5 col-sm-7">
                        <button class="btn btn-primary" ng-click="ok()">SUBMIT</button>
                    </div>
                </div>
            </form>
        </div>
        <!--<div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>-->
    </div>
</section>