<section>
	<div class="inspec">
		<div class="close-img" ng-click="$close();">
			<img src="img/closebtn.png" alt="">
		</div>
		<div class="modal-header">
			<h3 class="modal-title text-center txt-head">Forgot Password?</h3>
		</div>
		<div class="modal-body">
			<form class="form-horizontal" role="form" name="forgotpasswd">
				<div class="form-group">
					<div class="col-md-offset-1 col-md-10">
						<input type="email" class="form-control" name="email" ng-model="email" required>
						<div class="error-msg" ng-if="forgotpasswd.email.$invalid && forgotpasswd.email.$touched">Please Enter Email Id.</div>

					</div>
				</div>
				<div class="row" ng-show="forgotpasswd.$valid">
					<div class="text-center">
						<button ng-click="forgotPasswordSubmit(email)" class="btn btn-default">Submit</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>