<section>
    <div class="inspec">
        <div class="close-img" ng-click="$close();">
            <img src="img/closebtn.png" alt="">
        </div>
        <div class="modal-header">
            <h3 class="modal-title text-center txt-head">View Contact</h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="">Id</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="">Firstname</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="">Lastname</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="">Email Id</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="">Mobile</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="">Type Of Query</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="">Comment</label>
                    <div class="col-sm-8">
                        <div class="txt-contact">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum molestias provident inventore
                                omnis eligendi maxime nemo perferendis rerum, dolorum sapiente asperiores porro repellendus
                                eius, amet quia doloremque voluptatibus reprehenderit repudiandae.</p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!--<div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>-->
    </div>
</section>