<section class="coupon-code">
  <div class="container-fluid">

    <form>
      <h4>
        Add Coupon Code
      </h4>
    <div class="details-1">
      <div class="head-1">
        <div class="row">

      <div class="col-md-5">
        <label>Coupon Code</label>

      </div>

      <div class="col-md-6">
        <div class="input-size">
          <input type="text" class="form-control">
        </div>
      </div>

    </div>

</div>

<div class="head-1">
  <div class="row">
    <div class="col-md-5">
      <label>Type</label>
    </div>

    <div class="col-md-6">
      <div class="">
        <select class="" name="">
          <option value="volvo">Percent</option>
          <option value="saab">Amount</option>
        </select>
      </div>
    </div>

    <div class="col-md-2">

    </div>
  </div>
</div>

<div class="head-1">
  <div class="row">
    <div class="col-md-5">
      <label>Amount</label>
    </div>

    <div class="col-md-6">
      <div class="">
        <input type="text" class="form-control">
      </div>
    </div>

    <div class="col-md-2">

    </div>
  </div>
</div>

<div class="head-1">
  <div class="row">
    <div class="col-md-5">
      <label>Min Order Amount</label>
    </div>

    <div class="col-md-6">
      <div class="">
        <input type="text" class="form-control">
      </div>
    </div>

    <div class="col-md-2">

    </div>
  </div>
</div>

<div class="head-1">
  <div class="row">
    <div class="col-md-5">
      <label>Max Discount Value</label>
    </div>

    <div class="col-md-6">
      <div class="">
        <input type="text" class="form-control">
      </div>
    </div>

    <div class="col-md-2">

    </div>
  </div>
</div>

<div class="head-1">
  <div class="row">
    <div class="col-md-5">
      <label>For</label>
    </div>

    <div class="col-md-6">
      <div class="">
        <input type="text" class="form-control">
      </div>
    </div>

    <div class="col-md-2">

    </div>
  </div>
</div>

<div class="head-1">
  <div class="row">
    <div class="col-md-5">
      <label>Start date</label>
    </div>

    <div class="col-md-6">
      <div class="">
        <input type="text" class="form-control">
      </div>
    </div>

    <div class="col-md-2">

    </div>
  </div>
</div>

<div class="head-1">
  <div class="row">
    <div class="col-md-5">
      <label>End date</label>
    </div>

    <div class="col-md-6">
      <div class="">
        <input type="text" class="form-control">
      </div>
    </div>

    <div class="col-md-2">

    </div>
  </div>
</div>

<div class="no-border head-1">
  <div class="row">
    <div class="col-md-5">
      <label>City</label>
    </div>

    <div class="col-md-6">
      <div class="">
        <input type="text" class="form-control">
      </div>
    </div>


  </div>
</div>


<div class="no-border head-1">
  <div class="row">


    <div class="col-md-2 pull-right">
      <div class="input-group add-btn pull-right">
        <a href="">
          <label class="view">Add</label>
        </a>
      </div>
    </div>
  </div>
</div>


        </div>

</form>





      </div>
</section>
