<section>
    <div class="inspec">
        <div class="close-img" ng-click="$close();">
            <img src="img/closebtn.png" alt="">
        </div>
        <div class="modal-header">
            <h3 class="modal-title text-center txt-head">Refund Request Details</h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="">Status</label>
                    <div class="col-sm-9">
                        <select name="" id="" class="form-control">
                        <option value="">Attended</option>
                        <option value="">Pending</option>
                        <option value="">Resolved</option>
                        <option value="">Accepted</option>
                        <option value="">Rejected</option>
                    </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="inputPassword3">Reason</label>
                    <div class="col-sm-10">
                        <div class="txt-area">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum molestias provident inventore
                                omnis eligendi maxime nemo perferendis rerum, dolorum sapiente asperiores porro repellendus
                                eius, amet quia doloremque voluptatibus reprehenderit repudiandae.</p>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="inputPassword3">TagBoss Reply</label>
                    <div class="col-sm-10">
                        <textarea rows="4" cols="51" class="txt-area">At w3schools.com you will learn how to make a website. We offer free tutorials in all web development technologies. 
                        </textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-5 col-sm-7">
                        <button class="btn btn-primary" ng-click="ok()">SUBMIT</button>
                    </div>
                </div>
            </form>
        </div>
        <!--<div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>-->
    </div>
</section>